.big-input-wrapper {
  position: relative;
  .error {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    transform: translateY(100%);
    margin-bottom: 0px;
  }
}
.big-input {
  display: flex;
  flex-wrap: nowrap;
  height: 60px;
  border: 1px solid $skin;
  position: relative;
  overflow: hidden;
  &-field, &-btn {
    height: 100%;
  }
  > span {
    width: 100%;
  }
  &-field {
    width: 100%;
    input {
      height: 100%;
      background-color: transparent;
      color: $skin !important;
      padding-left: 24px;
      width: 100%;
      border: unset;
      &:focus {
        border: unset;
        outline: none;
      }
      &::placeholder {
        color: $skin !important;
      }
    }
  }
  &-btn.no-bg {
    border-left: 1px solid $skin;
    max-width: 109px;
    flex: 0 0 109px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0px;
    svg {
      path {
        transition: fill 0.34s ease 0.12s;
      }
    }
    &::before {
      background-color: $skin;
    }
    &:hover {
      svg {
        // stroke: $black;
        // color: $black;
        path {

          fill: $black;
        }
      }
    }
  }
  &-thanks {
    position: absolute;
    left: -101%;
    width: 100%;
    height: 100%;
    background-color: $black;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    transition: left 0.34s ease, color 0.34s ease 0.5s;
    color: $black;
  }
  &.form-done {
    .big-input-thanks {
      left: 0px;
      color: $skin;
    }
  }
  &.form-error {
    border-color: $error;
    .big-input-btn {
      border-color: $error;
    }
  }
}
