.br-input {
  position: relative;
  display: flex;
  border: unset;
  border-bottom: 1px solid rgba($color: $black, $alpha: 0.12);
  border-radius: 0px;
  box-shadow: unset;
  padding-left: 0px;
  padding-bottom: 8px;
  padding-top: 8px;
  transition: border 0.3s ease-in-out;
  &--disabled {
    &, * {
      cursor:  not-allowed;
    }
  }
  &:not(&--disabled) {
    &, input, label {
      cursor: text;
    }
  }
  > input {
    // height: 20px;
    width: 100%;
    border: none !important;
    outline: none !important;
    padding: 0;
    background-color: transparent;
  }
  > label {
    transition: transform .2s ease, color .2s ease, font-size .2s ease;
    position: absolute;
    margin-top: 0px;
    line-height: 140%;
    color: rgba($color: $black, $alpha: 0.5);
  }
  > {
    input, label {
      // font-size: 14px;
      // letter-spacing: 0.01em;
      // color: $black;
    }
  }
  &--is-focused {
    border-color: $black !important;
  }
  &--is-focused, &--is-dirty {
    > label {
      transform: translateY(-24px);
      font-size: 12px;
    }
  }
  &--has-error {
    border-color: $error !important;
    > label {
      color: $error;
    }
  }
}

