.label-cbx {
  user-select: none;
  cursor: pointer;
  margin-bottom: 0;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  align-content: center;
  input:checked {

    & + .checkbox {
      border-color: $black;
      svg {
        background-color: $black;
        .border {
          // fill: $black;
        }
        .check {
          stroke-dashoffset: 177px;
        }
      }
  }
  }
  &:hover {
    .checkbox {
      svg {
        .border {
          stroke-dashoffset: 0;
        }
      }
    }
  }

  .checkbox {
    align-self: baseline;
    position: relative;
    top: 2px;
    float: left;
    margin-right: 8px;
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    max-height: 24px;
    max-width: 24px;
    border: 1px solid rgba($color: $black, $alpha: 0.12);
    border-radius: 0px;
    svg {
      position: absolute;
      top: -1px;
      left: -1px;
      background-color: transparent;
      transition: background-color 0.3s ease 0.3s;
      .border {
        fill: none;
        stroke: $black;
        stroke-width: 1;
        stroke-dasharray: 151px;
        stroke-dashoffset: 151px;
        transform: translate(0,0);
        will-change: stroke-dashoffset;
        transition: stroke-dashoffset 0.9s ease;
      }
      .check {
        fill: none;
        stroke: #FFF;
        stroke-width: 2;
        stroke-dasharray: 44px;
        // toDo big offest to small
        stroke-dashoffset: 155px;
        transform: translate(0,0);
        will-change: stroke-dashoffset;
        transition: stroke-dashoffset 0.8s ease;
      }
    }
  }
  .b-tooltip {
    margin-left: auto;
    img {
      width: 16px;
    }
  }
  .cntr {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    text-align: center;
  }

  .invisible {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    opacity: 0;
  }
}


