.error {
  background: rgba($color: $error, $alpha: 0.2);
  color: $error;
  margin-top: -8px;
  margin-bottom: 8px;
  font-size: 12px;
  padding: 4px;
  font-family: $body-font;
  font-weight: 400;
}
