@font-face {
  font-family: 'Lexend Deca';
  src: url('/fonts/LexendDeca-Regular.woff2') format('woff2'),
       url('/fonts/LexendDeca-Regular.woff') format('woff'),
       url('/fonts/LexendDeca-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Lexend Deca';
  src: url('/fonts/LexendDeca-Light.woff2') format('woff2'),
       url('/fonts/LexendDeca-Light.woff') format('woff'),
       url('/fonts/LexendDeca-Light.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Lexend Deca';
  src: url('/fonts/LexendDeca-SemiBold.woff2') format('woff2'),
       url('/fonts/LexendDeca-SemiBold.woff') format('woff'),
       url('/fonts/LexendDeca-SemiBold.ttf') format('truetype');
       font-weight: 600;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Didot';
  src: url('/fonts/Didot-Regular.woff2') format('woff2'),
       url('/fonts/Didot-Regular.woff') format('woff'),
       url('/fonts/Didot-Regular.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Didot';
  src: url('/fonts/Didot-Italic.woff2') format('woff2'),
       url('/fonts/Didot-Italic.woff') format('woff'),
       url('/fonts/Didot-Italic.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: italic;
}



/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * kazimir:
 *   - http://typekit.com/eulas/00000000000000003b9b01af
 *   - http://typekit.com/eulas/00000000000000003b9b01b0
 *   - http://typekit.com/eulas/00000000000000003b9b01b1
 *   - http://typekit.com/eulas/00000000000000003b9b01b2
 *   - http://typekit.com/eulas/00000000000000003b9b01b3
 *   - http://typekit.com/eulas/00000000000000003b9b01b4
 *
 * © 2009-2022 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2022-04-20 13:11:58 UTC"}*/


@font-face {
  font-family:'kazimir';
  src:url("https://use.typekit.net/af/a655f6/00000000000000003b9b01af/27/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/a655f6/00000000000000003b9b01af/27/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/a655f6/00000000000000003b9b01af/27/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n3&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
  font-family:'kazimir';
  src:url("https://use.typekit.net/af/5ed4f5/00000000000000003b9b01b0/27/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/5ed4f5/00000000000000003b9b01b0/27/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/5ed4f5/00000000000000003b9b01b0/27/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=i3&v=3") format("opentype");
  font-display:auto;font-style:italic;font-weight:300;font-stretch:normal;
}

@font-face {
  font-family:'kazimir';
  src:url("https://use.typekit.net/af/d3af7e/00000000000000003b9b01b1/27/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/d3af7e/00000000000000003b9b01b1/27/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/d3af7e/00000000000000003b9b01b1/27/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n4&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
  font-family:'kazimir';
  src:url("https://use.typekit.net/af/4612c5/00000000000000003b9b01b2/27/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/4612c5/00000000000000003b9b01b2/27/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/4612c5/00000000000000003b9b01b2/27/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=i4&v=3") format("opentype");
  font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
  font-family:'kazimir';
  src:url("https://use.typekit.net/af/e3ddb0/00000000000000003b9b01b3/27/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/e3ddb0/00000000000000003b9b01b3/27/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/e3ddb0/00000000000000003b9b01b3/27/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n5&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
  font-family:'kazimir';
  src:url("https://use.typekit.net/af/ac1264/00000000000000003b9b01b4/27/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=i5&v=3") format("woff2"),url("https://use.typekit.net/af/ac1264/00000000000000003b9b01b4/27/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=i5&v=3") format("woff"),url("https://use.typekit.net/af/ac1264/00000000000000003b9b01b4/27/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=i5&v=3") format("opentype");
  font-display:auto;font-style:italic;font-weight:500;font-stretch:normal;
}
