input,textarea {
  font-size: 16px;
  font-family: $body-font;
  color: $black !important;
  &::placeholder {
    font-family: $body-font;
    color: rgba($color: $black, $alpha: 0.5) !important;
    font-weight: 300;
  }
}
