.b-radio.radio input[type=radio] + .check {
  border: 1px solid #D9D4D2;
}
.b-radio.radio:hover input[type=radio]:not(:disabled) + .check {
  border-color: rgba($color: $black, $alpha: 0.12);
}
.b-radio.radio input[type=radio] + .check:before {
  background-color: $black;
}
.b-radio.radio input[type=radio]:focus:checked + .check {
  box-shadow: unset;
  border-color: $black;
}
.b-radio.radio input[type=radio]:checked + .check {
  border-color: $black;
}
