.b-tooltip.is-primary {
  .tooltip-content {
    padding: 16px;
    background-color: #fff;
    color: $black;
    font-size: 12px;
    line-height: 140%;
    font-family: $body-font;
    max-width: 321px;
    width: 321px;
    min-width: 321px;
    white-space: normal;
    box-shadow: unset;
    border-radius: 0px;
    border: 1px solid #D9D4D2;
    &:before {
      display: none;
    }
  }
}
