<template>
	<div class="footer" id="footer">
    <div class="block block-10">
      <div class="block-wrapper">
        <div v-if="content" class="epic-header" v-html="content.footer_title">
        </div>
      </div>
    </div>
    <div class="block-wrapper">

      <div class="hover-line-footer">

      </div>
      <div class="left">
        <a class="subhead hover-underline upper" href="mailto:styleroom@spice.lv" target="_blank">styleroom@spice.lv</a>
        <a href="tel:37167798177" class="subhead hover-underline upper">+371 6780 7279</a>
        <p class="subhead upper">{{staticStrings.menuItems.address}}</p>
        <div class="dashed-nav">
          <a class="subhead hover-underline upper link" href="https://www.google.com/maps/place/Lielirbes+iela+29,+Zemgales+priekšpilsēta,+Rīga,+LV-1046/@56.9299363,24.0341481,17z/data=!3m1!4b1!4m5!3m4!1s0x46eed072350e64b5:0xc09f09ce884c8004!8m2!3d56.9299363!4d24.0363368" target="_blank">google {{staticStrings.footer.map}}</a>
          <div class="seperator"></div>
          <a class="subhead hover-underline upper link" href="https://www.waze.com/en-GB/live-map/directions/riga?to=place.ws.row.8151576.29" target="_blank">waze</a>
        </div>
      </div>
      <div class="mid">
        <a class="subhead hover-underline upper" href="#about">{{staticStrings.menuItems.about}}</a>
        <a class="subhead hover-underline upper" href="#stylists">{{staticStrings.menuItems.stylists}}</a>
        <!-- <a class="subhead hover-underline upper" href="#reviews">{{staticStrings.menuItems.reviews}}</a> -->
        <a class="subhead hover-underline upper" href="#offers">{{staticStrings.menuItems.offers}}</a>
        <a class="subhead hover-underline upper" href="#gift-cards">{{staticStrings.menuItems.giftCards}}</a>
        <a class="subhead hover-underline upper" href="#gift-cards">{{staticStrings.menuItems.rent}}</a>
        <!-- <a class="subhead hover-underline upper" href="#">Kontakti</a> -->
        <a class="subhead hover-underline upper" href="#faq">{{staticStrings.menuItems.faq}}</a>
        <a v-if="selectedLocale == 'lv'" class="subhead hover-underline upper" href="https://www.spice.lv/lv/privatuma-politika" target="_blank">{{staticStrings.menuItems.privacy}}</a>
        <a v-else-if="selectedLocale == 'en'" class="subhead hover-underline upper" href="https://www.spice.lv/en/private-policy" target="_blank">{{staticStrings.menuItems.privacy}}</a>
        <a v-else-if="selectedLocale == 'ru'" class="subhead hover-underline upper" href="https://www.spice.lv/ru/politika-konfidentsialnosti" target="_blank">{{staticStrings.menuItems.privacy}}</a>
      </div>
      <div class="right dashed-nav">
        <a @click="$gtm.push({ event: 'socialClick.Instagram' })" href="https://www.instagram.com/tkspice" class="link hover-underline upper subhead" target="_blank">
          instagram
        </a>
        <div class="seperator"></div>
        <a @click="$gtm.push({ event: 'socialClick.Facebook' })" href="https://www.facebook.com/TKSpice" class="link hover-underline upper subhead" target="_blank">
          facebook
        </a>
      </div>
    </div>
    <div class="footer-extra-info">
      <p class="subhead upper bot">{{staticStrings.footerExtraInfo}}</p>
    </div>

  </div>
</template>
<script>
export default {
  props: {
    content: null,
    staticStrings: null
  },
  methods: {
    prepAnim() {
      this.$gsap.to('.hover-line-footer', {
        scrollTrigger: {
          trigger: '.block-10',
          toggleActions: 'play none reverse none',
          start: 'bottom bottom',
          end: 'bottom bottom'
        },
        transform: 'translateX(0)',
        xPercent: 0,
        duration: 0.6,
        ease: 'Power2.easeIn'
      })
    }
  },
  computed: {
    selectedLocale() {
      return this.$i18n.locale;
    },
  },
  mounted() {
    this.prepAnim()
  }
};
</script>
