<template>
	<div class="header" :class="[{'retract' : retractHeader && !menuOpen}, {'top' : menuTop}]">
    <div class="left-nav dashed-nav">
      <a @click="$gtm.push({ event: 'socialClick.Instagram' })" href="https://www.instagram.com/tkspice" target="_blank" class="link hover-underline upper subhead">
        instagram
      </a>
      <div class="seperator"></div>
      <a @click="$gtm.push({ event: 'socialClick.Facebook' })" href="https://www.facebook.com/TKSpice" target="_blank" class="link hover-underline upper subhead" >
        facebook
      </a>
    </div>
    <a href="https://www.spice.lv/lv" class="center logo">
      <img src="/images/logo.svg" alt="">
    </a>
    <div class="right-nav">
      <div class="dashed-nav">
        <a v-if="$i18n.locale !== 'lv'"
          class="link subhead hover-underline upper lang-item"
          :href="switchLocalePath('lv')" >
          lv
        </a>
        <div v-if="$i18n.locale !== 'lv'" class="seperator"></div>
        <a v-if="$i18n.locale !== 'ru'"
          class="link subhead hover-underline upper lang-item"
          :href="switchLocalePath('ru')" >
          ru
        </a>
        <div v-if="$i18n.locale == 'lv'" class="seperator"></div>
        <a v-if="$i18n.locale !== 'en'"
          class="link subhead hover-underline upper lang-item"
          :href="switchLocalePath('en')" >
          en
        </a>
      </div>
      <div class="open-nav-btn" @click="openMenu">
        <p class="subhead hover-underline upper">{{staticStrings.menuItems.open}}</p>
        <div class="burger">
          <span></span>
          <span></span>
        </div>
      </div>
    </div>

    <div class="menu-block" :class="{'open' : menuOpen}">
      <div class="background" @click="closeMenu">

      </div>
      <div class="menu" >
        <div class="top-nav">
          <div class="dashed-nav">
            <a v-if="$i18n.locale !== 'lv'"
              class="link hover-underline skin subhead upper lang-item"
              :href="switchLocalePath('lv')" >
              lv
            </a>
            <div v-if="$i18n.locale !== 'lv'" class="seperator skin"></div>
            <a v-if="$i18n.locale !== 'ru'"
              class="link hover-underline skin subhead upper lang-item"
              :href="switchLocalePath('ru')" >
              ru
            </a>
            <div v-if="$i18n.locale == 'lv'" class="seperator skin"></div>
            <a v-if="$i18n.locale !== 'en'"
              class="link hover-underline skin subhead upper lang-item"
              :href="switchLocalePath('en')" >
              en
            </a>
          </div>
          <div class="close-nav-btn" @click="closeMenu">
            <p class="subhead upper">{{staticStrings.menuItems.close}}</p>
            <img src="images/icons/close.svg" alt="">
          </div>
        </div>
        <div class="mid-nav">
          <div class="img-wrapper">
            <img src="images/menu/open_menu.jpg" alt="">
          </div>
          <div class="menu-block-list">
            <a class="menu-item hover-underline skin body-m" href="#about" @click="closeMenu">{{staticStrings.menuItems.about}}</a>
            <a class="menu-item hover-underline skin body-m" href="#stylists" @click="closeMenu">{{staticStrings.menuItems.stylists}}</a>
            <!-- <a class="menu-item hover-underline skin body-m" href="#reviews" @click="closeMenu">{{staticStrings.menuItems.reviews}}</a> -->
            <a class="menu-item hover-underline skin body-m" href="#offers" @click="closeMenu">{{staticStrings.menuItems.offers}}</a>
            <a class="menu-item hover-underline skin body-m" href="#gift-cards" @click="closeMenu">{{staticStrings.menuItems.giftCards}}</a>
            <a class="menu-item hover-underline skin body-m" href="#gift-cards" @click="closeMenu">{{staticStrings.menuItems.rent}}</a>
            <a class="menu-item hover-underline skin body-m" href="#faq" @click="closeMenu">{{staticStrings.menuItems.faq}}</a>
            <a class="menu-item hover-underline skin body-m" href="#footer" @click="closeMenu">{{staticStrings.menuItems.contacts}}</a>
          </div>
        </div>
        <div class="bot-nav">
          <div class="hover-line"></div>
          <div class="dashed-nav soc">
            <a href="https://www.instagram.com/tkspice" target="_blank" class="link hover-underline skin upper subhead">
              instagram
            </a>
            <div class="seperator skin">
            </div>
            <a href="https://www.facebook.com/TKSpice" target="_blank" class="link hover-underline skin upper subhead" >
              facebook
            </a>
          </div>
          <a v-if="selectedLocale == 'lv'" class="link hover-underline skin upper subhead" href="https://www.spice.lv/lv/privatuma-politika" target="_blank">{{staticStrings.menuItems.privacy}}</a>
          <a v-else-if="selectedLocale == 'en'" class="link hover-underline skin upper subhead" href="https://www.spice.lv/en/private-policy" target="_blank">{{staticStrings.menuItems.privacy}}</a>
          <a v-else-if="selectedLocale == 'ru'" class="link hover-underline skin upper subhead" href="https://www.spice.lv/ru/politika-konfidentsialnosti" target="_blank">{{staticStrings.menuItems.privacy}}</a>

        </div>
      </div>

    </div>
  </div>
</template>
<script>
export default {
  props: {
    staticStrings: null
  },
  data() {
    return {
      menuOpen: null,
      animationTimeline: null,
      retractHeader: false,
      SCROLL_OFFSET:100,
      prevScroll: 0,
      currentScroll: 0,

    }
  },
  methods: {
    openMenu() {
      this.menuOpen = true
      document.documentElement.classList.remove('menu-closed')
      if (this.animationTimeline.reversed()) {
        this.animationTimeline.restart()
      } else {
        this.animationTimeline.clear()
        this.animationTimeline.to('.menu-block', {
          top: '0px',
          duration: 0
        })
        this.animationTimeline.to('.menu-block', {
          opacity: 1,
          duration: 0.4,
          ease: 'ease-in-out'
        })
      }
    },
    closeMenu() {
      this.menuOpen = false
      document.documentElement.classList.add('menu-closed')
      this.animationTimeline.reverse()
    },
    handleScroll(e) {
      this.currentScroll = window.pageYOffset;
			if (this.prevScroll < this.currentScroll && window.scrollY > this.SCROLL_OFFSET) {
				this.retractHeader = true;
			} else {
				this.retractHeader = false;
			}
			this.prevScroll = this.currentScroll;
		}
  },
  computed: {
    selectedLocale() {
      return this.$i18n.locale;
    },
    menuTop() {
      return this.currentScroll <= 20
    }
  },
  beforeMount () {
		window.addEventListener('scroll', this.handleScroll, {
		  passive: true,
		});
	},
  beforeDestroy() {
		window.removeEventListener('scroll', this.handleScroll);
	},
	mounted() {
    this.animationTimeline = this.$gsap.timeline()
  },
};
</script>
