






.epic-header {
  font-family: $header-font;
  font-size: 140px;
  font-weight: 300;
  line-height: 110%;
  letter-spacing: -2%;
  @media (max-width:950px) {
    font-size: 52px;
  }
}
.grand-header {
  font-family: $header-font;
  font-size: 130px;
  line-height: 110%;
  letter-spacing: -2%;
  @media (max-width:948px) {
    font-size: 52px;
  }
  @media (min-width: 2000px) {
    font-size: 175px;
  }
}
.spacious-header {
  font-family: $header-font;
  font-size: 88px;
  line-height: 110%;
  letter-spacing: -2%;
  @media (max-width:948px) {
    font-size: 42px;
  }
}
.humble-header {
  font-family: $header-font;
  font-size: 42px;
  line-height: 124%;
  letter-spacing: -2%;
  @media (max-width: 600px) {
    font-size: 32px;
  }
  @media (min-width: 2000px) {
    font-size: 63px;
  }
}
.humble-header-ru {
  font-family: $header-font;
  font-size: 40px;
  line-height: 124%;
  letter-spacing: -2%;
  @media (max-width: 600px) {
    font-size: 32px;
  }
  @media (min-width: 2000px) {
    font-size: 63px;
  }
}

.subhead, .subhead * {
  font-family: $body-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 128%;
  letter-spacing: 6%;
  @media (min-width: 2000px) {
    font-size: 21px;
  }
}
.body-l, .body-l * {
  font-family: $body-font;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
  letter-spacing: 0em;
  @media (max-width: 600px) {
    font-size: 20px;
  }
  @media (min-width: 2000px) {
    font-size: 32px;
  }
}
.body-m, .body-m * {
  font-family: $body-font;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0em;
  @media (max-width: 600px) {
    font-size: 16px;
    line-height: 24px;
  }
  @media (min-width: 2000px) {
    font-size: 27px;
  }
}
.body-s, .body-s * {
  font-family: $body-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 137%;
  letter-spacing: 0em;
  @media (min-width: 2000px) {
    font-size: 24px;
  }
}
.body-xs, .body-xs * {
  font-family: $body-font;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  @media (min-width: 2000px) {
    font-size: 18px;
    line-height: 150%;
  }
}

.underline {
  text-decoration: underline;
}
.upper {
  text-transform: uppercase;
}
.italic {
  font-style: italic;
}
.semi-bold {
  font-weight: 600;
}
.light {
  font-weight: 300;
}
.greyed {
  color: rgba($color: $black, $alpha: 0.5);
}
.blend, .blend * {
  mix-blend-mode: exclusion;
  mix-blend-mode: difference;
}
strong, strong *, b, b * {
  font-weight: bold !important;
}
