/** Colors */
$black: #0A0A0A;
$white: #ffffff;

$skin: #eacebf;
$beige: #F5F0ED;
$paper: #F8F8F9;
$ash: #736863;
$silver: #838383;
$myrtle: #172924;
$pine: #4a1c1f;
$shadow: #1d2e33;
$coral: #F1BDB8;
$birch: #d3bdae;
$error: #EB5757;

$body-font: "Lexend Deca";
$header-font: "Didot";
$body-rus-font: "kazimir";
