@keyframes scrollDownPrompt {
  0% {
    bottom: unset;
    top: 0px;
    height: 0px
  }
  25% {
    height: 100%;
  }
  50% {
    top: unset;
    bottom: 0px;
  }
  75% {
    height: 0px;
  }
  100% {
    bottom: unset;
    top: 0px;
    height: 0px;
  }
}

.scroll-down-prompt {
  animation: 2.2s infinite ease-in-out scrollDownPrompt;
}
