// .main {
//   position: fixed;
//   width: 100%;
//   height: 100%;
//   left: 0px;
//   top: 0px;
// }
.home-page {
  background-color: $beige;
  // background-color: $black;
  min-height: 100vh;
  // transition: transform 0.5s ease;
}
.terms-page {
  background-color: $beige;
  min-height: 100vh;
  padding-top: 90px;
  &-header {
    margin-bottom: 35px;
  }
  &-body {
    padding: 90px;
    ol,ul {
      padding-left: 20px;
    }
    .underline {
      text-decoration: underline;
      margin-bottom: 20px;
      margin-top: 30px;
    }
  }
}
.img-wrapper {
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
.dashed-nav {
  display: flex;
  flex-wrap: nowrap;
  height: fit-content;
  align-items: center;
  .link {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    &:first-child {
      margin-left: 0px;
    }
    &:last-child {
      margin-right: 0px;
    }

  }
  .seperator {
    position: relative;
    // top: 50%;
    left: 0px;
    // transform: translateY(-50%);
    width: 1px;
    background-color: $black;
    height: 12px;
    &.skin {
      background-color: $skin;
    }
  }
}
.number-list {
  .list-item {
    margin-bottom: 16px;
    display: flex;
    .number {
      margin-right: 20px;
    }
  }
}
.dash-list {
  display: flex;
  flex-direction: column;
  .list-item,p {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    &::before {
      content: '—';
      // font-style: italic;
      margin-right: 18px;
      display: inline-block;
    }
    .dash {
      margin-right: 16px;
    }
  }
}
.parallax-img {
  background-size: auto 120% !important;
  background-position: center 0%;
  background-position-x: center !important;
  background-repeat: no-repeat !important;
  transition: background-position 0.34s ease;
  img {
    visibility: hidden;
  }

}
.price {
  position: relative;
  display: flex;
  align-items: baseline;
  align-content: baseline;
  .price-text {
    position: relative;
    .super {
      top: 4px;
      right: 0px;
      line-height: 100%;
      font-size: 9px;
      letter-spacing: 0px;

    }
  }
  .price-symbol {
    margin-left: 3px;
  }
}
.carousel-counter {
  width: 100%;
  position: relative;
  .slick-slide {
    height: 100%;
  }
  .slick-track {
    display: flex !important;
    .slick-slide {
      height: auto;
      > div {
        height: 100%;
        .carousel-counter-card {
          height: 100%;
        }
      }
    }
    &:not(.fit-in-screen) {
      margin-left: -16px;
    }
  }
  .fit-in-screen-container {
      display: flex;
      justify-content: center;
  }
  .carousel-counter-card {
    display: flex !important;

    .card-image {
      max-width: 406px;
      flex: 0 0 406px;
      height: 596px;
      margin-right: 30px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }
    .card-content {
      padding: 0px;
      max-width: 328px;
      flex: 0 0 328px;
      display: flex;
      flex-direction: column;
      .quote {
        margin-bottom: auto;
        width: 74px;
        max-width: 74px;
      }
      .slider-title {
        margin-bottom: 42px;
      }
    }
    .text-card-content {
      width: 296px;
      height: 100% !important;
      margin-left: 16px;
      margin-right: 16px;
      border: 1px solid $black;
      display: flex;
      flex-direction: column;
      .slider-title {
        padding: 24px 24px 0 24px;
        height: 130px;
        text-align: left;
      }
      .header-seperator {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        align-content: center;
        .line {
          width: 100%;
          height: 1px;
          background-color: $black;
        }
        .price {
          margin-left: 24px;
          margin-right: 24px;
          .price-text {
            margin-right: 1px;

          }
        }
      }
      .text-card-body {
        padding: 24px;
        height: 100%;
        display: flex;
        flex-direction: column;
        .card-info {
          margin-bottom: 16px;
        }
        .dash-list {
          margin-bottom: 20px;
        }
        .btn {
          margin-top: auto;
          margin-bottom: 0px;
        }
      }
    }
  }

  .gallery-panel {
    display: flex;
    width: 100%;
    justify-content: center;
    .block-wrapper {
      padding-bottom: 60px;

    }
    .carousel-controls {
      position: absolute;
      bottom: -5px;
      right: 80px;
      .prev {
        margin-right: 20px;
      }
    }
    .carousel-counter-numbers {
      position: absolute;
      left: 80px;
      bottom: 0px;
      display: flex;
      p {
        &:not(:last-child) {
          margin-right: 16px;
        }
      }
    }
  }
}
.collapse-card {
  .collapse-card-header {
    display: flex;
    border-bottom: 1px solid rgba($color: $black, $alpha: 0.12);
    position: relative;
    overflow: hidden;
    // transition: border 0.3s ease;
    &::before {
      content: '';
      position: absolute;
      left: 0px;
      bottom: 0px;
      height: 1px;
      width: 100%;
      transform: translateX(-100%);
      transition: transform 0.34s ease;
      background-color: $black;
    }
    .card-header-title {
      padding-left: 0px;
      padding-bottom: 32px;
      padding-top: 32px;
    }
    .card-header-icon {
      height: fit-content;
      padding-top: 32px;
      margin-top: 12px;
      img {
        max-width: 32px;
        width: 32px;
        height: auto;
      }
    }
  }
  .card-content {
    padding-left: 220px;
    padding-right: 0px;
    > * {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }
  &.is-open, &:hover {
    .collapse-card-header {
      &:before {
        transform: translateX(0px);
      }
    }
  }
}
.form-field {
  width: 100%;

}
.select-btn {
  display: flex;
  height: 54px;
  border: 1px solid rgba($color: $black, $alpha: 0.12);
  align-items: center;
  align-content: center;
  padding-left: 16px;
  width: 100%;
  img {
    margin-left: auto;
    margin-right: 24px;
  }
}
.form-container {
  padding-bottom: 2rem;
  .dropdown, .dropdown-trigger {
    width: 100%;
  }
  .form-group {
    margin-bottom: 2rem;

  }
  .field,.form-group > p {
    margin-bottom: 8px;

    .control {
      .input, .textarea {
        border: unset;
        border-bottom: 1px solid rgba($color: $black, $alpha: 0.12);
        background-color: transparent;
        border-radius: 0px;
        box-shadow: unset;
        padding-left: 0px;
        padding-bottom: 8px;
        padding-top: 8px;
      }
      .textarea {
        border: 1px solid rgba($color: $black, $alpha: 0.12);
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }

}
.mb-xs {
  margin-bottom: 0.5rem;
}
.mb-s {
  margin-bottom: 1rem;
}
.mb-m {
  margin-bottom: 1.5rem;
}
.mb-0 {
  margin-bottom: 0px;
}
.dropdown-menu {
  width: 100%;
  .dropdown-content {
    background-color: $beige;
    .dropdown-item {
      &:hover {
        background-color: rgba($color: $ash, $alpha: 0.12);
      }
      &.is-active {
        background-color: $ash;
      }
    }
  }
}
.progress {
  width: 100%;
  background-color: rgba($color: $black, $alpha: 0.12);
  position: relative;
  height: 1px;
  .progress-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 1px;
    transition: width 0.3s ease;
    background-color: $black;

  }
}
.service-card {
  width: 100%;
  border: 1px solid #D9D4D2;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
  .svg-wrapper {
    position: absolute;
    left: -3px;
    right: -3px;
    top: 0px;
    height: 100%;
  }
  svg {
    position: relative;
    width: 100%;
    top: 0px;
    .border {
      fill: none;
      stroke: $black;
      stroke-width: 0.5;
      stroke-dasharray: 124px;
      stroke-dashoffset: 124px;
      transition: all .6s ease;
    }
  }
  .field {
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    .b-radio {
      padding: 16px;
      width: 100%;
      height: 100%;
      .check {
        margin-top: 2px;
      }
      .control-label {
        margin-bottom: auto;
      }
    }
  }
  &:hover, &.active {
    svg {
      .border {
        stroke-dashoffset: 0;
      }
    }
  }
}
.inline {
  > * {
    display: inline-block;
  }
  .b-tooltip {
    vertical-align:middle;
    display: inline-flex;
    .tooltip-trigger {
      display: flex;
    }
  }
}
.step-info {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  border-top: 1px solid $black;
  &-header {
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;
    margin-bottom: 1rem;
    .btn {
      margin-left: auto;
      height: 44px;
    }
  }
  .blocks {
    display: flex;
    flex-direction: column;
  }
  &-block {
    display: flex;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
    .label {
      max-width: 188px;
      margin-right: 1.9rem;
      flex: 0 0 188px;

    }
    .choice {
      width: 100%;
      > *:not(:first-child) {
        margin-top: 6px;
      }
    }
    &:first-child {
      padding-top: 0px;
    }
    &:not(:last-child) {
      border-bottom: 1px solid rgba($color: $black, $alpha: 0.12);
    }
  }
}
.hover-underline {
  position: relative;
  overflow: hidden;
  width: fit-content;
  transition: color 0.3s ease;
  &::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: -100%;
    width: 100%;
    height: 1px;
    background-color: $silver;
    transition: left 0.3s ease;
  }
  &:hover {
    &::before {
      left: 0px;
    }
  }
  &:hover:not(.skin) {
    color: $silver;
  }
  &.skin {
    &::before {
      background-color: $skin;
    }
  }
}
.fix-page {
  .home-page {

  }
}
blockquote {
  border-left: 1px solid $black;
  padding-left: 30px;
  font-style: italic;
  font-size: 42px;
  line-height: 123%;
  font-family: $header-font;
  font-weight: 400;
  @media(max-width:600px) {
    font-size: 24px;
  }
}
