.block-wrapper {
  max-width: 1280px;
  width: 100%;
  position: relative;
  margin-left: 80px;
  margin-right: 80px;
  &.md {
    max-width: 1440px;
  }
  &.lg {
    max-width: 1920px;
  }
}
.scroll-to-wrapper {
  padding-top: 80px;
  .block {
    padding-top: 0px;
    margin-top: 0px;
  }
}
.block {
  display: flex;
  // min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
  // margin-top: 80px;
  padding-top: 80px;
  justify-content: center;
  &.block-01 {
    padding-top: 112px;
    padding-bottom: 60px;
    max-height: unset;
    // max-height: 1280px;
    height: 65vw;
    .block-wrapper {
      max-width: 100%;
    }
    .bg {
      z-index: 0;
    }
    .block-content {
      padding-top: 13%;
      position: absolute;
      top: -120px;
      left: 0px;
      z-index: 1;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      max-height: calc(100% + 80px);

      .top {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-direction: column;
      }
      .intro-header {
        align-items: center;
        text-align: center;
        // font-size: 10vw;
        width: 55vw;
        margin-left: auto;
        margin-right: auto;
        svg {
          * {
            fill: $black;
          }
        }
      }
      .info-text {
        margin-top: 32px;
        text-align: center;
        max-width: 404px;
        margin-left: auto;
        margin-right: auto;
      }
      .buttons {
        margin-top: 32px;
        margin-left: auto;
        margin-right: auto;
        a {
          margin: 0px;
          &:not(:last-child) {
            margin-right: 8px;
          }
        }
      }
      .scroll-down-prompt-wrapper {
        position: relative;
        margin-top: auto;
        margin-bottom: 0px;
        width: 1px;
        height: 58px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        // border: 1px solid #000;
        // overflow: visible;
        .scroll-down-prompt {
          position: absolute;
          // top: -58px;
          background-color: $black;
          width: 1px;
          // height: 120px;
        }
      }
    }
    .intro-header {
      // position: absolute;
      // top: 29%;
      // left: 50%;
      // transform: translateX(-50%);
      // white-space: nowrap;
      // z-index: 2;
    }
    .carousel-01,.carousel-02 {
      z-index: 0;
      position: absolute;
      height: 80%;
      width: 31%;
      // .img-wrapper {
      //   position: absolute;
      //   top: 0px;
      //   left: 0px;
      //   width: 100%;
      //   height: 100%;
      //   overflow: hidden;
      //   img {
      //     height: 120%;
      //     object-position: center 0%;
      //   }
      // }

      .carousel-image {
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        // opacity: 0;
        transition: opacity 0.9s ease-in-out;
        &.active {
          opacity: 1;
        }
      }
    }
    .carousel-01 {
      left: 0px;
      bottom: 0px;
    }
    .carousel-02 {
      top: 34px;
      right: 0px;
    }
  }
  &.block-02 {
    position: relative;
    height: unset;
    max-height: unset;
    .img-wrapper {
      width: 100%;
      height: 100%;
      img {
        object-position: center center;
      }
    }
    .sticky-img-wrapper {
      height: 100vh;
      max-width: 100%;
      flex: 0 0 100%;
      transition: max-width 0.5s ease-in 0.9s, flex 0.5s ease-in, background-position 0.5s ease 0.9s;
      z-index: 1;
      position: sticky;
      top: 0px;
      left: 0px;
      &.anim-left {
        max-width: 44%;
        flex: 0 0 44%;
      }
    }
    .size-to-left {
      width: 100vw;
      height: 100vh;
      position: relative;
      background-position: center center !important;
      background-size: cover;
    }
    .text-right {
      z-index: 2;
      width: 100%;
      background-color: $skin;
      overflow: hidden;
      position: relative;
      padding-top: 90px;
      .text-wrapper {
        right: 0px;
        top: 0px;
        width: 56vw;
        padding: 124px 0px;
      }
      .humble-header {
        margin-bottom: 42px;
        p {
          margin-bottom: 0px !important;
        }
      }

      .text-box {
        padding-left: 120px;
        padding-right: 120px;
        // &:not(:last-child):not(.text-box-last) {
        //   margin-bottom: 62px;
        // }
        > p {
          &:not(:last-child) {
            margin-bottom: 24px;
          }
          &:last-child {
            margin-bottom: 62px;
          }
        }
        h3 {
          margin-bottom: 42px;
        }
        .number-list {
          margin-bottom: 32px;
        }
        .btn {
          width: fit-content;
        }
      }
    }
  }
  &.block-03 {
    margin-top: 0px;
    // min-height: 1333px;
    // min-height: unset;
    max-height: 1330px;
    min-height: 1330px;
    .block-header {
      text-align: center;
      margin-top: 44px;
    }
    .block-wrapper {
      padding-bottom: 350px;
      &.lg {
        padding-bottom: 0px;

      }
    }
    .stylist-imgs {
      position: absolute;
      height: 100%;
      width: 100%;
      padding-top: 44px;
      padding-bottom: 124px;
      .floating-img {
        z-index: 0;
        position: absolute;
        opacity: 0;

        img {
          width: 100%;
          height: auto;
        }
        &.img-1, &.img-2 {
          // transition: opacity 0.21s ease, margin-top 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
          top: 0px;
        }
        &.img-3, &.img-4 {
          // transition: opacity 0.21s ease, margin-bottom 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
          margin-bottom: 0px;
          bottom: 0px;
        }
        &.img-1 {
            left: 0px;
        }
        &.img-2, &.img-4 {
            right: 0px;
        }
        &.img-1 {
          left: 0px;
          top: 168px;
          width: 25.5rem;
          margin-top: 15%;
        }
        &.img-2 {
          top: 152px;
          right: 0px;
          width: 13.625rem;
          margin-top: 9%;
        }
        &.img-3 {
          bottom: 200px;
          right: 0px;
          width: 18.5rem;
        }
        &.img-4 {
          // display: none;
          margin-bottom: 0px;
          bottom: 0px;
          left: 50%;
          transform: translateX(-50%);
          width: 13.625rem;
        }
      }
      &.active {
        .floating-img {
          opacity: 1;
          &.img-1, &.img-2 {
            transition: opacity 0.21s ease, margin-top 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
          }
          &.img-3, &.img-4 {
            transition: opacity 0.21s ease, margin-bottom 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
          }
        }
        .img-1,.img-2 {
          margin-top: 0px;
        }
        .img-3 {
          margin-bottom: 5%;
        }
        .img-4 {
          margin-bottom: 4%;
        }
      }
    }
    .artists-list {
      padding-top: 80px;
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
      .artist {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;

        &:hover {
          color: $birch;
          // font-style: italic;
        }
        .number {
          margin-right: 16px;
          display: flex;
          align-items: baseline;
          align-content: baseline;
        }
        &:not(:last-child) {
          padding-bottom: 42px;
        }
      }
    }
  }
  &.block-04 {
    height: auto;
    min-height: unset;
    overflow: hidden;
    // margin-top: 0px;
    // margin-top: 15em;
    .parallax-img {
      width: 100%;
      // height: 628px;
    }
  }
  &.block-05 {
    height: auto;
    min-height: unset;
    padding-top: 92px;
    margin-bottom: 84px;
    @media (max-width: 949px) {
      margin-bottom: 0px;
    }
    .block-wrapper {
      display: flex;
      flex-direction: column;
      .text-wrapper {
        max-width: 950px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        h3 {
          width: 100%;
          text-align: left;
        }
        p {
          margin-left: auto;
          margin-right: 0px;
          width: 211px;
          text-align: left;
        }
      }
    }
  }
  &.block-06 {
    height: auto;
    min-height: unset;
    .reviews-gallery {

    }
  }
  &.block-07-wrapper {
    height: auto;
    min-height: unset;
    max-height: unset;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100vw;
    max-width: 100vw;
    overflow: hidden;
    .block-wrapper {
      // padding-left: 16px;
    }
  }
  &.block-07 {


    height: auto;
    min-height: unset;
    max-height: unset;
    width: 100%;
    flex-direction: column;
    align-items: center;
    > #offers {
      margin-left: 0px;
    }
    #blockWrapper {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
    .carousel-counter {

      .fit-in-screen-container {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        position: relative;
      }
      #offers.block-wrapper {
        position: absolute;
        top: 0px;
        left: 0px;
        margin-left: 0px;
        transform: translateY(-100%);
      }
      .gallery-panel {
        .carousel-counter-numbers {
          left: 0px;
        }
        .carousel-controls {
          right: 0px;
        }
      }
    }
  }
  &.block-08 {
    height: auto;
    min-height: unset;
    margin-top: 44px;
    margin-bottom: 44px;
    .block-wrapper {
      display: flex;
      margin-left: 0px;
      margin-right: 0px;
      .img-left,.img-right {
        // height: 561px;
        height: fit-content;
        min-height: 100%;
      }
      .img-left {
        width: 43.5%;
        // max-width: 626px;
        // width: auto;
        margin-right: 2.5rem;
      }
      .text-body {
        max-width: 402px;
        flex: 0 0 402px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .text-body-header {
          margin-bottom: 2.625rem;
        }
        .text-body-main {
          margin-bottom: 2rem;
        }
        .btn {
          margin-left: 0px;
          max-width: fit-content;
        }
      }
      .img-right {
        max-width: 13.3%;
        flex: 0 0 13.3%;
        margin-left: 2.5rem;
      }
    }
  }
  &.block-09 {
    height: auto;
    background-color: $skin;
    padding-top: 0px;
    min-height: unset;
    position: relative;
    max-height: fit-content;
    .carousel-counter .slick-track {
      margin-left: 0px;
    }
    &::before {
      content: '';
      position: absolute;
      right: 0px;
      top: 0px;
      width: 30%;
      background-color: $black;
      height: 100%;
    }
    .block-wrapper {
      display: flex;
      margin-right: 0px;
      max-width: 100%;
      .left {
        display: flex;
        flex-direction: column;
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 72px;
        width: 100%;
        .humble-header,.bottom {
          margin-left: 28%;
          max-width: 495px;
          margin-right: 0px;
        }
        .humble-header {
          margin-bottom: 2.625rem;
        }
        .parallax-img {
          // height: 347px;
          margin-bottom: 2.625rem;
        }
        .bottom {
          p {
            margin-bottom: 2rem;
          }
          .btn {
            margin-left: 0px;
            width: fit-content;
            margin-bottom: 72px;
          }
        }
      }
      .right {
        max-width: 42%;
        flex: 0 0 42%;
        background-color: $black;
        position: relative;
        .static-block {
          position: absolute;
          .b-image-wrapper {
            opacity: 0;
          }
          .bot {
            padding: 52px 80px 120px 80px;
          }
        }
        h1,h2,h3,p,a {
          color: $skin;
        }
        a:hover {
          // color: $ash;
        }
        .slick-slider,.slick-list,.slick-track,.slick-slide,.slick-slide > div, .slide-card {
          height: 100%;
        }
        .slide-card {
          display: flex;
          flex-direction: column;
          .slide-card-image {
            // height: 358px;
            height: auto;
            min-height: 350px;
            max-height: 660px;
            .b-image-wrapper {
            }
          }
          .slide-card-image-placeholder {
            background-color: $ash;
          }
          .slide-card-content {
            padding: 52px 80px 120px 80px;
            .service-name {
              margin-bottom: 0.5rem;
              // opacity: 0;
            }
            .service-title {
              margin-bottom: 2rem;
            }
            .service-text {
              margin-bottom: 1rem;
              p {
                display: flex;
                &:last-child {
                  margin-top: 16px;
                }
                a {
                  margin-left: 5px;
                }
              }
            }
            .service-contact {

            }
          }
        }
        .gallery-panel {
          position: absolute;
          bottom: 0px;
          left: 0px;
          .block-wrapper {
            padding-bottom: 60px;
            margin-left: 80px;
            margin-right: 80px;
          }
          .carousel-counter-numbers, .carousel-controls {
            position: relative;
          }
          .carousel-counter-numbers {
            margin-right: auto;
            left: 0px;
          }
          .carousel-controls {
            right: 0px;
            bottom: 0px;
            display: flex;
            .prev,.next {
              min-width: 36px;
              img {
                color: $skin;
              }
            }
          }
        }
      }
    }
  }
  &.block-10 {
    height: auto;
    min-height: unset;
    margin-top: 124px;
    padding-bottom: 62px;

    .block-wrapper {
      display: flex;
      .epic-header {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        max-width: 1000px;
      }
    }
  }
}
#offers {
  overflow: hidden;
}
