.btn {
  display: inline-block;
  letter-spacing: 0.5px;
  font-weight: 300;
  padding: 0 1.5rem;
  height: 54px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  margin-left: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* Button Swipe
----------------------------*/
.btn-swipe {
  position: relative;
  background-color: $black;
  z-index: 0;
  overflow: hidden;
  transition: color 0.3s cubic-bezier(0, .25, .5, 1);
}

.btn-swipe.no-bg {
  background: none;
  box-shadow: inset 0 0 0 2px $black;
  color: $black;
}

.btn-swipe:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  transform: translateX(-115%);
  transition: all 0.3s cubic-bezier(0, .25, .5, 1);
  background-color: #fff;
}

.btn-swipe.no-bg:before {
  background-color: $black;
}

.btn-swipe.angle::before {
  transform: skewX(-35deg) translateX(-115%);
}

.btn-swipe:hover::before,
.btn-swipe:active::before {
  transform: translateX(0) scaleX(1.35);
}

.btn-swipe.angle:hover::before,
.btn-swipe.angle:active::before {
  transform: skewX(-15deg) translateX(0) scaleX(1.35);
}

.btn-swipe:hover,
.btn-swipe:active {
  color: $black;
}

.btn-swipe.no-bg:hover,
.btn-swipe.no-bg:active {
  color: #fff;
}
