body, html {
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
  scroll-behavior:unset;
  color: $black;
}
body, html, body > div, body > div > div, body > div > div, .main {
  width: 100vw;
  max-width: 100vw;
  min-width: 100vw;
}
body {
}
html,body {
  background-color: $beige;
}
html {
  // overflow-y: scroll;
  &:not(.menu-closed) {
    overflow: hidden;
  }
}
* {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
  // font-family: $main-font;
  margin: 0px;
}
p,a,li,span,input,textarea,label {
  margin: 0px;
}

a {
    color: $black;
    text-decoration: none;
    outline: none !important;
    &:hover {
      cursor: pointer;
    }
}
ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
p {
    margin: 0px;
}

body {
  background-color: $beige;
}
button {
  background-color: unset;
  border: unset;
  padding: 0px;
  color: $black;
  &:hover {
    cursor: pointer;
  }
}

.number {
  height: fit-content !important;
  min-width: fit-content !important;
  background-color: unset !important;
  padding: unset !important;
}
html > {

  ::-webkit-scrollbar {
      width: 10px;
      background-color: transparent;
      position: fixed;
      right: 0px;
      top: 0px;
      height: 100vh;
      @media (max-width: 948px) {
        width: 0px;
      }
      // width: 0px;
  }

  ::-webkit-scrollbar-track {
    // background: $beige;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba($color: $birch, $alpha: 0.7);
    transition: background 0.34s ease;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba($color: $birch, $alpha: 1);
  }
}


