.footer {
  background-color: $beige;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-bottom: 124px;
  position: relative;
  // position: fixed;
  // bottom: 0px;
  // z-index: -1;
  padding-top: 0px;
  .block-10 {
    padding-top: 0px;
    margin-bottom: 0px;
    .block-wrapper {
      border-top: 0px;
      padding-top: 0px;
    }
  }
  >.block-wrapper {
    overflow: hidden;
  }
  .block-wrapper {
    // border-top: 1px solid rgba($color: $black, $alpha: 0.12);
    padding-top: 42px;
    display: flex;
    margin-left: 5.5vw !important;
    margin-right: 5.5vw !important;
    .hover-line-footer {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 1px;
      width: 100%;
      background-color: $black;
      transform: translateX(-100%);
    }

  }
  .left {
    height: auto;
    overflow: visible;
    .bot {
      margin-top: auto;
      padding-top: 20px;
      max-width: 300px;
    }
  }
  .left,.mid {
    display: flex;
    flex-direction: column;
    > * {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
  .mid {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 30px;
    a {
      text-align: center;
    }
  }
  .right {

  }
  .footer-extra-info {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: $black;
    color: $skin;
    padding-top: 4vw;
    padding-bottom: 4vw;
    text-align: center;
    vertical-align: middle;
    font-size: 16px !important;
    font-weight: 300 !important;
    padding-left: 4vw;
    padding-right: 4vw;
  }
}
