.header {
  height: 5rem;
  padding-left: 80px;
  padding-right: 82px;
  position: fixed;
  z-index: 777;
  top: 0px;
  left: 0px;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.3s ease, background-color 0.3s ease;
  background-color: white;
  .left-nav {
    margin-top: 51px;
    .link {

    }
  }
  .center {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 42px;
    height: 36px;
    width: 104px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .right-nav {
    margin-top: 51px;
    margin-left: auto;
    margin-right: 0px;
    display: flex;
    flex-wrap: nowrap;
    .open-nav-btn {
      margin-left: 42px;
      display: flex;
      flex-wrap: nowrap;
      p {
        height: fit-content;
      }
      &:hover {
        cursor: pointer;
      }
      .burger {
        margin-top: 3px;
        margin-left: 18px;
        width: 28px;
        display: flex;
        flex-direction: column;
        span {
          display: block;
          width: 100%;
          height: 2px;
          background-color: $black;
          &:first-child {
            margin-bottom: 8px;
          }
        }
      }
    }
  }

  .menu-block {
    position: fixed;
    top: -100vh;
    right: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: $black, $alpha: 0.2);
    opacity: 0;
    // transition: opacity 0.3s ease, right 0.3s ease;
    display: flex;
    .background {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    .menu {
      width: 672px;
      z-index: 2;
      height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
      @media (min-width: 950px) {
        width: 47vw;
        min-width: 600px;
      }
      background-color: $black;
      margin-left: auto;
      margin-right: 0px;
      display: flex;
      flex-direction: column;
      .dashed-nav .link:not(:first-child)::before {
        background-color: $skin;
      }
      .top-nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 50px 80px 40px 80px;
        align-items: center;
        align-content: center;
        .close-nav-btn {
          margin-right: 0px;
          margin-left: auto;
          display: flex;
          align-items: center;
          flex-direction: row;
          flex-wrap: nowrap;
          &:hover {
            cursor: pointer;
          }
          p {
            margin-right: 21px;
          }
        }
      }
      .mid-nav {
        margin-bottom: auto;
        display: flex;

        .img-wrapper {
          // max-height: 491px;
          height: 100%;
          width: 294px;
          @media (min-width: 950px) {
            min-width: 294px;
            width: 20.3vw;
          }
          @media (max-width: 950px) {
            margin-top: auto;
            padding-bottom: 0px;
          }

          padding-bottom: 50px;
        }
        .menu-block-list {
          margin-left: 80px;
          margin-right: 15px;
          margin-top: 60px;
          display: flex;
          flex-direction: column;
          .menu-item {
            @media (min-width: 950px) {
              font-size: 1.27vw !important;

            }
            &:not(:last-child) {
              margin-bottom: 12px;
            }
          }
        }
      }
      .bot-nav {
        margin: 0 80px 0 80px;
        max-height: 112px;
        height: 100%;
        // border-top: 1px solid rgba($color: $skin, $alpha: 0.12);
        padding-top: 2rem;
        display: flex;
        position: relative;
        overflow: hidden;
        padding-bottom: 50px;
        .hover-line {
          position: absolute;
          top: 0px;
          left: 0px;
          height: 1px;
          width: 100%;
          background-color: $skin;
          transform: translateX(-100%);
          transition: transform 0.3s ease 0.4s;
        }
        .soc {
          margin-right: auto;
        }
        a {
          height: fit-content;
        }
      }
    }
    .menu::-webkit-scrollbar {
        width: 0px;
        height: 0px;
        display: none;
    }
    a,p {
      color: $skin;
    }

    &.open {
      .bot-nav {
        .hover-line {
          transform: translateX(0px);
        }
      }
    }
  }
  &.retract {
    transform: translateY(-100%)
    // top: -80px;
  }
  &.top {
    background-color: $beige;

  }
}
