.intro-block {
  background-color: $skin;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  // transition: top 1.5s ease 2.34s;
  &.scroll-top {
    top: -100vh;
  }
  .fast-flick-imgs {
    max-width: 844px;
    // max-height: 596px;
    // height: 100%;
    width: 100%;
    // position: relative;
    .flick-img {
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      position: absolute;
      height: 100%;
      width: 50vw;
      height: auto;
      background-color: $ash;
    }
  }
  .intro-loader {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 7px;
    width: 0%;
    background: $black;
  }
  .loading {
    transition: width 2s ease-in-out;
    width: 100%;
  }
}
