
.artist-modal {
  &-wrapper {
    padding: 3.875rem 6.75rem 5.75rem 6.75rem;
  }
  &-header {
    display: flex;
    margin-bottom: 2.625rem;
    .left {
      max-width: 300px;
      height: auto;
      flex: 0 0 300px;
      margin-right: 2.625rem;
    }
    .right {
      display: flex;
      flex-direction: column;
      h2 {
        margin-bottom: 16px;
      }
      .social-media {
        margin-bottom: 24px;
      }
      .btn {
        margin-left: 0px;
        width: fit-content;
      }
    }
  }
  &-body {
    padding-left: 6.875rem;
    padding-right: 6.875rem;
    // margin-bottom: 42px;
    > * {
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }
    .body-block {
      margin-bottom: 2.625rem;
      > * {
        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }
      }
    }
    .video-div {
      position: relative;
      .video-button {
        position: absolute;
        top: -40px;
        left: 40px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        @media(max-width: 500px) {
          top: -15px;
          left: 22px;
        }
        button {
          border: 1px solid #fff;
          font-family: $body-font;
          text-transform: uppercase;
          width: 200px;
          height: 40px;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            margin-right: 1em;
          }
        }
      }
      .hiden {
        display: none;
      }
    }  

  }
  .carousel-wrapper {
    padding-left: 6.875rem;
    padding-right: 6.875rem;
    margin-bottom: 62px;
    .carousel-header {
      display: flex;
      padding-bottom: 16px;
      p {
        &:first-child {
          margin-right: auto;
        }
      }
    }
    .carousel-container {
      position: relative;
      padding-top: 34px;
    }
    .prev,.next {
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
    }
    .prev {
      left: -50px;
    }
    .next {
      right: -50px;
    }
    .carousel-items {
      background-color: white;
      .carousel-item {
        max-height: 400px;
        .b-image-wrapper {
          height: 100%;
          img {
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
    .carousel-indicator {
      .indicator-item {
        max-height: 90px;
        max-width: 52px;
        width: 52px;
        height: 52px;
        display: flex;
        &.is-active {
          position: relative;
          &::before {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 1;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #fff, $alpha: 0.5);
            border: 1px solid $black;
          }
        }
        .b-image-wrapper {
          height: auto;
          width: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
          }
        }
      }
    }
  }
  &-footer {
    border-top: 1px solid rgba($color: $black, $alpha: 0.12);
    padding-left: 6.875rem;
    padding-right: 6.875rem;
    padding-top: 2.625rem;
    h3 {
      margin-bottom: 2rem;
    }
    p {
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }
}
.apply-modal {
  &-header {
    display: block;
    // justify-content: center;
     * {
      display: inline-block;
    }
  }
  &-subhead, &-header {
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 2rem;
    text-align: center;
  }
  &-wrapper {

  }
  &-body {
    display: flex;
    justify-content: center;
    .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding-left: 100px;
      padding-right: 100px;
      .form-group {
        max-width: 406px;
        width: 100%;
        .b-checkbox {
          margin-bottom: 10px;
        }
      }
      .form-footer {
        padding-top: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid rgba($color: $black, $alpha: 0.12);
        .content-wrapper {
          max-width: 406px;
          width: 100%;
        }
        .service-price.price {
          margin-bottom: 10px;
        }
        .service-price {
          margin-bottom: 8px;
          p {
            &:first-child {
              margin-right: 1rem;
              margin-top: -4px;
            }
          }
          margin-right: 24px;
          .price-text {
            margin-right: 1px;
          }
        }
        .btn {
          margin-left: 0px;
          width: 100%;
          margin-bottom: 6px;
          &:first-child {
            margin-bottom: 12px;
          }
        }
      }
    }
  }
  &-step-2 {
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    .step-info-footer {
      display: flex;
      flex-wrap: wrap;
      .choice-header {
        max-width: 100%;
        flex: 0 0 100%;
        display: flex;

      }
      .choice-body {
        padding-left: 1.9rem;
        margin-left: 188px;
      }
    }
    .btns {
      width: 100%;
      .btn {
        width: 100%;
        &:not(:last-child) {
          margin-bottom: 12px;
        }
      }
    }
  }
  &-step-3 {
    flex-direction: column;
    .apply-modal-header {
      display: block;
    }
    .apply-modal-subhead {
      margin-bottom: 2rem;
    }
    .extra-info {
      padding-top: 16px;
      padding-bottom: 16px;
      border-top: 1px solid rgba($color: $black, $alpha: 0.12);
      border-bottom: 1px solid rgba($color: $black, $alpha: 0.12);
      margin-bottom: 32px;
      text-align: center;
      margin-right: 100px;
      margin-left: 100px;
    }
    .btn {
      max-width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.gift-modal {
  &-wrapper {

  }

  &-header {
    text-align: center;
    margin-bottom: 2rem;
  }
  &-subhead {
    text-align: center;
    margin-bottom: 2.625rem;
  }
  &-body {
    padding-left: 6.25rem;
    padding-right: 6.25rem;
    .progress {
      margin-bottom: 12px;
    }
    .step-header {
      display: flex;
      width: 100%;
      margin-bottom: 2rem;
      .step-title {
        margin-right: auto;
      }
      .step-counter {
        .seperator {
          margin-left: 1rem;
          margin-right: 1rem;
        }
      }
    }
    .gift-modal-step {
      &.step-01 {
        .form-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          align-content: center;
        }
        .services {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          .service-card-wrapper {
            max-width: 45%;
            flex: 0 0 45%;
            height: 171px;
            display: flex;
            flex-direction: column;

            .service-card {
              height: 89px;
              .svg-wrapper {
                @media (max-width: 1200px) {
                  left: -1%;
                  right: -1%;
                }
                @media (max-width: 600px) {

                }
              }
              .field {
                .b-radio {
                  padding: 16px 0 0 16px;
                  align-items: baseline;
                  align-content: baseline;
                  .control-label {
                    margin-bottom: auto;
                    .price {
                      margin-top: 0.5rem;
                      .price-symbol {
                        margin-left: 3px;
                      }
                    }
                  }
                }
              }
            }
            .service-subtext {
              margin-top: 1rem;
              margin-bottom: auto;
            }
          }
        }
        .btn {
          margin-left: auto;
          margin-right: auto;
        }
      }
      &.step-02 {
        .form-container {
          display: flex;
          flex-direction: column;
          display: flex;
          flex-direction: column;
          align-items: center;
          align-content: center;
          .form-group {
            max-width: 444px;
            width: 444px;
          }
          .btns {
            max-width: 100%;
            width: 100%;
          }
        }
        .btns {
          display: flex;
          justify-content: space-between;
        }
      }
      &.step-03 {
        .form-container {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          align-content: center;
          position: relative;
        }
        .form-group {
          max-width: 406px;
          width: 406px;
        }
        .btns {
          position: absolute;
          bottom: 0px;
          left: 0px;
          width: 100%;
          margin-bottom: 50px;
          transform: translateY(100%);
        }
        .service-card-wrapper {
          display: flex;
          flex-direction: row;
          margin-bottom: 6px;
          .service-card {
            .svg-wrapper {
              left: -4px;
              right: -4px;
              @media (max-width: 700px) {
                left: -1%;
                right: -1%;
              }
            }
          }
          .info-tooltip {
            max-width: 1.5rem;
            flex: 0 0 1.5rem;
            margin-left: 0.5rem;
            img {
              width: 100%;
              height: auto;
            }
          }
        }
        .btns {
          display: flex;
          .btn {
            &:not(:last-child) {
              margin-right: 0.5rem;
            }
            &.btn-back {
              margin-right: auto;
            }
          }
        }
      }
    }
    &.step-04 {
      .step-info-footer {
        display: flex;
        flex-wrap: wrap;
        .choice-header {
          max-width: 100%;
          flex: 0 0 100%;
          display: flex;

        }
        .choice-body {
          padding-left: 1.9rem;
          margin-left: 188px;
        }
      }
      .btn-pay-now {
        width: 100%;
      }
    }
    &.step-05 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      .gift-modal-subhead {
        margin-bottom: 2rem;
      }
      h2,p {
        width: 100%;
        text-align: center;
      }
    }
    .form-footer {
      border-top: 1px solid rgba($color: $black, $alpha: 0.12);
      padding-top: 2rem;
      margin-left: 6.8125rem;
      margin-right: 6.8125rem;
      .service-price  {
        p:first-child {
          margin-right: 20px;
        }
      }
      .service-price.price {
        margin-bottom: 10px;
      }
      .form-group {
        padding-left: 0px !important;
        padding-right: 0px !important;
      }
    }
  }
}
.subscribe-modal {

  .humble-header {
    font-size: 32px;

  }
  .body-m {
    font-size: 14px;
  }

  .modal-content {
    max-width: 560px !important;
    @media (min-width: 1115px) {
      max-width: 42vw !important;
    }
    .subscribe-modal-wrapper {
      padding: 0px;
      background-color: $black;
      color: $skin;
    }
  }
  &-body {
    display: flex;
    // .left {
    //   max-width: 43%;
    //   flex: 0 0 43%;
    //   display: flex;
    //   // padding-top: 100%;
    //   .b-image-wrapper {
    //     width: 100%;
    //   }
    // }
    .right {
      width: 100%;
      padding: 92px 80px;
      @media (min-width: 1115px) {
        padding: 13% !important;
      }
      .humble-header {
        @media (min-width: 1115px) {
          font-size: 2.92vw !important;
        }
      }
      .body-m {
        @media (min-width: 1115px) {
          font-size: 1.27vw !important;
        }
      }
      display: flex;
      flex-direction: column;
      .form-container {
        margin-top: auto;
      }
    }
  }
  &-header {
    margin-bottom: 16px;
    font-weight: 300;
  }
  &-subhead {
    margin-bottom: 42px;
  }
}
.faq-modal {
  &-header {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }
}

.thank-you-modal {
  &-header {
    text-align: center;
    margin-bottom: 2rem;
  }
  &-subhead {
    text-align: center;
    margin-bottom: 2.625rem;
  }
  &-body {
    padding-left: 6.25rem;
    padding-right: 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  &-step-product {
    flex-direction: column;
    .thank-you-modal-header {
      display: block;
      > * {
        display: inline-flex;
      }
    }
    .thank-you-modal-subhead {
      margin-bottom: 2rem;
    }
    .extra-info {
      padding-top: 16px;
      padding-bottom: 16px;
      border-top: 1px solid rgba($color: $black, $alpha: 0.12);
      border-bottom: 1px solid rgba($color: $black, $alpha: 0.12);
      margin-bottom: 32px;
      text-align: center;
      margin-right: 100px;
      margin-left: 100px;
    }
    .btn {
      max-width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &-step-gift-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    .thank-you-modal-subhead {
      margin-bottom: 2rem;
    }
    h2,p {
      width: 100%;
      text-align: center;
    }
  }
}

.modal {
  // Bulma variable $modal-background-background-color does not support gradient, therefore replace it with simple background property.
  position: fixed;
  top: -100vh;
  left: 0px;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: top 0.3s ease, opacity 0.3s ease;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 0px !important;

  &.is-active {
    opacity: 1;
    top: 0px;
    z-index: 888;
  }
  &-background {
    z-index: 2;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(41, 45, 61, 0.9) 0%, rgba(41, 45, 61, 0.72) 100%), linear-gradient(138.73deg, #D6003D 0%, #7B61FF 76.63%);
    opacity: 0.6;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  &-content {
    margin-top: 100px;
    max-width: 1060px !important;
    width: 100%;
    position: relative;
    z-index: 3;
    height: 100%;
    min-height: 100%;
    .modal-wrapper {
      margin-top: 60px;
      background-color: $beige;
      padding: 3.875rem 6.75rem 5.75rem 6.75rem;
    }
  }
  &-mobile-header {
    padding: 15px;
    position: relative;
    display: flex;
    justify-content: space-between;
    &__title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  @media screen and (max-width: 950px) {
    z-index: 1000;
  }
  @media screen and (min-width: 950px) {
    padding-bottom: 60px;
  }
  &-card {
    @media screen and (min-width: 950px) {
      width: calc(100vw - 122px);
      border-radius: 30px !important;

      // Fixes WebKit (Safari) bug with border-radius + overflow: hidden
      transform: translateZ(0)
    }
    @media screen and (min-width: 1400px) {
      width: calc(100vw - 244px);
    }
    &-body {
      @media screen and (max-width: 950px) {
        margin-top: 0;
        background: #F5F5F6;
      }
    }
    max-height: calc(100vh - 210px);
    &__content {
      @media screen and (max-width: 950px) {
        padding: 0 15px 27px 15px;
      }
      @media screen and (min-width: 950px) {
        padding: 0;
      }
      border-right: 1px solid $black;
      height: 100%
    }
  }
}
.modal-background {
  background: unset;
  background-color: rgba($color: $black, $alpha: 0.5);
}
.modal-close-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 22px;
  min-width: 22px;
  max-width: 22px;
  min-height: 22px;
  height: 22px;
  max-height: 22px;
  &:hover {
    cursor: pointer;
  }
}
.modal-close, .delete {

  display: none !important;

  position: fixed;
  top: 20px;
  right: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  height: 20px;
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
  outline: none;
  vertical-align: top;
  width: 20px;
}
.modal-close::before, .delete::before, .modal-close::after, .delete::after {
  background-color: $black;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform-origin: center center;
}
.modal-close::before, .delete::before {
  height: 2px;
  width: 50%;
}
.modal-close::after, .delete::after {
  height: 50%;
  width: 2px;
}
.modal-close:hover, .delete:hover, .modal-close:focus, .delete:focus {
  background-color: rgba(10, 10, 10, 0.3);
}
.modal-close:active, .delete:active {
  background-color: rgba(10, 10, 10, 0.4);
}
.is-small.modal-close, .is-small.delete {
  height: 16px;
  max-height: 16px;
  max-width: 16px;
  min-height: 16px;
  min-width: 16px;
  width: 16px;
}
.is-medium.modal-close, .is-medium.delete {
  height: 24px;
  max-height: 24px;
  max-width: 24px;
  min-height: 24px;
  min-width: 24px;
  width: 24px;
}
.is-large.modal-close, .is-large.delete {
  height: 32px;
  max-height: 32px;
  max-width: 32px;
  min-height: 32px;
  min-width: 32px;
  width: 32px;
}
