

.fade-slow-enter-active {
  transition: opacity 0.7s ease-in 0.2s;
}
.fade-slow-leave-active {
  transition: opacity 0.2s ease 0.3s;
}
.fade-slow-enter, .fade-slow-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.fade-fast-enter-active {
  transition: opacity 0.3s ease-in 0.1s;
}
.fade-fast-leave-active {
  transition: opacity 0.2s ease 0.2s;
}
.fade-fast-enter, .fade-fast-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}


.scroll-top-enter-active {
  transition: transform 1.5s ease;
}
.scroll-top-leave-active {
  transition: transform 1.5s ease;
}

.scroll-top-enter, .scroll-top-leave-to {
  transform: translateY(-100%);
  // top: -100vh;
}
