<template>
  <div :class="[$mq,cssClass]">
    <Nuxt />
  </div>
</template>
<script>
export default {
  data() {
    return {
    };
  },
  methods: {
    async heartbeat() {
      this.$store.dispatch('basket/loadCart').then((result) => {
      });

      const heartbeat = await this.$axios.$get('/v1//heartbeat');
    },
    changeLangParam(lang) {
      this.$router.push({path: this.$route.path, query: { lang: lang }})
    },
  },
  created() {
    const me = this;
    me.heartbeat();
  },
  computed: {
    fixPage() {
      return this.$store.state.fixPage
    },
    selectedLocale() {
      return this.$i18n.locale;
    },
    cssClass() {
      return [`selected-language-${this.selectedLocale}`]
    }
  },
  created() {
  },
  mounted() {
    this.$store.commit("loading");
  },
};

</script>
<style lang="scss" scoped>

</style>
