<template>

  <div class="big-input-field">

    <input
      ref="input"
      class="body-m"
      :placeholder="placeholder"
      v-bind="$attrs"
      v-model="model">

  </div>


  </div>
</template>

<script>

import _isEmpty from "lodash/isEmpty";

export default {
  props: {
    value: {
      type: [Number, String],
      default: null
    },
    placeholder: {
      type: String,
      default: null
    },
    error: null,
  },
  data () {
    return {
      innerValue: '',
      isFocused: false
    }
  },
  computed: {
    model: {
      get () {
        return this.innerValue
      },
      set (newVal) {
        this.$emit('input', newVal)
      }
    },

    hasError() {
      return !_isEmpty(this.error);
    }
  },
  watch: {
    value: {
      immediate: true,
      handler (newVal) {
        this.innerValue = newVal
      }
    }
  }
}
</script>
