<template>
  <div
    class="br-input field"
    :class="{
      'br-input--is-focused': isFocused,
      'br-input--is-dirty': !!innerValue,
      'br-input--is-disabled': disabled,
      'br-input--has-error': hasError,
    }"
    @click.self="$refs.input.focus()"
  >
    <label class="body-s" @click="$refs.input.focus()" v-text="label" />
    <input
      ref="input"
      class="body-s light"
      v-bind="$attrs"
      v-model="model"
      :disabled="disabled"
      @focus="isFocused = true"
      @blur="isFocused = false"
    >
    <!-- <span v-if="error" v-html="error"></span> -->
    <slot name="append-inner" />
  </div>
</template>

<script>

import _isEmpty from "lodash/isEmpty";

export default {
  props: {
    value: {
      type: [Number, String],
      default: null
    },
    disabled: {
      type: Boolean,
      default: false
    },
    label: {
      type: String,
      default: null
    },
    error: null,
  },
  data () {
    return {
      innerValue: '',
      isFocused: false
    }
  },
  computed: {
    model: {
      get () {
        return this.innerValue
      },
      set (newVal) {
        this.$emit('input', newVal)
      }
    },

    hasError() {
      return !_isEmpty(this.error);
    }
  },
  watch: {
    value: {
      immediate: true,
      handler (newVal) {
        this.innerValue = newVal
      }
    }
  }
}
</script>
