<template>
<b-field>

  <label class="label-cbx body-xs">
    <input @change="changeVal($event)" v-model="model" type="checkbox" class="invisible">
    <div class="checkbox">
      <svg width="24px" height="24px" viewBox="0 0 20 20">
        <path class="border" d="M0,0 L20,0 L20,0 20,1 20,0 L20,20 L20,20 20,20 20,20 L0,20 L0,20 0,20 0,20 L0,0 L20,0 0,0 0,0 Z"></path>
        <path class="check" d="M15, 6L9.125, 13 L5, 9.81818" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
    <slot>
    </slot>
  </label>
</b-field>
</template>

<script>
import _isEmpty from "lodash/isEmpty";
export default {
  props: {
    value: null,
    error: null,
    item: null
  },
  data () {
    return {
      innerValue: '',
    }
  },
  methods: {
    changeVal(e) {
      if (this.item !== null) {
        let obj = {
          event: e,
          item: this.item
        }
        this.$emit('changeVal',obj)
      }
    }
  },
  computed: {
    model: {
      get () {
        return this.innerValue
      },
      set (newVal) {
        this.$emit('input', newVal)
      }
    },

    hasError() {
      return !_isEmpty(this.error);
    }
  },
  watch: {
    value: {
      immediate: true,
      handler (newVal) {
        this.innerValue = newVal
      }
    }
  }
}
</script>
