<template>
  <div class="checked">
    <img src="images/icons/check-black.svg" alt="">
    <slot>
    </slot>
  </div>
</template>
<style lang="scss" scoped>
  .checked {
    display: flex;
    align-content: center;
    align-items: center;
    img {
      margin-right: 0.5rem;
    }
  }
</style>
