<template>
  <b-field :class="{
      'has-error': hasError,
    }">
    <b-dropdown v-model="myValue"
    aria-role="list">
      <template #trigger>
        <a href="#" @click.prevent=""  v-if="myValue == null" class="select-btn">
          <p class="body-s light greyed">
            <slot></slot>
          </p>
          <img src="images/icons/chevron-down.svg" alt="">
        </a>
        <a v-for="(option,index) in options" :key="index"
        v-if="myValue == option" href="#"
        @click.prevent=""   class="select-btn">
          <p class="body-s">{{option.name}}  {{option.surname}}</p>
          <img src="images/icons/chevron-down.svg" alt="">
        </a>
      </template>
      <b-dropdown-item v-for="(option,index) in options" :key="index" :value="option" aria-role="listitem">
          <div class="media">
              <div class="media-content">
                <p class="body-s">{{option.name}} {{option.surname}}</p>
              </div>
          </div>
      </b-dropdown-item>
    </b-dropdown>
  </b-field>
</template>

<script>
import _isEmpty from "lodash/isEmpty";
export default {
  props: {
    options: Array,
    value: Object,
    error: null
  },
  data () {
    return {
      innerValue: '',
    }
  },
  computed: {
    myValue: {
      get() {
        return this.innerValue;
      },
      set(newVal) {
        this.$emit('input', newVal)
      }
    },
    hasError() {
      return !_isEmpty(this.error);
    }
  },
  watch: {
    value: {
      immediate: true,
      handler (newVal) {
        this.innerValue = newVal
      }
    }
  }
}
</script>
