.selected-language-ru {
  .subhead {
    font-family: $body-rus-font;
  }
  .body-l {
    font-family: $body-rus-font;
  }
  .body-m {
    font-family: $body-rus-font;
  }
  .body-s {
    font-family: $body-rus-font;
  }
  .price * {
    font-family: $body-font;
  }
  .carousel-counter .carousel-counter-card .text-card-content {
    height: 655px;
  }
  .epic-header, .grand-header, .spacious-header, .humble-header {
    font-family: "kazimir",sans-serif;
  }
}
