<template>
<div class="main">
    <Header
      :staticStrings="$t(staticStrings)">
    </Header>
    <b-loading is-full-page v-model="loading" :can-cancel="false"></b-loading>
    <Intro :slides="preloader.images"></Intro>

	<div ref="page" class="home-page">
    <BlocksBlock01 v-if="block01_02" id="home"
      :content="$t(block01_02)"
      :staticStrings="$t(staticStrings)"
      :innerWidth="innerWidth"
      @openApplyModal="openApplyModal($event)" @openGiftModal="openGiftModal"></BlocksBlock01>
    <BlocksBlock02 v-if="block01_02" id="about"
      :content="$t(block01_02)"
      :staticStrings="$t(staticStrings)">
    </BlocksBlock02>
    <BlocksBlock03 v-if="stylists.length > 0" id="stylists"
      :stylists="stylists"
      :innerWidth="innerWidth"
      :staticStrings="$t(staticStrings)"
      @openStylistModal="openStylistModal($event)">
    </BlocksBlock03>
    <BlocksBlock04></BlocksBlock04>
    <BlocksBlock05 id="reviews"
      :staticStrings="$t(staticStrings)"
      :reviews="$t(reviews)">
    </BlocksBlock05>
    <BlocksBlock06 v-if="reviews.length > 0 && 2 == 4"
      :reviews="$t(reviews)" :innerWidth="innerWidth"></BlocksBlock06>
    <BlocksBlock07 v-if="validProducts.length > 0"
      :staticStrings="$t(staticStrings)"
      :products="validProducts"
      :innerWidth="innerWidth"
      @openApplyModal="openApplyModal($event)">
    </BlocksBlock07>
    <BlocksBlock08 v-if="faqPage.text" id="faq"
      :content="$t(faqPage)"
      :staticStrings="$t(staticStrings)"
      @openFaqModal="openFaqModal">
    </BlocksBlock08>
    <BlocksBlock09
      :content="$t(translations)"
      :staticStrings="$t(staticStrings)"
      :posts="$t(posts)"
      @openGiftModal="openGiftModal">
    </BlocksBlock09>
    <Footer
      :content="$t(translations)"
      :staticStrings="$t(staticStrings)">
    </Footer>
	</div>

  <b-modal v-if="validGiftCards.length > 0" class="gift-modal" v-model="giftModal">
    <GiftModal
      :giftCards="validGiftCards"
      :stylists="stylists"
      :paymentMethods="paymentMethods"
      :staticStrings="$t(staticStrings)"
      @closeModal="closeModal">
    </GiftModal>
  </b-modal>
  <b-modal class="apply-modal" v-model="applyModal">
    <ApplyModal v-if="product"
      :product="product" :stylists="stylists"
      :predefinedStylist="predefinedStylist"
      :paymentMethods="paymentMethods"
      :staticStrings="$t(staticStrings)"
      @closeModal="closeModal">
    </ApplyModal>
  </b-modal>
  <b-modal class="artist-modal" v-model="stylistModal" >
    <StylistModal v-if="stylist"
      :stylist="stylist"
      :staticStrings="$t(staticStrings)"
      @closeModal="closeModal"
      @predefineStylist="predefineStylist($event)">
    </StylistModal>
  </b-modal>
  <b-modal class="faq-modal" v-model="faqModal">
    <FaqModal v-if="faqs.length > 0"
      :staticStrings="$t(staticStrings)"
      :content="faqs"
      @closeModal="closeModal">
    </FaqModal>
  </b-modal>
  <b-modal class="subscribe-modal" v-model="subscribeModal">
    <SubscribeModal
      :subscribeContent="subscribeContent"
      :staticStrings="$t(staticStrings)"
      @closeSubscribeModal="closeSubscribeModal">
    </SubscribeModal>
  </b-modal>

</div>
</template>
<script>
export default {
  head() {
    return {
      title: 'Spice Style'
    }
  },
  async asyncData({ $axios, params }) {
    const preloader = await $axios.$get('/v1/style-room/preloader')
		const block01_02 = await $axios.$get('/v1/style-room/main-content')
    const stylists = await $axios.$get('/v1/style-room/designers')
    const reviews = await $axios.$get('/v1/style-room/reviews')
    const faqPage = await $axios.$get('/v1/style-room/buj-page')
    const faqs = await $axios.$get('/v1/style-room/buj/all')
    const products = await $axios.$get('/v1/style-room/products')
    const giftCards = await $axios.$get('/v1/style-room/gift-cards')
    const translations = await $axios.$get('/v1/style-room/translations')
    const posts = await $axios.$get('/v1/style-room/posts')
    const paymentMethods = await $axios.$get('/v1/payments/methods')
    const staticStrings = await $axios.$get('/v1/content/strings')
    const subscribeContent = await $axios.$get('/v1/style-room/subscribe-content')
		return {
      preloader:preloader.data,
      block01_02:block01_02.data,
      stylists:stylists.data,
      reviews:reviews.data,
      faqPage:faqPage.data,
      faqs:faqs.data,
      products:products.data,
      giftCards:giftCards.data,
      translations:translations.data,
      posts:posts.data,
      paymentMethods:paymentMethods.data,
      staticStrings:staticStrings.data,
      subscribeContent:subscribeContent.data
    }
	},
	data() {
    return {
      innerWidth: 0,
      innerHeight: 0,
      docScroll: 0,
      stylistModal: false,
      faqModal: false,
      applyModal: false,
      giftModal: false,
      subscribeModal: false,
      loading: false,
      stylist: null,
      product: null,
      giftCard: null,
      predefinedStylist: null,
      images: [
        {
          0: '/images/block-03/idle_01.png',
          1: '/images/block-03/idle_01.png',
          2: '/images/block-03/02_01.png',
          3: '/images/block-03/idle_01.png',
          4: '/images/block-03/idle_01.png',
        },
        {
          0: '/images/block-03/idle_02.png',
          1: '/images/block-03/idle_02.png',
          2: '/images/block-03/02_02.png',
          3: '/images/block-03/idle_02.png',
          4: '/images/block-03/idle_02.png',
        },
        {
          0: '/images/block-03/idle_03.png',
          1: '/images/block-03/idle_03.png',
          2: '/images/block-03/02_03.png',
          3: '/images/block-03/idle_03.png',
          4: '/images/block-03/idle_03.png',
        },
        {
          0: '/images/block-03/idle_04.png',
          1: '/images/block-03/idle_04.png',
          2: '/images/block-03/02_04.png',
          3: '/images/block-03/idle_04.png',
          4: '/images/block-03/idle_04.png',
        }
      ],
      renderedStyles: {
        translationY: {
          previous: 0,
          current: 0,
          ease: 0.1,
        }
      }
    }
  },
  computed: {
    validProducts() {
      let products = []
      const productsRaw = this.products
      productsRaw.forEach(product => {
        if (product.variations.length > 0 && product.default !== null) {
          products.push(product)
        }
      })
      return products
    },
    validGiftCards() {
      let giftCards = []
      this.giftCards.forEach(giftCard => {
        if (giftCard.variations.length > 0 && giftCard.default !== null) {
          giftCards.push(giftCard)
        }
      })
      return giftCards
    },
    // scrollY() {
    //   return this.renderedStyles.translationY.previous
    // },
  },
  methods: {
    predefineStylist(stylist) {
      this.stylistModal = false
      this.predefinedStylist = stylist
    },
    addToCart(variation) {
      this.$store.dispatch('basket/ADD_PRODUCT', {variation} )
        .then((r) => {
        })
        .catch((err) => {
          this.toast(
            err.message,
            "is-danger"
          );
        })
    },
    removeAllFromCart() {
      this.$store.dispatch('basket/EMPTY_LIST')
    },
    toast(message, type) {
      type = type || 'is-success';
      this.$buefy.toast.open({
          duration: 5000,
          message: message,
          // position: 'is-bottom',
          type: type
      })
    },
    getStylist(id) {
      this.loading = true
      this.$axios.$get('/v1/style-room/designer/'+id)
      .then((response) => {
        this.stylist = this.$t(response.data)
        this.loading = false
        this.stylistModal = true
      })
    },
    async getProduct(id) {
      this.loading = true
      this.$axios.$get('/v1/style-room/product/'+id)
      .then((response) => {
        this.product = response.data
        this.addToCart(this.product.default)
        this.loading = false
        this.applyModal = true
      }).catch((err) => {
      })
    },
    openGiftModal() {
      this.giftModal = true
    },
    closeModal() {
      this.stylistModal = false
      this.applyModal = false
      this.giftModal = false
      this.faqModal = false
      // this.subscribeModal = false
    },
    closeSubscribeModal() {
      this.subscribeModal = false
    },
    openApplyModal(id) {
      this.getProduct(id)
    },
    openStylistModal(id) {
      this.getStylist(id)
    },
    openFaqModal() {
      this.faqModal = true
    },
    // lerp(a, b, n) {
    //   return (1 - n) * a + n * b
    // },
    // map(x, a, b, c, d) {
    //   return (x - a) * (d - c) / (b - a) + c
    // },
    calcWinsize() {
      this.innerWidth = window.innerWidth
      this.innerHeight = window.innerHeight
    },
    // getPageYScroll() {
    //   this.docScroll = window.pageYOffset || document.documentElement.scrollTop;
    // },
    // render() {
    //     // update the current and interpolated values
    //     for (const key in this.renderedStyles ) {
    //         this.renderedStyles[key].current = this.setValue();
    //         this.renderedStyles[key].previous = this.lerp(this.renderedStyles[key].previous, this.renderedStyles[key].current, this.renderedStyles[key].ease);
    //     }
    //     // and translate the scrollable element

    //     // loop..
    //     requestAnimationFrame(() => this.render());
    // },
    // initSmoothScroll() {
    //   this.setSize();
    //   this.update();
    //   requestAnimationFrame(() => this.render());

    // },
    // setSize() {
    //   // set the heigh of the body in order to keep the scrollbar on the page
    //   document.body.style.height = `${this.$refs.page.scrollHeight}px`;
    // },
    // update() {
    //   // sets the initial value (no interpolation) - translate the scroll value
    //   for (const key in this.renderedStyles ) {
    //       this.renderedStyles[key].current = this.renderedStyles[key].previous = this.setValue();
    //   }
    //   // translate the scrollable element

    // },
    // setValue() {
    //   return this.docScroll
    // },
  },
	mounted() {
    let self = this
		self.calcWinsize()
    window.addEventListener('resize', function() {
      self.calcWinsize()
    })
    window.addEventListener('scroll', function() {
      // self.getPageYScroll()
    });
    // self.initSmoothScroll()
    setTimeout(() => {
      self.subscribeModal = false
    }, 35000);
  },
  watch: {
    applyModal(newVal,oldVal) {
      if (!newVal) {
        this.removeAllFromCart()
      }
    },
    giftModal(newVal,oldVal) {
      if (!newVal) {
        this.removeAllFromCart()
      }
    }
  }
};
</script>
