<template>
  <div class="main">
    <Header
      :staticStrings="$t(staticStrings)">
    </Header>
    <b-loading is-full-page v-model="loading" :can-cancel="false"></b-loading>
    <div ref="page" class="terms-page">
      <div class="terms-page-body">
        <div class="terms-page-header">
          <h2 class="humble-header">{{$t(termsPage.title)}}</h2>
        </div>
        <div class="texts body-m" v-html="$t(termsPage.body_text)">

        </div>
        <!-- <div class="texts body-m">
          <p><strong>Vārdnīca</strong></p>
          <p><strong>Aksesuāri</strong> – apavi, rotaslietas, somas un somiņas, matu rotājumi, lakati un citi stila elementi.</p>
          <p><strong>Klients</strong> – cilvēks, kurš par maksu saņem STYLE ROOM pakalpojumu.</p>
          <p><strong>Stilists</strong> – viens no četriem pakalpojuma sniedzējiem (Dace Krieviņa-Bahmane, Olga Kolotova, Anatolijs Ksenofontovs, Kristīne Rudzinska).</p>
          <p><strong>Pakalpojums</strong> – viens no četriem pamata pakalpojumiem (“Saruna ar stilistu”, “Stils iedvesmai”, “Kapsulas garderobe”, “Stils pasākumam”).</p>
          <p><strong>Papildu pakalpojums</strong> – viens no diviem papildu pakalpojumiem (Make-up pakalpojums, Fotogrāfa pakalpojums).</p>
          <p class="underline"><strong>Pakalpojuma rezervēšana un izmantošana</strong></p>
          <ol>
            <li>
              <p>Pakalpojuma rezervēšana notiek tīmekļvietnē SPICESTYLE.LV.</p>
            </li>
            <li>
              <p>Klients izvēlas pakalpojumu tīmekļvietnes sadaļā “STYLE ROOM pakalpojumi”. Ir pieejami četri pakalpojumi:</p>
              <ol type="a">
                <li>
                  <p><strong>“Saruna ar stilistu”</strong>, cena 160 EUR,</p>
                </li>
                <li>
                  <p><strong>“Stils iedvesmai”</strong>, cena 360 EUR,</p>
                </li>
                <li>
                  <p><strong>“Kapsulas garderobe”</strong>, cena 660 EUR,</p>
                </li>
                <li>
                  <p><strong>“Stils pasākumam”</strong>, cena 260 EUR.</p>
                </li>
              </ol>
            </li>
            <li>
              <p>Klients izvēlas vienu no četriem stilistiem un rezervē pakalpojumu tīmekļvietnes sadaļā “STYLE ROOM pakalpojumi”. Klients par pakalpojumu:</p>
              <ol type="a">
                <li>
                  <p>maksā ar karti tīmekļvietnē vai</p>
                </li>
                <li>
                  <p>izvēlas maksāt t/c SPICE informācijas centrā.</p>
                </li>
              </ol>
            </li>
            <li>
              <p>Pakalpojumu pēc izvēles var saņemt pie viena no četriem stilistiem:</p>
              <ol type="a">
                <li>
                  <p>Daces Krieviņas-Bahmanes,</p>
                </li>
                <li>
                  <p>Olgas Kolotovas,</p>
                </li>
                <li>
                  <p>Anatolija Ksenofontova,</p>
                </li>
                <li>
                  <p>Kristīnes Rudzinskas.</p>
                </li>
              </ol>
            </li>
            <li>
              <p>Kad klients ir rezervējis pakalpojumu, t/c SPICE administrācija saņem rezervācijas pieteikumu un saskaņo pakalpojuma saņemšanas laiku ar izvēlēto stilistu un klientu.</p>
            </li>
            <li>
              <p>Saskaņotajā laikā klients ierodas t/c SPICE un dodas uz STYLE ROOM. Ja klientam nav zināms, kur atrodas STYLE ROOM, klients to var noskaidrot t/c SPICE informācijas centrā. T/c SPICE darbinieks norādīs, kā nokļūt STYLE ROOM.</p>
            </li>
            <li>
              <p>Jautājumu gadījumā klients sazinās ar t/c SPICE administrāciju pa tālruni 67807279 vai e-pastu STYLEROOM@SPICE.LV.</p>
            </li>
            <li>
              <p>Pakalpojuma saņemšanas kārtība:</p>
              <ol type="a">
                <li>
                  <p><strong>“Saruna ar stilistu”</strong> – norit 1,5 h ilga saruna ar stilistu par dažādām modes un stila aktualitātēm un jaunākajām modes tendencēm. Klientam ir iespēja uzdot stilistam dažādus jautājumus par šo tēmu, un stilists uz tiem atbild. Stilists uzdod precizējošus jautājumus par klienta personīgo stilu, izpratni par modi un vēlmēm, kas saistītas ar stila izkopšanu. Stilists apkopo klienta izteiktās vēlmes, sniedz konstruktīvus ieteikumus, kā klientam atsvaidzināt savu tēlu un garderobi, ko ņemt vērā, veidojot savu stilu, kāda veida apģērbu izvēlēties un kā apģērbu kombinēt ar apaviem un aksesuāriem dažādās sezonās atkarībā no klienta vajadzībām.</p>
                </li>
                <li>
                  <p><strong>“Stils iedvesmai”</strong> – norit 1 h ilga saruna ar stilistu par dažādām modes un stila aktualitātēm un jaunākajām modes tendencēm. Klientam ir iespēja uzdot dažādus jautājumus par šo tēmu, un stilists uz tiem atbild. Stilists uzdod precizējošus jautājumus par klienta personīgo stilu, izpratni par modi un vēlmēm, kas saistītas ar jauna stila izveidi vai esošā pilnveidošanu. Klients un stilists vienojas par 1 h ilgu pauzi, kuras laikā stilists dodas uz dažādiem t/c SPICE veikaliem un izvēlas trīs apģērbu un aksesuāru komplektus, ko nogādā STYLE ROOM. Pēc pauzes norit 1,5 h ilga apģērbu un aksesuāru pielaikošanas sesija. Klients uzlaiko trīs izvēlētos apģērbu un aksesuāru komplektus un kopā ar stilistu vērtē to atbilstību savam personīgajam stilam. Apģērbu un aksesuāru komplekti nepaliek ne klienta, ne stilista īpašumā. Ja klients vēlas kādus no apģērbiem vai aksesuāriem iegādāties, klients par tiem visiem kopā var samaksā t/c SPICE informācijas centrā vai par katru atsevišķi attiecīgajos veikalos, no kuriem stilists tos ir izvēlējies.</p>
                </li>
                <li>
                  <p><strong>“Kapsulas garderobe”</strong> – šis pakalpojums tiek organizēts divās atsevišķās dienās. Lai rezervētu pakalpojuma saņemšanas laiku, klients sazinās ar t/c SPICE administrāciju (pa tālruni 67807279 vai e-pastu STYLEROOM@SPICE.LV) un saskaņo sev vēlamās dienas un laiku.</p>
                  <ol type="i">
                    <li>
                      <p><strong>Pirmajā dienā</strong> norit 1 h ilga saruna ar stilistu par dažādām modes un stila aktualitātēm un jaunākajām modes tendencēm. Klientam ir iespēja uzdot dažādus jautājumus par šo tēmu, un stilists uz tiem atbild. Stilists uzdod precizējošus jautājumus par klienta personīgo stilu, izpratni par modi un vēlmēm, kas saistītas ar garderobes izveidi vienai sezonai. </p>
                    </li>
                    <li>
                      <p><strong>Otrajā dienā</strong> stilists sagaida klientu STYLE ROOM ar 8–10 apģērbu un aksesuāru komplektiem, kurus izvēlējies dažādos t/c SPICE veikalos. Ar klientu norit līdz 3 h ilga apģērbu un aksesuāru pielaikošanas sesija. Klients uzlaiko šos 8–10 apģērbu un aksesuāru komplektus un kopā ar stilistu vērtē to atbilstību savam personīgajam stilam. Apģērbu un aksesuāru komplekti nepaliek ne klienta, ne stilista īpašumā. Ja klients vēlas kādus no apģērbiem vai aksesuāriem iegādāties, klients par tiem visiem kopā var samaksā t/c SPICE informācijas centrā vai par katru atsevišķi attiecīgajos veikalos, no kuriem stilists tos ir izvēlējies.</p>
                    </li>
                  </ol>
                </li>
                <li>
                  <p><strong>“Stils pasākumam”</strong> – norit 1 h ilga saruna ar stilistu par pasākumu, kuram klients vēlas sagatavoties un izveidot stilu. Klientam ir iespēja uzdot dažādus jautājumus par šo tēmu, un stilists uz tiem atbild. Stilists uzdod precizējošus jautājumus par klienta personīgo stilu, izpratni par modi un vēlmēm, kas saistītas ar stila izveidi pasākumam. Klients un stilists vienojas par 1 h ilgu pauzi, kuras laikā stilists dodas uz dažādiem t/c SPICE veikaliem un izvēlas divus apģērbu un aksesuāru komplektus, ko nogādā STYLE ROOM. Pēc pauzes norit 1 h ilga apģērbu un aksesuāru pielaikošanas sesija. Klients uzlaiko šos divus apģērbu un aksesuāru komplektus un kopā ar stilistu vērtē to atbilstību savam personīgajam stilam. Apģērbu un aksesuāru komplekti nepaliek ne klienta, ne stilista īpašumā. Ja klients vēlas kādus no apģērbiem vai aksesuāriem iegādāties, klients par tiem visiem kopā var samaksā t/c SPICE informācijas centrā vai par katru atsevišķi attiecīgajos veikalos, no kuriem stilists tos ir izvēlējies.</p>
                </li>
              </ol>
            </li>
          </ol>

          <p class="underline"><strong>Papildu pakalpojumu rezervēšana un izmantošana</strong></p>
          <ol>
            <li>
              <p>STYLE ROOM ir pieejami vēl divi papildu pakalpojumi:</p>
              <ol type="a">
                <li>
                  <p>Make-up pakalpojums, cena 50 EUR,</p>
                </li>
                <li>
                  <p>Fotogrāfa pakalpojums, cena 250 EUR.</p>
                </li>
              </ol>
            </li>
            <li>
              <p>Lai rezervētu šos papildu pakalpojumus, klients izvēlas vienu vai abus pakalpojumus tīmekļvietnes SPICESTYLE.LV sadaļā “STYLE ROOM pakalpojumi”, pakalpojuma rezervēšanas anketā atzīmējot izvēlēto ar “✓”.</p>
            </li>
            <li>
              <p>Make-up pakalpojums iekļauj viena veida grima izveidi pakalpojuma saņemšanas laikā uz vietas STYLE ROOM. To nodrošina t/c SPICE administrācijas uzaicināts grima mākslinieks.</p>
            </li>
            <li>
              <p>Fotogrāfa pakalpojums iekļauj 1 h ilgu klienta fotosesiju (klients drīkst fotografēties ar kādu no uzlaikotajiem apģērbu un aksesuāru komplektiem, ja iegādātajā pakalpojumā tādi ir paredzēti). Pēc fotosesijas klients saņem astoņas pilnībā apstrādātas fotogrāfijas, kā arī visus neapstrādātos attēlus. T/c SPICE administrācija ar noteiktu rakstisku klienta piekrišanu, ievērojot t/c SPICE privātuma politiku, kas pieejama tīmekļvietnē www.spice.lv, patur tiesības uzņemtās fotogrāfijas izmantot STYLE ROOM tīmekļvietnē un cita veida komunikācijā, kas saistīta ar STYLE ROOM. Klientam ir tiesības arī neatļaut savas fotogrāfijas izmantot STYLE ROOM tīmekļvietnē un cita veida komunikācijā, kas saistīta ar STYLE ROOM, kā arī klientam ir tiesības rakstiski atsaukt savu sniegto piekrišanu fotogrāfiju izmantošanai.</p>
            </li>
          </ol>

          <p class="underline"><strong>Dāvanu kartes iegāde un izmantošana</strong></p>
          <ol>
            <li>
              <p>Dāvanu kartes iegāde notiek tīmekļvietnē SPICESTYLE.LV.</p>
            </li>
            <li>
              <p>Klients izvēlas STYLE ROOM dāvanu karti tīmekļvietnes sadaļā “Dāvanu karte”. Ir pieejamas dāvanu kartes četriem pakalpojumiem:</p>
              <ol type="a">
                <li>
                  <p><strong>“Saruna ar stilistu”</strong>, cena 160 EUR,</p>
                </li>
                <li>
                  <p><strong>“Stils iedvesmai”</strong>, cena 360 EUR,</p>
                </li>
                <li>
                  <p><strong>“Kapsulas garderobe”</strong>, cena 660 EUR,</p>
                </li>
                <li>
                  <p><strong>“Stils pasākumam”</strong>, cena 260 EUR.</p>
                </li>
              </ol>
            </li>
            <li>
              <p>Klients tīmekļvietnē izvēlas dāvanu kartes saņemšanas veidu:</p>
              <ol type="a">
                <li>
                  <p>elektroniski vai</p>
                </li>
                <li>
                  <p>papīra formātā t/c SPICE informācijas centrā.</p>
                </li>
              </ol>
            </li>
            <li>
              <p>Klients pasūta dāvanu karti un:</p>
              <ol type="a">
                <li>
                  <p>samaksā par dāvanu karti ar karti tīmekļvietnē vai</p>
                </li>
                <li>
                  <p>izvēlas maksāt t/c SPICE informācijas centrā.</p>
                </li>
              </ol>
            </li>
            <li>
              <p>Gadījumos, kad klients pasūta dāvanu karti tīmekļvietnē, klientam ir tiesības izvēlēties dāvanu kartes saņemšanas veidu:</p>
              <ol type="a">
                <li>
                  <p>elektroniski savā e-pastā – dāvanu karte pēc pasūtījuma veikšanas tiek nosūtīta uz klienta norādīto e-pasta adresi, un to drīkst izmantot elektroniskā un drukātā formātā;</p>
                </li>
                <li>
                  <p>papīra formātā t/c SPICE informācijas centrā – pēc pasūtījuma noformēšanas klients savā e-pastā saņem uzaicinājumu ierasties t/c SPICE informācijas centrā pēc dāvanu kartes. </p>
                </li>
              </ol>
            </li>
            <li>
              <p>Ja klients izvēlas veikt apmaksu t/c SPICE informācijas centrā, klientam vispirms jāsagaida uzaicinājuma vēstule savā e-pastā un pēc tam jādodas uz t/c SPICE informācijas centru, lai samaksātu un saņemtu dāvanu karti papīra formātā. Samaksa jāveic divu nedēļu laikā no e-pasta saņemšanas dienas.</p>
            </li>
            <li>
              <p>Dāvanu kartes izmantotājs (klients) var izvēlēties saņemt pakalpojumu pie viena no četriem stilistiem:</p>
              <ol type="a">
                <li>
                  <p>Daces Krieviņas-Bahmanes,</p>
                </li>
                <li>
                  <p>Olgas Kolotovas,</p>
                </li>
                <li>
                  <p>Anatolija Ksenofontova,</p>
                </li>
                <li>
                  <p>Kristīnes Rudzinskas.</p>
                </li>
              </ol>
            </li>
            <li>
              <p>Lai rezervētu pakalpojuma laiku, dāvanu kartes izmantotājs (klients) sazinās ar t/c SPICE administrāciju pa tālruni 67807279 vai e-pastu STYLEROOM@SPICE.LV.</p>
            </li>
            <li>
              <p>Kad klients ir rezervējis pakalpojumu, t/c SPICE administrācija saskaņo pakalpojuma saņemšanas laiku ar izvēlēto stilistu un klientu.</p>
            </li>
            <li>
              <p>Saskaņotajā laikā klients ierodas t/c SPICE un dodas uz STYLE ROOM. Ja klientam nav zināms, kur atrodas STYLE ROOM, klients to var noskaidrot t/c SPICE informācijas centrā. T/c SPICE darbinieks norādīs, kā nokļūt STYLE ROOM.</p>
            </li>
            <li>
              <p>Jautājumu gadījumā klients sazinās ar t/c SPICE administrāciju pa tālruni 67807279 vai e-pastu STYLEROOM@SPICE.LV.</p>
            </li>
            <li>
              <p>Pakalpojuma saņemšanas kārtība: </p>
              <ol type="a">
                <li>
                  <p><strong>“Saruna ar stilistu”</strong> – norit 1,5 h ilga saruna ar stilistu par dažādām modes un stila aktualitātēm un jaunākajām modes tendencēm. Klientam ir iespēja uzdot dažādus jautājumus par šo tēmu, un stilists uz tiem atbild. Stilists uzdod precizējošus jautājumus par klienta personīgo stilu, izpratni par modi un vēlmēm, kas saistītas ar stila izkopšanu. Stilists apkopo klienta izteiktās vēlmes, sniedz konstruktīvus ieteikumus, kā klientam atsvaidzināt savu tēlu un garderobi, ko ņemt vērā, veidojot savu stilu, kāda veida apģērbu izvēlēties un kā apģērbu kombinēt ar apaviem un aksesuāriem dažādās sezonās atkarībā no klienta vajadzībām.</p>
                </li>
                <li>
                  <p><strong>“Stils iedvesmai”</strong> – norit 1 h ilga saruna ar stilistu par dažādām modes un stila aktualitātēm un jaunākajām modes tendencēm. Klientam ir iespēja uzdot dažādus jautājumus par šo tēmu, un stilists uz tiem atbild. Stilists uzdod precizējošus jautājumus par klienta personīgo stilu, izpratni par modi un vēlmēm, kas saistītas ar jauna stila izveidi vai esošā pilnveidošanu. Klients un stilists vienojas par 1 h ilgu pauzi, kuras laikā stilists dodas uz dažādiem t/c SPICE veikaliem un izvēlas trīs apģērbu un aksesuāru komplektus, ko nogādā STYLE ROOM. Pēc pauzes norit 1,5 h ilga apģērbu un aksesuāru pielaikošanas sesija. Klients uzlaiko šos trīs apģērbu un aksesuāru komplektus un kopā ar stilistu vērtē to atbilstību savam personīgajam stilam. Apģērbu un aksesuāru komplekti nepaliek ne klienta, ne stilista īpašumā. Ja klients vēlas kādus no apģērbiem vai aksesuāriem iegādāties, klients par tiem visiem kopā var samaksā t/c SPICE informācijas centrā vai par katru atsevišķi attiecīgajos veikalos, no kuriem stilists tos ir izvēlējies.</p>
                </li>
                <li>
                  <p><strong>“Kapsulas garderobe”</strong>– šis pakalpojums tiek organizēts divās atsevišķās dienās. Lai rezervētu pakalpojuma saņemšanas laiku, klients sazinās ar t/c SPICE administrāciju (pa tālruni 67807279 vai e-pastu STYLEROOM@SPICE.LV) un saskaņo sev vēlamās dienas un laiku.</p>
                  <ol type="i">
                    <li>
                      <p><strong>Pirmajā dienā</strong> norit 1 h ilga saruna ar stilistu par dažādām modes un stila aktualitātēm un jaunākajām modes tendencēm. Klientam ir iespēja uzdot dažādus jautājumus par šo tēmu, un stilists uz tiem atbild. Stilists uzdod precizējošus jautājumus par klienta personīgo stilu, izpratni par modi un vēlmēm, kas saistītas ar garderobes izveidi vienai sezonai. </p>
                    </li>
                    <li>
                      <p><strong>Otrajā dienā</strong> stilists sagaida klientu STYLE ROOM ar 8–10 apģērbu un aksesuāru komplektiem, ko izvēlējies dažādos t/c SPICE veikalos. Ar klientu norit līdz 3 h ilga apģērbu un aksesuāru pielaikošanas sesija. Klients uzlaiko šos 8–10 apģērbu un aksesuāru komplektus un kopā ar stilistu vērtē to atbilstību savam personīgajam stilam. Apģērbu un aksesuāru komplekti nepaliek ne klienta, ne stilista īpašumā. Ja klients vēlas kādus no apģērbiem vai aksesuāriem iegādāties, klients par tiem visiem kopā var samaksā t/c SPICE informācijas centrā vai par katru atsevišķi attiecīgajos veikalos, no kuriem stilists tos ir izvēlējies.</p>
                    </li>
                  </ol>
                </li>
                <li>
                  <p><strong>“Stils pasākumam”</strong> – norit 1 h ilga saruna ar stilistu par pasākumu, kuram klients vēlas sagatavoties un izveidot stilu. Klientam ir iespējas uzdot dažādus jautājumus par šo tēmu, un stilists uz tiem atbild. Stilists uzdod precizējošus jautājumus par klienta personīgo stilu, izpratni par modi un vēlmēm, kas saistītas ar stila izveidi pasākumam. Klients un stilists vienojas par 1 h ilgu pauzi, kuras laikā stilists dodas uz dažādiem t/c SPICE veikaliem un izvēlas divus apģērbu un aksesuāru komplektus, ko nogādā STYLE ROOM. Pēc pauzes norit 1 h ilga apģērbu un aksesuāru pielaikošanas sesija. Klients uzlaiko šos divus apģērbu un aksesuāru komplektus un kopā ar stilistu vērtē to atbilstību savam personīgajam stilam. Apģērbu un aksesuāru komplekti nepaliek ne klienta, ne stilista īpašumā. Ja klients vēlas kādus no apģērbiem vai aksesuāriem iegādāties, klients par tiem visiem kopā var samaksā t/c SPICE informācijas centrā vai par katru atsevišķi attiecīgajos veikalos, no kuriem stilists tos ir izvēlējies.</p>
                </li>
              </ol>
            </li>
          </ol>
        </div> -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  async asyncData({ $axios, params }) {
    const staticStrings = await $axios.$get('/v1/content/strings')
    const termsPage = await $axios.$get('/v1/style-room/term-content')
		return {
      staticStrings:staticStrings.data,
      termsPage:termsPage.data
    }
	},
  mounted() {
    document.documentElement.classList.add('menu-closed')
  }
}
</script>
