@media (min-width: 2000px) {
  body {
    font-size: 20px;
  }
  .gift-modal-body .gift-modal-step.step-01 .services .service-card-wrapper .service-card {
    height: 107px;
    min-height: 107px;
  }
  .header {
    height: 120px;
    .left-nav,.right-nav {
      margin-top: 75px;
    }
    .center {
      margin-top: 60px;
      width: 156px;
      height: auto;
    }
    .right-nav {
      .open-nav-btn {
        .burger {
          margin-top: 5px;
          span {
            height: 3px;
            &:first-child {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
  .price .price-text .super {
    font-size: 13px;
  }
  .carousel-counter .carousel-counter-card .text-card-content {
    width: 470px;
    .slider-title {
      height: 180px;
      min-height: 180px;
    }
  }
  .btn {
    height: 81px;
  }
  .block {
    &.block-01 {
      .block-content {
        .info-text {
          max-width: 600px;
        }
      }
    }
    &.block-02 {
      .text-right {
        .text-wrapper {
          max-width: 1100px;
        }
      }
    }
    &.block-04 {
      .parallax-img {
        // height: 960px;
      }
    }
    &.block-05 {
      .block-wrapper {
        .text-wrapper {
          max-width: 80%;

        }
      }
    }
    &.block-08 {
      .block-wrapper {
        .text-body {
          max-width: 600px;
          flex: 0 0 600px;
        }

      }
    }
    &.block-09 {
      .block-wrapper {
        .left {
          .humble-header,.bottom {
            max-width: 842px;
          }
        }
      }
    }
  }
  .gift-modal-body {
    .gift-modal-step.step-01 {
      .services {
        .service-card-wrapper {
          height: 240px;
        }
      }
    }
  }
  .modal {
    .modal-content {
      max-width: 1200px !important;
    }
    &.subscribe-modal {
      .modal-content {
        max-width: 1000px !important;
      }
    }
  }
  .apply-modal {
    &-body {
      .form-container {
        .form-group {
          max-width: 600px;
        }
      }
    }
  }
  .big-input {
    height: 84px;
  }
}
