.header {
  @media (max-width: 600px) {
    .menu-block {
      .menu {
        .mid-nav {
          .img-wrapper {
            width: 120px;
            height: 200px;
          }
        }
        .bot-nav {
          flex-wrap: wrap;
          .dashed-nav {
            max-width: 100%;
            flex: 0 0 100%;
          }
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .intro-block .fast-flick-imgs .flick-img {
    width: 90vw;
  }
}
.block {
  &.block-01 {
    @media (max-width: 600px) {
      .block-content {
        .intro-header {
          width: 88vw;
        }
        .info-text,.buttons {
          width: 100%;
          max-width: 100%;
        }
        .info-text {
          margin-left: 0px;
          margin-right: 0px;
        }
        .buttons {
          // justify-content: space-between;
          justify-content: center;
        }
      }
    }
  }
  &.block-03 {
    .artist {
      img {
        margin-right: 12px;
      }
    }
  }
  &.block-04 {
    @media (max-width:550px) {
      .parallax-img {
        height: 187px;
      }
    }
  }
  &.block-06 {
    .carousel-counter .fit-in-screen-container {
      padding-left: 4vw;
      padding-right: 4vw;
      justify-content: flex-start;
    }
  }
  &.block-08 {
    @media (max-width: 650px) {
      // display: none;
      margin-bottom: 0px;
      .block-wrapper {
        display: flex;
        flex-direction: column;
        padding-left: 4vw;
        padding-right: 4vw;
        .img-left {
          min-height: unset;
          width: 100%;
          margin-bottom: 42px;
        }
        .text-body {

          flex: unset;
          max-width: unset;
          width: 100%;
          margin-bottom: 12px;
          .text-body-header {
            margin-bottom: 28px;
          }
        }
        .img-right {
          display: none;
        }
      }
    }
  }
  &.block-09 {
    >.block-wrapper {
      @media (max-width: 500px) {
        .left {
          .parallax-img {
            height: 167px;
            // background-position-y: center !important;
            // background-size: cover !important;
          }
        }
        .right {
          .slide-card {
            .slide-card-image, .slide-card-image-placeholder {
              height: 216px;
            }
          }
        }
      }
    }
  }
}
.footer {
  // @media (max-width: 820px) {
  //   > .block-wrapper {
  //     display: flex;
  //     flex-direction: column;
  //   }
  // }
  @media (max-width: 820px) {
    padding-bottom: 92px;
    > .block-wrapper, .block-10 > .block-wrapper {
      margin-left: 0px !important;
      margin-right: 0px !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
    > .block-wrapper {
      padding-top: 32px;
      flex-direction: row;
      flex-wrap: wrap;

      .left,.mid {
        max-width: 50%;
        flex: 0 0 50%;
        margin-bottom: 42px;
      }
      .left,.mid,.right {
        margin-left: 0px;
        margin-right: 0px;
        max-width: 100%;
        width: 100%;
        align-items: baseline;
      }
    }
  }
  @media (max-width: 620px) {
    padding-bottom: 92px;
    > .block-wrapper {
      padding-top: 32px;
      flex-direction: column;
      .left,.mid {
        margin-bottom: 42px;
      }
      .left,.mid,.right {
        margin-left: 0px;
        margin-right: 0px;
        max-width: 100%;
        width: 100%;
        align-items: baseline;
      }
    }
  }
  @media (max-width: 600px) {
    padding-left: 4vw;
    padding-right: 4vw;
    .block-wrapper {
      margin-left: 0px;
      margin-right: 0px;
    }
    .block.block-10 {
      margin-top: 92px;
      padding-bottom: 42px;
      .epic-header {
        text-align: left;
      }
    }
  }
}
.modal {
  @media (max-width: 800px) {
    &.subscribe-modal {
      padding: 0px;
      .modal-content {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        max-width: 100% !important;
        padding: 2%;
        .subscribe-modal-wrapper {
          margin-top: 0px;
          // height: 100%;
          min-height: unset;
          position: relative;
          .modal-close-btn {
            position: absolute;
            top: 21px !important;
            right: 21px !important;
            left: unset !important;
          }
          .subscribe-modal-body {
            flex-direction: column-reverse;
            height: 100%;
            justify-content: flex-end;
            // overflow: hidden;
            .left,.right {
              width: 100%;
              max-width: 100%;
            }
            .left {
              height: 100%;
              max-height: 52%;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .right {
              min-height: fit-content;
              height: 100%;
              padding: 64px 4vw 42px 4vw;
            }
          }
        }
      }
    }
  }
  @media (max-width: 700px) {
    padding-left: 0px;
    padding-right: 0px;
    .modal-wrapper {
      margin-top: 0px;
      padding-top: 60px;
      padding-left: 4vw;
      padding-right: 4vw;
      position: relative;
      min-height: 100vh;
      .gift-modal-body {
        padding-left: 0px;
        padding-right: 0px;
        &.step-04 {
          .step-info {
            .blocks {
              padding-bottom: 26px;
              .step-info-block {
                flex-wrap: wrap;
                padding-bottom: 1rem;
                // padding-bottom: 42px;
                > * {
                  max-width: 100%;
                  flex: 0 0 100%;
                }
              }
            }
          }
        }
      }
      .modal-close-btn {
        position: absolute;
        top: 21px !important;
        left: unset !important;
        right: 21px;
      }
      .apply-modal-header,.apply-modal-subhead,.form-container,.gift-modal-header,.gift-modal-subhead {
        padding-left: 0px;
        padding-right: 0px;
        text-align: left;
      }
      .apply-modal-header,.gift-modal-header,.apply-modal-subhead {
        margin-bottom: 28px;
      }
      .gift-modal-body,.apply-modal-body {
          .form-group {
            padding-left: 0px;
            padding-right: 0px;
            max-width: 100% !important;
            width: 100% !important;
          }
          .form-footer {
            margin-left: 0px;
            margin-right: 0px;
          }
      }

    }
    &.faq-modal {
      .collapse-card {
        .collapse-card-header .card-header-title {
          padding-top: 20px;
          padding-bottom: 20px;
        }
        .card-content {
          padding-left: 0px;
          padding-top: 20px;
          padding-bottom: 0px;
        }
      }
    }
    &.gift-modal {
      .form-footer {
        width: 100%;
      }
    }
  }
  @media (max-width: 600px) {
    .artist-modal-wrapper {
      .artist-modal-header {
        position: relative;
        flex-direction: column-reverse;
        padding-bottom: 86px;
        .left,.right {
          flex: unset;
        }
        .left {
          max-width: 100%;
          width: 100%;
        }
        .right {
          .social-media {
            margin-bottom: 32px;
          }
          .btn {
            position: absolute;
            bottom: 0px;
          }
        }
      }
      .artist-modal-body {
        padding-left: 0px;
        padding-right: 0px;
      }
      .carousel-wrapper {
        padding-left: 0px;
        padding-right: 0px;
        .carousel-container {
          padding-bottom: 36px;
          .prev,.next {
            bottom: 0px;
            top: unset;
          }
          .prev {
            transform: translateX(-50%);
            left: 40%;
          }
          .next {
            transform: translateX(50%);
            right: 40%;
          }
        }
      }
    }
    .apply-modal-body {
      padding-left: 0px;
      padding-right: 0px;
    }
    .gift-modal-body {
      .step-header {
        flex-direction: column-reverse;
        margin-bottom: 24px;
        .step-counter {
          width: fit-content;
          margin-left: auto;
          margin-bottom: 24px;
        }
      }
      .gift-modal-step {
        &.step-01 {
          .services {
            margin-bottom: 32px;
            .service-card-wrapper {
              max-width: 100%;
              flex: 0 0 100%;
              height: auto;
              &:not(:last-child) {
                margin-bottom: 24px;
              }
            }
          }
        }
        .btns {
          flex-wrap: wrap;
          > * {
            &:not(:last-child) {
              margin-bottom: 12px;
            }
          }
        }
        &.step-03 {
          .btns {
            position: relative;
            transform: unset;
          }
        }
        &.step-01,&.step-02,&.step-03,&.step-04 {
          .btn,button {
            max-width: 100%;
            width: 100%;
            flex: 0 0 100%;
          }
        }
      }
    }
  }
}
.b-tooltip.is-primary {
  @media (max-width:600px) {
    .tooltip-content {
      left: unset;
      right: 0px;
      transform: unset;
      max-width: 200px;
      width: 200px;
      min-width: 200px;
    }
  }
}
.mobile {
  .parallax-img {
    background-position: center center !important;
  }
}
