.block-wrapper {
  @media (max-width: 1200px) {
    margin-left: 40px;
    margin-right: 40px;
  }
  @media (max-width: 1000px) {
    padding-left: 4vw;
    padding-right: 4vw;
    margin-left: 0px;
    margin-right: 0px;
    &.lg {
      padding-left: 4vw;
      padding-right: 4vw;
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}
.header {
  @media (max-width:948px) {
    padding-left: 16px;
    padding-right: 16px;
    .left-nav,.right-nav .open-nav-btn p {
      display: none;
    }
    .right-nav {
      margin-top: 44px;
      .open-nav-btn .burger {
        margin-left: 0px;
      }
    }
    .center {
      margin-top: 32px;
      position: relative;
      left: unset;
      transform: unset;
    }
    .menu-block {
      .menu {
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
        height: fit-content;
        .top-nav,.mid-nav,.bot-nav {
          margin-left: 0px;
          margin-right: 0px;
          padding-left: 0px;
          padding-right: 0px;
        }
        .top-nav {
          padding-top: 30px;
          padding-bottom: 47px;
        }
        .mid-nav {
          flex-direction: row-reverse;
          margin-top: 0px;
          margin-bottom: 42px;
          .menu-block-list {
            margin-right: auto;
            margin-top: 0px;
            margin-left: 0px;
          }
          .img-wrapper {
            margin-top: auto;
          }
          // .img-wrapper {
          //   width: 120px;
          //   height: 200px;
          // }
        }
        .bot-nav {
          padding-bottom: 62px;
          max-height: unset;
          .soc {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
.carousel-counter {
  @media (max-width: 948px) {
    .carousel-counter-card {
      .card-image {
        max-width: 93px;
        flex: 0 0 93px;
        height: 136px;
        margin-right: 16px;
      }
      .card-content {
        max-width: 219px;
        flex: 0 0 219px;
        .quote {
          width: 44px;
          max-width: 44px;
          margin-bottom: 32px;
        }
        .slider-title {
          margin-bottom: 16px;
        }
      }
    }
    .slick-track {
      display: flex;
      flex-wrap: nowrap;
    }
    .img-wrapper {
      padding-left: 6px;
      padding-right: 6px;
    }
    .gallery-panel {
      .block-wrapper {
        padding-top: 0px;
        padding-bottom: 44px;
      }
      .carousel-counter-numbers {
        left: 0px;
      }
      .carousel-controls {
        right: 0px;
      }
    }
  }
}
.block {
  &.block-01 {
    @media (max-width:948px) {
      height: auto;
      max-height: fit-content;
      margin-top: 0px;
      display: flex;
      flex-direction: column;
      min-height: auto;
      padding-bottom: 96px;
      margin-bottom: 0px;
      >.block-wrapper {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 4vw;
        padding-right: 4vw;
      }
      .block-content {
        position: relative;
        top: unset;
        height: fit-content;
        max-height: unset;
        padding-top: 0px;
        .top {
          position: relative !important;
          left: unset !important;
          top: unset !important;
          transform: unset !important;
        }
        .buttons {
          margin-bottom: 62px;
        }
      }
    }
  }
  &.block-02 {
    @media (max-width: 1200px) {
      padding-top: 92px;
      flex-direction: column;
      background-color: $skin;
      .sticky-img-wrapper {
        position: relative;
        height: fit-content;
        width: 100%;
        max-width: 100% !important;
        flex: 0 0 100% !important;
      }
      .size-to-left {
        position: relative;
        background: unset !important;
        height: fit-content;

      }
      .text-right,.img-wrapper {
        width: 100% !important;
        max-width: 100% !important;
        padding-left: 4vw;
        padding-right: 4vw;
      }
      .img-wrapper {
        margin-top: 0px;
      }
      .text-right {
        padding-top: 0px !important;
        .text-wrapper {
          width: 100%;
          padding-top: 0px;
          padding-bottom: 92px;
          .text-box {
            padding-left: 0px;
            padding-right: 0px;
            margin-bottom: 0px;
            .number-list {
              margin-bottom: 32px;
            }
            &.humble-header {
              margin-top: 42px;
              margin-bottom: 28px;
            }
          }
        }
      }
    }
  }
  &.block-03 {
    @media (max-width: 1440px) {
      .artists-list .artist:hover {
        color: $black;
      }
    }
    @media (max-width: 1200px) {

      .stylist-imgs {
        .floating-img {
          &.img-1 {
            width: 20.5rem;
          }
          &.img-3 {
            width: 16rem;
          }
          &.img-4 {
            width: 14.5rem;
          }
        }
      }
    }

    @media (max-width: 948px) {
      max-height: unset;
      height: fit-content;
      > .block-wrapper {
        padding-top: 12px;
        padding-bottom: 0px;
      }
      .block-header {
        margin-bottom: 42px;
      }
      .artist {
        text-align: left;
        margin-bottom: 32px;
        // margin-left: 4vw;
        // margin-right: 4vw;
        display: flex;
        &-name {
          // width: 100%;
          text-align: center;
        }
      }
      .carousel-counter {
        margin-bottom: 42px;
      }
    }
  }
  &.block-04 {
    @media (max-width:948px) {
      padding-top: 52px;
      .parallax-img {
        height: 350px;
        background-size: cover !important;
      }
    }
  }
  &.block-05 {
    @media (max-width: 948px) {
      padding-top: 42px;
      .block-wrapper {
        .text-wrapper {
          h3 {
            margin-bottom: 24px;
          }
          p {
            margin-left: 0px;
            margin-right: 0px;
          }
        }
      }
    }
  }
  &.block-06 {
    @media (max-width: 948px) {
      padding-top: 42px;
    }
  }
  &.block-07 {

  }
  &.block-09 {
    @media (max-width: 1100px) {
      &::before {
        display: none;
      }
    }
    >.block-wrapper {
      @media (max-width: 1300px) {
        .left {
          padding-left: 20px;
          padding-right: 40px;
        }
        .right {
          .slide-card {
            .slide-card-content {
              padding: 52px 35px 120px 35px;
            }
          }
        }
      }
      @media (max-width: 1200px) {
        .left {
          padding-left: 00px;
          padding-right: 20px;
        }
      }
      @media (max-width: 1100px) {
        flex-direction: column;
        margin-left: 0px !important;
        margin-right: 0px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        .left {
          padding-left: 20px;
          padding-right: 20px;
          .humble-header,.bottom {
            margin-left: 0px;
          }
          // .parallax-img {
          //   background-position-x: left !important;
          // }
          .bottom {
            .btn {
              margin-bottom: 62px;
            }
          }
        }
        .right {
          max-width: 100%;
          width: 100%;
          flex: unset;
          .gallery-panel {
            .block-wrapper {
              margin-left: 20px;
              margin-right: 20px;
            }
          }
          .slide-card {
            .slide-card-image {
              min-height: unset;
            }
            .slide-card-content {
              padding: 42px 4vw 40px 4vw;
            }
          }
        }
      }
    }
  }
  &.block-01,&.block-03 {
    @media (max-width:948px) {
      .carousel-counter  {
        .slick-slide,.img-wrapper {
          height: 394px;
        }
      }
    }
  }
}
.modal {
  @media (max-width: 1200px) {
    .gift-modal-body {
      .gift-modal-step {
        &.step-01 {
          .services {
            margin-bottom: 32px;
            .service-card-wrapper {
              max-width: 100%;
              flex: 0 0 100%;
              height: auto;
              &:not(:last-child) {
                margin-bottom: 24px;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 1100px) {
    padding-left: 20px;
    padding-right: 20px;
    .subscribe-modal {
      &-body {
        .left {
          max-width: 300px;
          flex: 0 0 300px;
        }
        .right {
          padding: 50px 90px 50px 30px;
        }
      }
    }
    .gift-modal-body.step-04 {
      // display: none;
    }
    .apply-modal-step-2, .gift-modal-body.step-04 {
        .step-info-footer {
          .choice-header {
            flex-wrap: wrap;
            *:first-child {
              max-width: 100%;
              flex: 0 0 100%;
            }
            margin-bottom: 10px;
          }
          .choice-body {
            margin-left: 0px;
            padding-left: 0px;
          }
        }
    }

  }
  @media (max-width: 900px) {
    .modal-wrapper {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}
