.block-wrapper {
  @media (max-width: 1200px) {
    margin-left: 40px;
    margin-right: 40px;
  }
  @media (max-width: 1000px) {
    margin-left: 16px;
    margin-right: 16px;
  }
}
.header {
  @media (max-width:948px) {
    padding-left: 16px;
    padding-right: 16px;
    .left-nav,.right-nav .open-nav-btn p {
      display: none;
    }
    .right-nav {
      margin-top: 44px;
      .open-nav-btn .burger {
        margin-left: 0px;
      }
    }
    .center {
      margin-top: 32px;
      position: relative;
      left: unset;
      transform: unset;
    }
    .menu-block {
      .menu {
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
        height: fit-content;
        .top-nav,.mid-nav,.bot-nav {
          margin-left: 0px;
          margin-right: 0px;
          padding-left: 0px;
          padding-right: 0px;
        }
        .top-nav {
          padding-top: 30px;
          padding-bottom: 47px;
        }
        .mid-nav {
          flex-direction: row-reverse;
          margin-bottom: 42px;
          .menu-block-list {
            margin-right: auto;
            margin-left: 0px;
          }
          .img-wrapper {
            margin-top: auto;
          }
          // .img-wrapper {
          //   width: 120px;
          //   height: 200px;
          // }
        }
        .bot-nav {
          padding-bottom: 62px;
        }
      }
    }
  }
  @media (max-width: 600px) {
    .menu-block {
      .menu {
        .mid-nav {
          .img-wrapper {
            width: 120px;
            height: 200px;
          }
        }
        .bot-nav {
          flex-wrap: wrap;
          .dashed-nav {
            max-width: 100%;
            flex: 0 0 100%;
          }
        }
      }
    }
  }
}
.carousel-counter {
  @media (max-width: 948px) {
    .carousel-counter-card {
      .card-image {
        max-width: 93px;
        flex: 0 0 93px;
        height: 136px;
        margin-right: 16px;
      }
      .card-content {
        max-width: 219px;
        flex: 0 0 219px;
        .quote {
          width: 44px;
          max-width: 44px;
          margin-bottom: 32px;
        }
        .slider-title {
          margin-bottom: 16px;
        }
      }
    }
    .slick-track {
      display: flex;
      flex-wrap: nowrap;
    }
    .img-wrapper {
      padding-left: 6px;
      padding-right: 6px;
    }
    .gallery-panel {
      .block-wrapper {
        padding-top: 0px;
        padding-bottom: 44px;
      }
      .carousel-counter-numbers {
        left: 0px;
      }
      .carousel-controls {
        right: 0px;
      }
    }
  }
}
.block {
  &.block-01 {
    @media (max-width:948px) {
      display: flex;
      flex-direction: column;
      min-height: auto;
      padding-bottom: 96px;
      margin-bottom: 0px;
      .block-wrapper {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 16px;
        padding-right: 16px;
      }
      .block-content {
        .buttons {
          margin-bottom: 62px;
        }
      }

    }
    @media (max-width: 600px) {
      .block-content {
        .info-text,.buttons {
          width: 100%;
          max-width: 100%;
        }
        .info-text {
          margin-left: 0px;
          margin-right: 0px;
        }
        .buttons {
          justify-content: space-between;
        }
      }
    }
  }
  &.block-02 {
    @media (max-width: 1200px) {
      padding-top: 92px;
      flex-direction: column;
      background-color: $skin;
      .text-right,.img-wrapper {
        width: 100% !important;
        max-width: 100% !important;
        padding-left: 16px;
        padding-right: 16px;
      }
      .img-wrapper {
        margin-top: 0px;
      }
      .text-right {
        .text-wrapper {
          width: 100%;
          padding-top: 0px;
          padding-bottom: 92px;
          .text-box {
            padding-left: 0px;
            padding-right: 0px;
            margin-bottom: 0px;
            .number-list {
              margin-bottom: 32px;
            }
            &.humble-header {
              margin-top: 42px;
              margin-bottom: 28px;
            }
          }
        }
      }
    }
  }
  &.block-03 {
    @media (max-width: 1100px) {
      .floating-img {
        &.img-3 {
          left: 35%;
        }
      }
    }
    @media (max-width: 948px) {
      > .block-wrapper {
        padding-top: 12px;
        padding-bottom: 0px;
      }
      .block-header {
        margin-bottom: 42px;
      }
      .artist {
        text-align: left;
        margin-bottom: 32px;
        margin-left: 16px;
        margin-right: 16px;
      }
      .carousel-counter {
        margin-bottom: 42px;
      }
    }
  }
  &.block-04 {
    @media (max-width:948px) {
      padding-top: 52px;
      .parallax-img {
        height: 350px;
        background-size: cover !important;
      }
    }
    @media (max-width:550px) {
      .parallax-img {
        height: 187px;
      }
    }
  }
  &.block-05 {
    @media (max-width: 948px) {
      padding-top: 42px;
      .block-wrapper {
        .text-wrapper {
          h3 {
            margin-bottom: 24px;
          }
          p {
            margin-left: 0px;
            margin-right: 0px;
          }
        }
      }
    }
  }
  &.block-06 {
    @media (max-width: 948px) {
      padding-top: 42px;
    }
  }
  &.block-09 {
    >.block-wrapper {
      @media (max-width: 1300px) {
        .left {
          padding-left: 20px;
          padding-right: 40px;
        }
      }
      @media (max-width: 1200px) {
        .left {
          padding-left: 00px;
          padding-right: 20px;
        }
      }
      @media (max-width: 1100px) {
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
        .left {
          padding-left: 20px;
          padding-right: 20px;
          .humble-header,.bottom {
            margin-left: 0px;
          }
          .parallax-img {
            background-position-x: left !important;
            @media (max-width: 500px) {
              height: 167px;
              background-position-y: center !important;
            }
          }
          .bottom {
            .btn {
              margin-bottom: 62px;
            }
          }
        }
        .right {
          max-width: 100%;
          width: 100%;
          flex: unset;
          .gallery-panel {
            .block-wrapper {
              margin-left: 20px;
              margin-right: 20px;
            }
          }
          .slide-card {
            .slide-card-image-placeholder {
              @media (max-width: 500px) {
                height: 216px;
              }
            }
            .slide-card-content {
              padding: 42px 16px 90px 16px;
            }
          }
        }
      }
    }
  }
  &.block-01,&.block-03 {
    @media (max-width:948px) {
      .carousel-counter  {

        .slick-slide,.img-wrapper {
          height: 394px;
        }
      }
    }
  }
}
.footer {
  @media (max-width: 700px) {
    padding-bottom: 92px;
    > .block-wrapper {
      padding-top: 32px;
      flex-direction: column;
      .left,.mid {
        margin-bottom: 42px;
      }
      .left,.mid,.right {
        margin-left: 0px;
        margin-right: 0px;
        max-width: 100%;
        width: 100%;
        align-items: baseline;
      }
    }
  }
  @media (max-width: 600px) {
    padding-left: 16px;
    padding-right: 16px;
    .block-wrapper {
      margin-left: 0px;
      margin-right: 0px;
    }
    .block.block-10 {
      margin-top: 92px;
      padding-bottom: 42px;
      .epic-header {
        text-align: left;
      }
    }
  }
}
.modal {
  @media (max-width: 1100px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (max-width: 900px) {
    // padding-left: 0px;
    // padding-right: 0px;
    .modal-wrapper {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  @media (max-width: 700px) {
    padding-left: 0px;
    padding-right: 0px;
    .modal-wrapper {
      margin-top: 0px;
      padding-top: 60px;
      padding-left: 16px;
      padding-right: 16px;
      position: relative;
      min-height: 100vh;
      .gift-modal-body {
        padding-left: 0px;
        padding-right: 0px;
        &.step-04 {
          .step-info {
            .blocks {
              padding-bottom: 26px;
              .step-info-block {
                flex-wrap: wrap;
                padding-bottom: 1rem;
                // padding-bottom: 42px;
                > * {
                  max-width: 100%;
                  flex: 0 0 100%;
                }
              }
            }
          }
        }
      }
      .modal-close-btn {
        position: absolute;
        top: 21px !important;
        left: unset !important;
        right: 21px;
      }
      .apply-modal-header,.apply-modal-subhead,.form-container,.gift-modal-header,.gift-modal-subhead {
        padding-left: 0px;
        padding-right: 0px;
        text-align: left;
      }
      .apply-modal-header,.gift-modal-header,.apply-modal-subhead {
        margin-bottom: 28px;
      }
      .gift-modal-body,.apply-modal-body {
          .form-group {
            padding-left: 0px;
            padding-right: 0px;
            max-width: 100%;
            width: 100%;
          }
          .form-footer {
            margin-left: 0px;
            margin-right: 0px;
          }
      }

    }
  }
  @media (max-width: 600px) {
    .artist-modal-wrapper {
      .artist-modal-header {
        position: relative;
        flex-direction: column-reverse;
        padding-bottom: 86px;
        .left,.right {
          flex: unset;
        }
        .left {
          max-width: 100%;
          width: 100%;
        }
        .right {
          .social-media {
            margin-bottom: 32px;
          }
          .btn {
            position: absolute;
            bottom: 0px;
          }
        }
      }
      .artist-modal-body {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
    .apply-modal-body {
      padding-left: 0px;
      padding-right: 0px;
    }
    .gift-modal-body {
      .step-header {
        flex-direction: column-reverse;
        margin-bottom: 24px;
        .step-counter {
          width: fit-content;
          margin-left: auto;
          margin-bottom: 24px;
        }
      }
      .gift-modal-step {
        &.step-01 {
          .services {
            margin-bottom: 32px;
            .service-card-wrapper {
              max-width: 100%;
              flex: 0 0 100%;
              height: auto;
              &:not(:last-child) {
                margin-bottom: 24px;
              }
            }
          }
        }
        .btns {
          flex-wrap: wrap;
          > * {
            &:not(:last-child) {
              margin-bottom: 12px;
            }
          }
        }
        &.step-01,&.step-02,&.step-03,&.step-04 {
          .btn,button {
            max-width: 100%;
            width: 100%;
            flex: 0 0 100%;
          }
        }
      }
    }
  }
}
