<template>
	<div ref="wrapper" class="apply-modal-wrapper modal-wrapper">

    <div ref="closeBtn" class="modal-close-btn" @click.prevent="closeModal">
      <img src="/images/icons/close_black.svg" alt="">
    </div>

    <h2 v-if="step==1" class="humble-header apply-modal-header">{{staticStrings.forms.apply}} <span v-html="g_putInQuotes(product.name)"></span></h2>
    <h2 v-if="step==2" class="humble-header apply-modal-header">{{staticStrings.forms.overview}}</h2>
    <div v-if="step==1" class="body-m apply-modal-subhead" v-html="product.default.body"></div>
    <div v-if="step==2" class="body-m apply-modal-subhead" v-html="product.default.excerpt"></div>
    <div class="apply-modal-body" v-if="step==1">
      <ValidationObserver class="form-container" v-slot="{ invalid, errors, passes }" ref="form">
        <div class="form-group">
          <ValidationProvider name="stylist" rules="stylist" v-slot="{ errors }">
            <Dropdown :options="stylists" v-model="formData.stylist" :error="errors[0]">
              {{staticStrings.forms.stylist}}
            </Dropdown>
            <div v-if="errors[0]" class="error">{{staticStrings.errors[errors[0]]}}</div>
          </ValidationProvider>
        </div>
        <div class="form-group">

          <ValidationProvider name="name" rules="name" v-slot="{ errors }">
            <BrInput v-model="formData.name" :label="staticStrings.forms.name" :error="errors[0]"/>
            <div v-if="errors[0]" class="error">{{staticStrings.errors[errors[0]]}}</div>
          </ValidationProvider>

        </div>
        <div class="form-group">
          <ValidationProvider name="email" rules="email|emailReq" v-slot="{ errors }">
            <BrInput v-model="formData.email" :label="staticStrings.forms.email" :error="errors[0]"/>
            <div v-if="errors[0]" class="error">{{staticStrings.errors[errors[0]]}}</div>
          </ValidationProvider>

          <Checkbox v-model="formData.newsletter"><p>{{staticStrings.forms.newsletter}}</p></Checkbox>

        </div>
        <div class="form-group mb-m">
          <ValidationProvider name="phone" rules="phone|phoneReq" v-slot="{ errors }">
            <BrInput v-model="formData.phone" :label="staticStrings.forms.phone" :error="errors[0]"/>
              <div v-if="errors[0]" class="error">{{staticStrings.errors[errors[0]]}}</div>
          </ValidationProvider>

          <p class="body-xs">{{staticStrings.forms.phoneInfo}}</p>
        </div>

        <div class="form-group mb-0">
          <b-field class="form-input">
            <b-input v-model="formData.message" maxlength="456" :placeholder="staticStrings.forms.comment" type="textarea" class="body-s"></b-input>
          </b-field>
        </div>
        <div class="form-group">
          <ValidationProvider name="terms" rules="terms" v-slot="{ errors }">
            <Checkbox v-model="formData.terms" :error="errors[0]">
              <div v-html="staticStrings.forms.terms"></div>
            </Checkbox>
            <div v-if="errors[0]" class="error">{{staticStrings.errors[errors[0]]}}</div>
          </ValidationProvider>
          <ValidationProvider name="privacy" rules="privacy" v-slot="{ errors }">
            <Checkbox v-model="formData.privacy" :error="errors[0]">
              {{staticStrings.forms.privacy}}
            </Checkbox>
            <div v-if="errors[0]" class="error">{{staticStrings.errors[errors[0]]}}</div>
          </ValidationProvider>
        </div>

        <div class="form-footer">
            <div class="form-group mb-m">
              <div class="service-price price">
                <p class="body-m semi-bold">{{staticStrings.forms.price}}:</p>
                <p class="body-m semi-bold price-text">{{g_splitPrice(g_transformPrice(subtotal))[0]}}<sup class="super body-m semi-bold">{{g_splitPrice(g_transformPrice(subtotal))[1]}}</sup></p>
                <p class="body-m semi-bold price-symbol">€</p>
              </div>
              <b-field v-for="(extra,index) in formData.extras" :key="index">
                <Checkbox v-model="extra.value" @changeVal="changeVal($event)" :item="extra">
                  <div class="inline">
                  <div v-html="extra.body"></div> ({{g_transformPrice(extra.price.amount)}} €)
                  <b-tooltip  class="info-tooltip">
                    <template v-slot:content>
                      <div v-html="extra.excerpt"></div>
                    </template>
                    <img src="images/icons/help-circle.svg" alt="">
                  </b-tooltip>
                  </div>

                </Checkbox>
                <transition name="fade-fast">
                  <Checkbox v-if="extra.is_fotography && fotographyExtra.value" v-model="formData.is_fotography">
                    <div v-html="staticStrings.forms.is_fotography">
                    </div>
                  </Checkbox>
                </transition>
              </b-field>
            </div>
            <div class="form-group">
              <a class="btn btn-swipe subhead upper" @click="passes(onSubmit(true))">
                {{staticStrings.buttons.buyNow}}
              </a>
              <a class="btn btn-swipe no-bg subhead upper" @click="passes(onSubmit())">
                {{staticStrings.buttons.buyLater}}
              </a>
              <p class="body-xs">{{staticStrings.forms.payLaterInfo}}</p>
            </div>
        </div>
      </ValidationObserver>
    </div>
    <div class="apply-modal-body apply-modal-step-2" v-if="step==2">

      <div class="step-info">

        <div class="blocks">
          <div class="step-info-block">
            <p class="label body-m semi-bold">{{staticStrings.forms.stylistShort}}</p>
            <div class="choice">
              <p class="body-s">{{formData.stylist.name}} {{formData.stylist.surname}}</p>
            </div>
          </div>

          <div class="step-info-block">
            <p class="label body-m semi-bold">{{staticStrings.forms.name}}</p>
            <div class="choice">
              <p class="body-s">{{formData.name}}</p>
            </div>
          </div>

          <div class="step-info-block">
            <p class="label body-m semi-bold">{{staticStrings.forms.email}}</p>
            <div class="choice">
              <p class="body-s">{{formData.email}}</p>
              <Check v-if="formData.newsletter">
                <p class="body-xs">{{staticStrings.forms.newsletter}}</p>
              </Check>
            </div>
          </div>

          <div class="step-info-block">
            <p class="label body-m semi-bold">{{staticStrings.forms.phone}}</p>
            <div class="choice">
              <p class="body-s">{{formData.phone}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="step-info">
        <div class="blocks">
          <div class="step-info-block">
            <div class="choice">
              <Check v-if="formData.terms">
                <div class="body-xs" v-html="staticStrings.forms.terms"></div>
              </Check>
              <Check v-if="formData.privacy">
                <p class="body-xs">{{staticStrings.forms.privacy}}</p>
              </Check>
            </div>

          </div>

          <div class="step-info-block step-info-footer">
            <div class="choice-header">
              <p class="label body-m semi-bold">{{staticStrings.forms.price}}</p>
              <div class="service-price price">
                <p class="body-m semi-bold price-text">{{g_splitPrice(g_transformPrice(subtotal))[0]}}<sup class="super body-m semi-bold">{{g_splitPrice(g_transformPrice(subtotal))[1]}}</sup></p>
                <p class="body-m semi-bold price-symbol">€</p>
              </div>
            </div>
            <div class="choice-body">
              <div v-for="(extra,index) in formData.extras" v-if="extra.value" :key="index">
              <Check>
                <div class="inline">
                  <div class="body-xs" v-html="extra.body">
                  </div>
                  <p class="body-xs">({{g_transformPrice(extra.price.amount)}})</p>
                </div>
                <b-tooltip  class="info-tooltip">
                  <template v-slot:content>
                      <div v-html="extra.excerpt"></div>
                  </template>
                  <img src="images/icons/help-circle.svg" alt="">
                </b-tooltip>
              </Check>
              <Check v-if="extra.is_fotography && formData.is_fotography">
                <div class="body-xs" v-html="staticStrings.forms.is_fotography">
                </div>
              </Check>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="btns">
        <button type="submit" class="btn-pay-now btn btn-swipe subhead upper" @click.prevent="placeOrder">
          {{formData.payNow ? staticStrings.buttons.buyNow : staticStrings.buttons.buyLater}}
        </button>
        <button type="submit" class="btn-pay-now btn no-bg btn-swipe subhead upper" @click.prevent="prevStep">
          {{staticStrings.buttons.edit}}
        </button>
        <b-loading :is-full-page="isFullPage" v-model="isLoading"></b-loading>
      </div>
    </div>
    <div v-if="step==3" class="apply-modal-body apply-modal-step-3">
      <h2 class="humble-header apply-modal-header">{{staticStrings.applyModal.thankYou}} <span v-html="g_putInQuotes(product.name)"></span></h2>
      <p class="body-m apply-modal-subhead">{{staticStrings.applyModal.willContact}}</p>
      <p v-if="!formData.payNow" class="semi-bold body-m extra-info">{{staticStrings.applyModal.payLater}}</p>
      <button type="submit" class="btn-pay-now btn btn-swipe subhead upper" @click.prevent="closeModal">
        {{staticStrings.buttons.understood}}
      </button>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapState } from 'vuex'
export default {
  props: {
    images: null,
    product: null,
    stylists: null,
    predefinedStylist: null,
    staticStrings: null,
    paymentMethods: null
  },
  data() {
    return {
      step: 1,
      isPublic: true,
      formData: {
        stylist: null,
        name: null,
        email: null,
        newsletter: false,
        phone: null,
        message: null,
        terms: false,
        privacy: false,
        extras: [

        ],
        payNow:false,
        is_fotography: false,
      },
      isFullPage: true,
      isLoading: false,
    }
  },
  //toDo: add delivery methods from db
  methods: {
    changeVal(e) {
      this.check(e.event,e.item)
    },
    closeModal() {
      this.$emit('closeModal')
    },
    InitExtras() {
      this.formData.extras = []
      this.product.extra.forEach(variation => {
        console.log(variation)
        this.formData.extras.push({
          ...variation,
          value: false
        })
      })
    },
    check(e,variation) {
      if (e.target.checked) {
        this.addToCart(variation)
      } else {
        this.$store.dispatch('basket/REMOVE_PRODUCT', variation)
      }
    },
    addToCart(variation) {
      this.$store.dispatch('basket/ADD_PRODUCT', {variation} )
        .then((r) => {
          this.$store.dispatch('basket/loadCart')
        })
        .catch((err) => {
          this.toast(
            err.message,
            "is-danger"
          );
        })
    },
    toast(message, type) {
      type = type || 'is-success';
      this.$buefy.toast.open({
          duration: 5000,
          message: message,
          // position: 'is-bottom',
          type: type
      })
    },
    canSubmit() {
      let canSubmit
      this.$refs.form.validate()
        .then(success => {
          if (success) {
            this.$emit('submit', this.checkout);
            canSubmit = true
          } else {
            canSubmit = false
          }
        })
        return canSubmit
    },
    onSubmit(payNow = false) {
      this.$gtm.push({ event: 'shopForm.onSubmit' })
      this.formData.payNow = payNow
      this.$refs.form.validate()
        .then(success => {
          if (success) {
            this.nextStep()
          } else {
          }
        })
    },
    placeOrder() {
      this.isLoading = true;
      const self = this;
      let fullname = this.formData.name.split(' ')
      const name = fullname.shift()
      const lastName = fullname.join(' ')
      let paymentMethod = null
      let paymentMethodId = 2
      if (this.formData.payNow) {
        paymentMethodId = 1
      }
      this.paymentMethods.forEach(payment => {
        if (payment.id == paymentMethodId) {
          paymentMethod = payment
        }
      });

      const formObject = {
        'totalsumm': this.subtotal,
        'priv-email': this.formData.email,
        'priv-name': name,
        'lastname': lastName,
        'priv-address': '',
        'city': '',
        'zip_code': '',
        'phone': this.formData.phone,
        'comment': this.formData.message,
        'subscribe': this.formData.newsletter,
        'stylist': this.formData.stylist,
        'delivery': '',
        'payment': paymentMethod,
        'delivery_meta': '',
        'payment_meta': '',
        'product': this.product,
        'language': this.$i18n.locale,
        'is_fotography': this.formData.is_fotography
      }

      try {
        this.$gtm.push({ event: 'shopForm.placeOrder', ...formObject })
      } catch (error) {
        this.$gtm.push({ event: 'shopForm.placeOrder' })
      }

      this.isLoading = true;
      this.$axios.$post('/v1/orders/place_order', formObject, {})
        .then(function (response) {
          let order = response.data;
          if (order.payment_link) {
            window.location.replace(order.payment_link);
          } else {
            self.isLoading = false;
          }
        })
        .catch(function (error) {
          self.isLoading = false;
        })
        .finally(() => {
          self.closeModal()
          if (!self.formData.payNow) {
            // self.nextStep()
          } else {
          }
          // thisComp.isLoading = false;
        });
    },
    prevStep() {
      this.step--
    },
    nextStep() {
      this.step++
    },
    setClosePosition() {
      let wrapper = this.$refs.wrapper
      let closeBtn = this.$refs.closeBtn
      let left = 0
      let top = 0
      if (wrapper) {
        left = wrapper.getBoundingClientRect().left
        left += wrapper.offsetWidth
        left -= 22 + 29
        top = wrapper.getBoundingClientRect().top
        top += 29 + 22 + 15
      }
      if (closeBtn) {
        this.$refs.closeBtn.style.left = left + 'px'
        this.$refs.closeBtn.style.top = top + 'px'
      }
    }
  },
  computed: {
    ...mapState({
      delivery: state => state.basket.delivery
    }),
    ...mapGetters({
      basktList: 'basket/list',
      basketGiftCards: 'basket/giftCardList',
      totalDiscount: 'basket/discount',
      discountList: 'basket/discountList',
      subtotal: 'basket/subtotal',
      total: 'basket/total',
      basketCount: 'basket/count',

      deliverySumm: 'basket/deliverySumm',
      paymentSumm: 'basket/paymentSumm',
      isDiscountBoxDisabled: 'basket/isDiscountBoxDisabled',
    }),
    fotographyExtra() {
      console.log(this.formData.extras.filter(extra => extra.is_fotography)[0])
      return this.formData.extras.filter(extra => extra.is_fotography)[0]
    }
  },
	mounted() {
    this.InitExtras()
    this.predefinedStylist ? this.formData.stylist = this.predefinedStylist : ''
    this.setClosePosition()
  },
  created() {
    this.$store.dispatch('basket/loadCart')
  },
  watch: {
    fotographyExtra(newVal,oldVal) {
      console.log('foto', newVal)
    }
  }
};
</script>
