<template>
  <div class="service-card-wrapper">
    <div class="service-card" :class="{'active' : isActive}">
      <div class="svg-wrapper">
        <svg width="100%" height="100%" viewBox="0 0 20 20" preserveAspectRatio="none">
          <path class="border" d="M0,0 L20,0 L20,0 20,1 20,0 L20,20 L20,20 20,20 20,20 L0,20 L0,20 0,20 0,20 L0,0 L20,0 0,0 0,0 Z"></path>
        </svg>
      </div>
      <b-field>
        <b-radio v-model="model"
          name="recieveForm"
          :native-value="item.value">
          <p class="body-s">{{item.title}}</p>
        </b-radio>
      </b-field>
    </div>
    <b-tooltip  class="info-tooltip" :label="item.tooltip">
      <img src="images/icons/help-circle.svg" alt="">
    </b-tooltip>
  </div>
</template>

<script>
export default {
  props: {
    value: null,
    item: null,
    // selectedGiftCard: null
  },
  data() {
    return {
      // isActive: false,
      innerValue: null,
    }
  },
  computed: {
    model: {
      get () {
        return this.innerValue
      },
      set (newVal) {
        this.$emit('input', newVal)
      }
    },
    isActive() {
      return this.item.value == this.model
    }
  },
  watch: {
    value: {
      immediate: true,
      handler (newVal) {
        console.log(newVal,'newVal')
        this.innerValue = newVal
      }
    }
  }
}
</script>
