<template>
  <div class="carousel-counter" :class="[slidesFitInScreen ? 'fit-in-screen' : '']">
      <VueSlickCarousel v-if="!slidesFitInScreen"
      @afterChange="changeSlide"
      ref="slider" class="carousel"
      v-bind="carouselSettings">
        <slot :style="'width:'+slideWidth+'px;'"></slot>
      </VueSlickCarousel>
      <div v-if="!slidesFitInScreen" class="gallery-panel">
        <div class="block-wrapper">
          <div class="carousel-counter-numbers">
            <p class="subhead">{{g_getNumberWithZero(currentSlide)}}</p>
            <p class="subhead">/</p>
            <p class="subhead">{{g_getNumberWithZero(maxSlides)}}</p>
          </div>
          <div class="carousel-controls">
            <button class="prev" @click="prevSlide">
              <img src="/images/icons/arrow_left.svg" alt="">
            </button>
            <button class="next" @click="nextSlide">
              <img src="/images/icons/arrow_right.svg" alt="">
            </button>
          </div>
        </div>
      </div>
      <div v-else class="fit-in-screen-container">
        <slot></slot>
      </div>
    </div>
</template>
<script>
export default {
  props: {
    innerWidth: null,
    slideWidth: null,
    slides: null,
    slidesFitInScreen: null
  },
  data() {
    return {
      currentSlide: 1,
      carouselSettings: {
        arrows: false,
        dots: false,
        infinite: false,
        focusOnSelect: true,
        centerMode: false,
        slidesToShow: 1,
        slidesToScroll: 1,
        variableWidth: true
      },
    }
  },
  methods: {
    fitInScreen() {

    },
    changeSlide(slideIndex, nextSlide) {
      this.currentSlide = slideIndex + 1
    },
    prevSlide() {
      this.$refs.slider.prev()
    },
    nextSlide() {
      this.$refs.slider.next()
    },
  },
  computed: {
    // slidesFitInScreen() {
    //   let width = this.slides.length * this.slideWidth
    //   if (width < this.innerWidth) {
    //     return true
    //   }
    //   return false
    // },
    maxSlides() {
      return this.slides.length
    },
  },
	mounted() {
    console.log('TEST - ' + this.slidesFitInScreen)
    // this.currentSlide = Math.floor(this.slides.length/2)
  },
};
</script>
