<template>
	<div ref="wrapper" class="faq-modal-wrapper modal-wrapper">
    <div ref="closeBtn" class="modal-close-btn" @click.prevent="closeModal">
      <img src="/images/icons/close_black.svg" alt="">
    </div>
    <div class="faq-modal-body">

      <p class="subhead center upper faq-modal-header">{{staticStrings.faq}}</p>

      <b-collapse
        v-for="(faq,index) in content" :key="index"
        class="collapse-card"
        :class="{'is-open' : isOpen == index}"
        animation="slide"
        :open="isOpen == index"
        @open="isOpen = index"
        @close="isOpen = null"
        :aria-id="'faqCard'+faq.id">
        <template #trigger="props">
            <div
                class="collapse-card-header"
                role="button"
                :aria-controls="'faqCard'+faq.id"
                :aria-expanded="props.open">
                <div class="card-header-title humble-header" v-html="faq.title">
                </div>
                <a class="card-header-icon">
                  <img v-if="props.open" src="images/icons/minus.svg" alt="">
                  <img v-else src="images/icons/plus.svg" alt="">
                    <!-- <b-icon
                        :icon="props.open ? 'menu-down' : 'menu-up'">
                    </b-icon> -->
                </a>
            </div>
        </template>

        <div class="card-content body-m" v-html="faq.body">
        </div>
      </b-collapse>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    staticStrings: null,
    content: null,
  },
  data() {
    return {
      isOpen: null,
    }
  },
  methods: {
    closeModal() {
      this.$emit('closeModal')
    },
    setClosePosition() {
      let wrapper = this.$refs.wrapper
      let closeBtn = this.$refs.closeBtn
      let left = 0
      let top = 0
      if (wrapper) {
        left = wrapper.getBoundingClientRect().left
        left += wrapper.offsetWidth
        left -= 22 + 29
        top = wrapper.getBoundingClientRect().top
        top += 29 + 22 + 15
      }
      if (closeBtn) {
        this.$refs.closeBtn.style.left = left + 'px'
        this.$refs.closeBtn.style.top = top + 'px'
      }
    }
  },
  computed: {
  },
	mounted() {
    this.setClosePosition()
  },
};
</script>
