<template>
	<div ref="wrapper" class="gift-modal-wrapper modal-wrapper">
    <div class="modal-close-btn" ref="closeBtn" @click.prevent="closeModal">
      <img src="/images/icons/close_black.svg" alt="">
    </div>

    <div class="gift-modal-body" v-if="step < 3">
      <div v-if="staticStrings.giftModal.header" class="humble-header gift-modal-header" v-html="staticStrings.giftModal.header"></div>

      <p v-if="step == 0 && staticStrings.giftModal.step01.info" class="body-m gift-modal-subhead">{{staticStrings.giftModal.step01.info}}</p>
      <p v-if="step == 1 && staticStrings.giftModal.step02.info" class="body-m gift-modal-subhead">{{staticStrings.giftModal.step02.info}}</p>
      <p v-if="step == 2 && staticStrings.giftModal.step03.info" class="body-m gift-modal-subhead">{{staticStrings.giftModal.step03.info}}</p>
      <div class="progress">
        <div class="progress-bar" :style="'width:' + progressPercent + '%'">
        </div>
      </div>
      <div class="step-header">
        <h3 v-if="currentStep" class="subhead upper step-title">{{currentStep.header}}</h3>
        <p class="subhead step-counter">{{g_getNumberWithZero(step + 1)}}<span class="seperator">/</span>{{g_getNumberWithZero(steps.length)}}</p>
      </div>

      <div class="gift-modal-step step-01" v-if="step == 0">
          <div class="services">
            <ServiceCard v-for="(service, index) in giftCards" :key="index" :service="service" v-model="selectedGiftCard"></ServiceCard>
          </div>
          <button type="submit" class="btn btn-swipe subhead upper" @click.prevent="nextStep">
            {{staticStrings.buttons.nextStep ? staticStrings.buttons.nextStep : ''}}
          </button>
      </div>
      <div class="gift-modal-step step-02" v-if="step == 1">
        <ValidationObserver class="form-container" v-slot="{ invalid, errors }" ref="formStep2">
          <div class="form-group">
            <ValidationProvider name="stylist" rules="stylist" v-slot="{ errors }">
              <Dropdown :options="stylists" v-model="formData.stylist" :error="errors[0]">
                {{staticStrings.forms.stylist}}
              </Dropdown>
              <div v-if="errors[0]" class="error">{{staticStrings.errors[errors[0]]}}</div>
            </ValidationProvider>
          </div>
          <div class="form-group">
            <ValidationProvider name="name" rules="name" v-slot="{ errors }">
              <BrInput v-model="formData.name" :label="staticStrings.forms.name" :error="errors[0]"/>
              <div v-if="errors[0]" class="error">{{staticStrings.errors[errors[0]]}}</div>
            </ValidationProvider>
          </div>
          <div class="form-group">
            <ValidationProvider name="email" rules="email|emailReq" v-slot="{ errors }">
              <BrInput v-model="formData.email" :label="staticStrings.forms.email" :error="errors[0]"/>
              <div v-if="errors[0]" class="error">{{staticStrings.errors[errors[0]]}}</div>
            </ValidationProvider>

            <Checkbox v-model="formData.newsletter" class="body-xs mb-0"><p>{{staticStrings.forms.newsletter}}</p></Checkbox>
          </div>
          <div class="form-group mb-m">
            <ValidationProvider name="phone" rules="phone|phoneReq" v-slot="{ errors }">
              <BrInput v-model="formData.phone" :label="staticStrings.forms.phone" :error="errors[0]"/>
              <div v-if="errors[0]" class="error">{{staticStrings.errors[errors[0]]}}</div>
            </ValidationProvider>
            <p class="body-xs">{{staticStrings.forms.phoneInfo}}</p>
          </div>
          <div class="btns">
            <a class="btn btn-swipe no-bg subhead upper" href="#" @click.prevent="prevStep">
              {{staticStrings.buttons.back}}
            </a>
            <button type="submit" class="btn btn-swipe subhead upper" @click.prevent="onSubmit(2)">
              {{staticStrings.buttons.nextStep ? staticStrings.buttons.nextStep : ''}}
            </button>
          </div>
        </ValidationObserver>
      </div>
      <div class="gift-modal-step step-03" v-if="step == 2">
        <p class="body-s form-group mb-xs">{{staticStrings.forms.card}}</p>
        <ValidationObserver class="form-container" v-slot="{ invalid, errors, passes }" ref="formStep3">
          <div class="form-group">
            <CardTypeCard v-for="(item,index) in steps[2].recieveForms" :key="index" :item="item" v-model="formData.recieveForm"></CardTypeCard>
            <!-- <div class="service-card-wrapper" v-for="(item,index) in steps[2].recieveForms" :key="index">
              <div class="service-card">
                <b-field>
                  <b-radio v-model="formData.recieveForm"
                    name="recieveForm"
                    :native-value="item.value">
                    <p class="body-s">{{item.title}}</p>
                  </b-radio>
                </b-field>
              </div>
              <b-tooltip  class="info-tooltip" :label="item.tooltip">
                <img src="images/icons/help-circle.svg" alt="">
              </b-tooltip>
            </div> -->
          </div>
          <div class="form-group">
            <ValidationProvider name="terms" rules="terms" v-slot="{ errors }">
              <Checkbox v-model="formData.terms" :error="errors[0]">
                <div v-html="staticStrings.forms.terms">
                </div>
              </Checkbox>
              <div v-if="errors[0]" class="error">{{staticStrings.errors[errors[0]]}}</div>
            </ValidationProvider>
            <ValidationProvider name="privacy" rules="privacy" v-slot="{ errors }">
              <Checkbox v-model="formData.privacy" :error="errors[0]">
                {{staticStrings.forms.privacy}}
              </Checkbox>
              <div v-if="errors[0]" class="error">{{staticStrings.errors[errors[0]]}}</div>
            </ValidationProvider>
          </div>
          <div class="form-footer">
            <div class="form-group mb-m">
              <div class="service-price price">
                <p class="body-m semi-bold">{{staticStrings.forms.price}}: </p>
                <p class="body-m semi-bold price-text">{{g_splitPrice(g_transformPrice(subtotal))[0]}}<sup class="super body-m semi-bold">{{g_splitPrice(g_transformPrice(subtotal))[1]}}</sup></p>
                <p class="body-m semi-bold price-symbol">€</p>
              </div>
              <b-field v-for="(extra,index) in formData.extras" :key="index">
                <Checkbox v-model="extra.value" @changeVal="changeVal($event)" :item="extra">
                  <div class="inline">
                  <div v-html="extra.body"></div> ({{g_transformPrice(extra.price.amount)}} €)
                  <b-tooltip  class="info-tooltip">
                    <template v-slot:content>
                      <div v-html="extra.excerpt"></div>
                    </template>
                    <img src="images/icons/help-circle.svg" alt="">
                  </b-tooltip>
                  </div>

                </Checkbox>
                <transition name="fade-fast">
                  <Checkbox v-if="extra.is_fotography && fotographyExtra.value" v-model="formData.is_fotography">
                    <div v-html="staticStrings.forms.is_fotography">
                    </div>
                  </Checkbox>
                </transition>
              </b-field>

            </div>
          </div>
            <div class="btns">
              <a class="btn-back btn btn-swipe no-bg subhead upper"  href="#" @click.prevent="prevStep">
                {{staticStrings.buttons.back}}
              </a>
              <button type="submit" class="btn-pay-now btn btn-swipe subhead upper" @click.prevent="passes(onSubmit(3))">
                {{staticStrings.buttons.buyNowShort}}
              </button>
              <button type="submit" class="btn-pay-later btn btn-swipe subhead upper" @click.prevent="passes(onSubmit(3,false))">
                {{staticStrings.buttons.buyLaterShort}}
              </button>
            </div>
        </ValidationObserver>
      </div>
    </div>

    <div class="gift-modal-body step-04" v-if="step == 3">
      <h2 class="humble-header gift-modal-header">{{staticStrings.forms.overview}}</h2>
      <p class="body-m gift-modal-subhead">{{staticStrings.forms.pleaseCheck}}</p>

      <div class="step-info">
        <div class="step-info-header">
          <p class="subhead upper">{{staticStrings.giftModal.step01.stepName}}</p>
          <a class="btn btn-swipe no-bg subhead upper"  href="#" @click.prevent="goToStep(0)">
            {{staticStrings.buttons.edit}}
          </a>
        </div>
        <div class="blocks">
          <div class="step-info-block">
            <p class="label body-m semi-bold">{{staticStrings.forms.title}}</p>
            <div class="choice">
              <div class="body-s" v-html="selectedGiftCard.name">
              </div>
              <div class="price">
                <p class="body-m semi-bold price-text">{{g_splitPrice(g_transformPrice(selectedGiftCard.default.price.amount))[0]}}
                  <sup class="super body-m semi-bold">{{g_splitPrice(g_transformPrice(selectedGiftCard.default.price.amount))[1]}}</sup>
                </p>
                <p class="body-m semi-bold price-symbol">€</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="step-info">
        <div class="step-info-header">
          <p class="subhead upper">{{staticStrings.giftModal.step02.stepName}}</p>
          <a class="btn btn-swipe no-bg subhead upper"  href="#" @click.prevent="goToStep(1)">
            {{staticStrings.buttons.edit}}
          </a>
        </div>
        <div class="blocks">
          <div class="step-info-block">
            <p class="label body-m semi-bold">{{staticStrings.forms.stylistShort}}</p>
            <div class="choice">
              <p class="body-s">{{formData.stylist.name}} {{formData.stylist.surname}}</p>
            </div>
          </div>

          <div class="step-info-block">
            <p class="label body-m semi-bold">{{staticStrings.forms.name}}</p>
            <div class="choice">
              <p class="body-s">{{formData.name}}</p>
            </div>
          </div>

          <div class="step-info-block">
            <p class="label body-m semi-bold">{{staticStrings.forms.email}}</p>
            <div class="choice">
              <p class="body-s">{{formData.email}}</p>
              <Check v-if="formData.newsletter">
                <p class="body-xs">{{staticStrings.forms.newsletter}}</p>
              </Check>
            </div>
          </div>

          <div class="step-info-block">
            <p class="label body-m semi-bold">{{staticStrings.forms.phone}}</p>
            <div class="choice">
              <p class="body-s">{{formData.phone}}</p>
            </div>
          </div>

        </div>
      </div>

      <div class="step-info">
        <div class="step-info-header">
          <p class="subhead upper">{{staticStrings.giftModal.step03.stepName}}</p>
          <a class="btn btn-swipe no-bg subhead upper"  href="#" @click.prevent="goToStep(2)">
            {{staticStrings.buttons.edit}}
          </a>
        </div>
        <div class="blocks">

          <div class="step-info-block">
            <p class="label body-m semi-bold">{{staticStrings.forms.recieveForm}}</p>
            <div class="choice">
              <p v-if="formData.recieveForm == 'physical'" class="body-xs">{{staticStrings.recieveForms.physical.title}}</p>
              <p v-if="formData.recieveForm == 'electronic'" class="body-xs">{{staticStrings.recieveForms.electronic.title}}</p>
            </div>
          </div>

          <div class="step-info-block" v-if="formData.terms||formData.privacy">
            <div class="choice">
              <Check v-if="formData.terms">
                <div class="body-xs" v-html="staticStrings.forms.terms"></div>
              </Check>
              <Check v-if="formData.privacy">
                <p class="body-xs">{{staticStrings.forms.privacy}}</p>
              </Check>
            </div>

          </div>

          <div class="step-info-block step-info-footer">
            <div class="choice-header">
              <p class="label body-m semi-bold">{{staticStrings.forms.price}}</p>
              <div class="service-price price">
                <p class="body-m semi-bold price-text">{{g_splitPrice(g_transformPrice(subtotal))[0]}}<sup class="super body-m semi-bold">{{g_splitPrice(g_transformPrice(subtotal))[1]}}</sup></p>
                <p class="body-m semi-bold price-symbol">€</p>
              </div>
            </div>
            <div class="choice-body">
              <div v-for="(extra,index) in formData.extras" v-if="extra.value" :key="index">
                <Check >
                  <div class="inline">
                    <div class="body-xs" v-html="extra.body">
                    </div>
                    <p class="body-xs">({{g_transformPrice(extra.price.amount)}})</p>
                    <b-tooltip  class="info-tooltip" :label="extra.excerpt">
                      <img src="images/icons/help-circle.svg" alt="">
                    </b-tooltip>
                  </div>
                </Check>
                <Check v-if="extra.is_fotography && formData.is_fotography">
                  <div class="body-xs" v-html="staticStrings.forms.is_fotography">
                  </div>
                </Check>
              </div>
            </div>
          </div>

        </div>
      </div>

      <button type="submit" class="btn-pay-now btn btn-swipe subhead upper" @click.prevent="placeOrder">
        {{formData.payNow ? staticStrings.buttons.buyNow : staticStrings.buttons.buyLater}}
      </button>
      <b-loading :is-full-page="isFullPage" v-model="isLoading"></b-loading>

    </div>
    <div class="gift-modal-body step-05" v-if="step == 4">
      <div class="humble-header gift-modal-header" v-html="staticStrings.giftModal.step05.header">
      </div>
      <p v-if="!formData.payNow && formData.recieveForm == 'physical'" class="body-m gift-modal-subhead">{{staticStrings.giftModal.step05.paperLater}}</p>
      <p v-if="formData.payNow && formData.recieveForm == 'electronic'" class="body-m gift-modal-subhead">{{staticStrings.giftModal.step05.eNow}}</p>
      <button type="submit" class="btn-pay-now btn btn-swipe subhead upper" @click.prevent="closeModal">
        {{staticStrings.buttons.understood}}
      </button>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapState } from 'vuex'
import Checkbox from '../assets/Checkbox.vue';
export default {
  components: { Checkbox },
  props: {
    giftCards: null,
    stylists: null,
    paymentMethods: null,
    staticStrings: null,
  },
  data() {
    return {
      step: 0,
      maxStep: 0,
      selectedGiftCard:null,
      formData: {
          service: 'spa',
          stylist:null,
          name:null,
          email:null,
          phone:null,
          newsletter:false,
          recieveForm:'physical',
          terms:false,
          privacy:false,
          extras: [
          ],
          payNow: true,
          is_fotography: false
      },
      isFullPage: true,
      isLoading: false,
      variation: null,

    }
  },
  methods: {
    changeVal(e) {
      this.check(e.event,e.item)
    },
    closeModal() {
      this.$emit('closeModal')
    },
    onSubmit: function(step,payNow = true) {
      this.formData.payNow = payNow
      this.$refs['formStep'+step].validate()
        .then(success => {
          if (success) {
            this.nextStep()
          } else {
            // this.toast('Pārbaudi formas laukus - kaut kas nav labi!', 'is-danger');
          }
        })
    },
    placeOrder() {
      this.isLoading = true;
      const self = this;
      let fullname = this.formData.name.split(' ')
      const name = fullname.shift()
      const lastName = fullname.join(' ')
      let paymentMethod = null
      let paymentMethodId = 2
      if (this.formData.payNow) {
        paymentMethodId = 1
      }
      this.paymentMethods.forEach(payment => {
        if (payment.id == paymentMethodId) {
          paymentMethod = payment
        }
      });
      const formObject = {
        'totalsumm': this.subtotal,
        'priv-email': this.formData.email,
        'priv-name': name,
        'lastname': lastName,
        'priv-address': '',
        'city': '',
        'zip_code': '',
        'phone': this.formData.phone,
        'comment': this.formData.message,
        'subscribe': this.formData.newsletter,
        'stylist': this.formData.stylist,
        'delivery': '',
        'payment': paymentMethod,
        'delivery_meta': '',
        'payment_meta': '',
        'product': this.selectedGiftCard,
        'giftcardType': this.formData.recieveForm,
        'language': this.$i18n.locale,
        'is_fotography': this.formData.is_fotography
      }
      this.$axios.$post('/v1/orders/place_order', formObject, {})
        .then(function (response) {
          let order = response.data;
          if (order.payment_link) {
            console.log('payment link')
            window.location.replace(order.payment_link);
          } else {
            self.isLoading = false;
          }
        })
        .catch(function (error) {
          self.isLoading = false;
        })
        .finally(() => {
          self.closeModal()
          if (!self.formData.payNow) {
            // self.nextStep()
          } else {
          }
          // thisComp.isLoading = false;
        });
    },
    check(e,variation) {
      if (e.target.checked) {
        this.addToCart(variation)
      } else {
        this.$store.dispatch('basket/REMOVE_PRODUCT', variation)
      }
    },
    changeExtras(product) {
      this.formData.extras = []
      product.extra.forEach(variation => {
        console.log(variation, 'variation')
        this.formData.extras.push({
          ...variation,
          value: false
        })
      })
    },
    switchProduct(variation) {
      this.$store.dispatch('basket/EMPTY_LIST').then((response)=> {
        this.addToCart(variation)
        this.variation = variation
      })
    },
    addToCart(variation) {
      this.$store.dispatch('basket/ADD_PRODUCT', {variation} )
        .then((r) => {
          this.$store.dispatch('basket/loadCart')
        })
        .catch((err) => {
          this.toast(
            err.message,
            "is-danger"
          );
        })
    },
    goToStep(index) {
      this.step = index
    },
    prevStep() {
      this.step--
    },
    nextStep() {
      this.step++
      if (this.step > this.maxStep) {
        this.maxStep = this.step
      }
    },
    payLater() {
      this.formData.payNow = false
      this.nextStep()
    },
    setClosePosition() {
      let wrapper = this.$refs.wrapper
      let closeBtn = this.$refs.closeBtn
      let left = 0
      let top = 0
      if (wrapper) {
        left = wrapper.getBoundingClientRect().left
        left += wrapper.offsetWidth
        left -= 22 + 29
        top = wrapper.getBoundingClientRect().top
        top += 29 + 22 + 15
      }
      if (closeBtn) {
        this.$refs.closeBtn.style.left = left + 'px'
        this.$refs.closeBtn.style.top = top + 'px'
      }
    }
  },
  computed: {
    ...mapState({
      delivery: state => state.basket.delivery
    }),
    ...mapGetters({
      basktList: 'basket/list',
      basketGiftCards: 'basket/giftCardList',
      totalDiscount: 'basket/discount',
      discountList: 'basket/discountList',
      subtotal: 'basket/subtotal',
      total: 'basket/total',
      basketCount: 'basket/count',

      deliverySumm: 'basket/deliverySumm',
      paymentSumm: 'basket/paymentSumm',
      isDiscountBoxDisabled: 'basket/isDiscountBoxDisabled',
    }),
    steps() {
      return [
        {
          header: this.staticStrings.giftModal.step01.header,
          stepName: this.staticStrings.giftModal.step01.stepName,
        },
        {
          header: this.staticStrings.giftModal.step02.header,
          stepName: this.staticStrings.giftModal.step02.stepName,
        },
        {
          header: this.staticStrings.giftModal.step03.header,
          stepName: this.staticStrings.giftModal.step03.stepName,
          recieveForms: [
            {
              value: 'electronic',
              title: this.staticStrings.recieveForms.electronic.title,
              tooltip: this.staticStrings.recieveForms.electronic.tooltip
            },
            {
              value: 'physical',
              title: this.staticStrings.recieveForms.physical.title,
              tooltip: this.staticStrings.recieveForms.physical.tooltip
            }
          ]
        }
      ]
    },
    currentStep() {
      return this.step <3 ? this.steps[this.step] : this.steps[0]
    },
    progressPercent() {
      return ((this.step + 1) / (this.steps.length)) * 100
    },
    fotographyExtra() {
      console.log(this.formData.extras.filter(extra => extra.is_fotography)[0])
      return this.formData.extras.filter(extra => extra.is_fotography)[0]
    }
  },
	mounted() {
    this.selectedGiftCard = this.giftCards[0]
    this.setClosePosition()
  },
  watch: {
    selectedGiftCard(newVal,oldVal) {
      this.switchProduct(newVal.default)
      this.changeExtras(newVal)
    },
    maxStep(newVal,oldVal) {
      let step = newVal + 1
      let self = this
      setTimeout(() => {
        self.$refs['formStep'+step] && self.$refs['formStep'+step].reset()
      }, 50);
    },
    subtotal() {
      if (this.subtotal == 0) {
        setTimeout(() => {
          if (this.subtotal == 0) {
            this.addToCart(this.variation)
          }
        }, 2000);
      }
    }
  }
};
</script>
