<template>
<transition name="scroll-top">
	<div v-if="!hide" class="intro-block" :class="{'--scroll-top' : hide}">
    <div class="fast-flick-imgs">
      <div v-for="(img,index) in slides" :key="index" :style="'z-index:' + isActiveIndex(index)" class="flick-img img-wrapper">
        <b-image
          :lazy="true"
          :src="img.path"
        ></b-image>

      </div>
    </div>

    <div class="intro-loader" :class="[loading ? '' : 'loading']"></div>
  </div>
</transition>
</template>
<script>
export default {
  props: {
    slides: null
  },
  data() {
    return {
      innerWidth: 0,
      activeIndex: 0,
      slidesShown: false
    }
  },
  methods: {
    isActiveIndex(index) {
      return index == this.activeIndex ? '2' : '1'
    },
    itterateIndex() {
      this.activeIndex++
      if (this.activeIndex > 3) {
        this.slidesShown = true
      }
      if (this.activeIndex == this.slides.length) {
        this.activeIndex = 0
      }
    }
  },
  computed: {
    hide() {
      return !this.loading && this.slidesShown
    },
    loading() {
      return this.$store.state.loading
    },
  },
	mounted() {

    setTimeout(() => {
      document.documentElement.classList.remove('menu-closed')
    }, 300);
		this.innerWidth = window.innerWidth;
    let self = this
    setInterval(() => {
      self.itterateIndex()
    },1200);
  },
  watch: {
    hide(newVal,oldVal) {
      if (newVal) {
        setTimeout(() => {
          document.documentElement.classList.add('menu-closed')
        }, 500);
      }
    }
  }
};
</script>
