<template>
  <div v-if="slide" class="carousel-counter-card">
    <div class="text-card-content">
      <template v-if="$i18n.locale == 'ru'">
        <div class="humble-header-ru slider-title" v-html="slide.title"></div>
      </template>
      <template v-else>
        <div class="humble-header slider-title" v-html="slide.title"></div>  
      </template>
      <div class="header-seperator">
        <div class="line">
        </div>
        <div class="price">
          <p class="body-m semi-bold price-text">{{g_splitPrice(slide.price)[0]}}<sup class="super body-m semi-bold">{{g_splitPrice(slide.price)[1]}}</sup></p>
          <p class="body-m semi-bold price-symbol">€</p>
        </div>
      </div>
      <div class="text-card-body">
        <div class="body-m card-info" v-html="slide.text">

        </div>
        <div class="dash-list body-m" v-html="slide.points">
          <!-- <div v-for="(point,pointIndex) in slide.points" :key="pointIndex" class="list-item">
            <p class="body-m dash">
              -
            </p>
            <p class="body-m">{{point}}</p>
          </div> -->
        </div>
        <a class="btn btn-swipe subhead upper" href="#"  @click.prevent="openApplyModal(slide.id)">
          {{staticStrings.buttons.choose}}
        </a>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    slide: null,
    staticStrings: null
  },
  methods: {
    openApplyModal(id) {
      this.$emit('openApplyModal',id)
    },
  },
};
</script>
