<template>
  <div class="carousel-counter-card">
    <div class="card-image parallax-img parallax-review" :style="'background: url('+slide.image.path+');'">
      <img class="image" :src="slide.image.path"></img>
    </div>
    <div class="card-content">
        <img class="quote" src="/images/icons/quote.svg" alt="">
        <div class="humble-header slider-title">
          <p>{{slide.name}},</p>
          <p>{{slide.job_title}}</p>
        </div>
        <div class="body-m slider-text" v-html="slide.body">
        </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    slide: null,
  },
  methods: {
    prepParallaxAnim() {
      this.$gsap.to('.parallax-review', {
        scrollTrigger: {
          trigger: '.block-06',
          toggleActions: 'start none reverse none',
          start: 'top bottom',
          scrub: true,
          end: 'bottom top'
        },
        backgroundPosition: `center 100%`,
        ease: 'Power1.easeInOut',
        duration: 2
      })
    }
  },
  mounted() {
    this.prepParallaxAnim()
  }
};
</script>
