<template>
  <div class="carousel-counter">
      <VueSlickCarousel @afterChange="changeSlide"
      ref="slider" class="carousel"
      v-bind="carouselSettings">
        <div v-for="(slide,index) in slides" :key="index" class="carousel-counter-card">
          <div class="card-image">
              <img class="image" :src="slide.image.path">
          </div>
          <div class="card-content">
              <img class="quote" src="/images/icons/quote.svg" alt="">
              <div class="humble-header slider-title">
                <p>{{slide.name}},</p>
                <p>{{slide.job_title}}</p>
              </div>
              <div class="body-m slider-text" v-html="slide.body">
              </div>
          </div>
        </div>
      </VueSlickCarousel>
      <div class="gallery-panel">
        <div class="block-wrapper">
          <div class="carousel-counter-numbers">
            <p class="subhead">{{currentSlide}}</p>
            <p class="subhead">/</p>
            <p class="subhead">{{maxSlides}}</p>
          </div>
          <div class="carousel-controls">
            <button class="prev" @click="prevSlide">
              <img src="/images/icons/arrow_left.svg" alt="">
            </button>
            <button class="next" @click="nextSlide">
              <img src="/images/icons/arrow_right.svg" alt="">
            </button>
          </div>
        </div>
      </div>
    </div>
</template>
<script>
export default {
  props: {
    slides: null,
  },
  data() {
    return {
      currentSlide: 1,
      carouselSettings: {
        arrows: false,
        dots: false,
        infinite: false,
        focusOnSelect: true,
        centerMode: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        variableWidth: true
      },
    }
  },
  methods: {
    changeSlide(slideIndex, nextSlide) {
      this.currentSlide = slideIndex + 1
    },
    prevSlide() {
      this.$refs.slider.prev()
    },
    nextSlide() {
      this.$refs.slider.next()
    },
  },
  computed: {
    maxSlides() {
      return this.slides.length
    },

  },
	mounted() {
  },
};
</script>
