<template>
  <div class="scroll-down-prompt-wrapper">
    <div class="scroll-down-prompt">

    </div>
  </div>
</template>
<script>
export default {
  methods: {
    // scrollDownPromptAnim() {
    //   let slowMo = this.$SlowMo
    //   this.$gsap.to(".scroll-down-prompt", {
    //     duration: 2.2,
    //     ease: slowMo,
    //     top: "+=350",
    //     modifiers: {
    //       top: this.$gsap.utils.unitize(x => (parseFloat(x) % 350 ) - 150) //force x value to be between 0 and 500 using modulus
    //     },
    //     repeat: -1
    //   });
    // },
  },
	mounted() {
    // this.scrollDownPromptAnim()
  },
};
</script>
