<template>
  <div class="service-card-wrapper" >
    <div class="service-card" :class="{'active' : isActive}">
      <div class="svg-wrapper">
        <svg width="100%" height="100%" viewBox="0 0 20 20" preserveAspectRatio="none">
          <path class="border" d="M0,0 L20,0 L20,0 20,1 20,0 L20,20 L20,20 20,20 20,20 L0,20 L0,20 0,20 0,20 L0,0 L20,0 0,0 0,0 Z"></path>
        </svg>
      </div>
      <b-field>
        <b-radio v-model="model"
          name="service"
          :native-value="service">
          <div class="body-s" v-html="service.name"></div>
          <div class="price">
            <p class="body-m semi-bold price-text">{{g_splitPrice(g_transformPrice(service.default.price.amount))[0]}}
              <sup class="super body-m semi-bold">{{g_splitPrice(g_transformPrice(service.default.price.amount))[1]}}</sup>
            </p>
            <p class="body-m semi-bold price-symbol">€</p>
          </div>
        </b-radio>
      </b-field>
    </div>
    <div class="body-xs service-subtest" v-html="service.description">
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: null,
    service: null,
    // selectedGiftCard: null
  },
  data() {
    return {
      // isActive: false,
      innerValue: null,
    }
  },
  computed: {
    model: {
      get () {
        return this.innerValue
      },
      set (newVal) {
        this.$emit('input', newVal)
      }
    },
    isActive() {
      return this.service == this.model
    }
  },
  watch: {
    value: {
      immediate: true,
      handler (newVal) {
        this.innerValue = newVal
      }
    }
  }
}
</script>
