<template>
	<div ref="wrapper" class="artist-modal-wrapper modal-wrapper">

    <div ref="closeBtn" class="modal-close-btn" @click.prevent="closeModal">
      <img src="/images/icons/close_black.svg" alt="">
    </div>

    <div class="artist-modal-header">
      <div class="img-wrapper left">
        <img v-if="stylist.profile_image" :src="stylist.profile_image.path" alt="">
      </div>
      <div class="right">
        <h2 class="spacious-header">
          {{stylist.name}} {{stylist.surname}}
        </h2>
        <div class="social-media dashed-nav">
          <a @click="$gtm.push({ event: 'socialClick.Instagram' })" class="subhead upper link" :href="stylist.ig_link" target="_blank">instagram</a>
          <div v-if="stylist.homepage_link" class="seperator"></div>
          <a v-if="stylist.homepage_link" class="subhead upper link" :href="stylist.homepage_link" target="_blank">{{stylist.homepage_link}}</a>
        </div>
        <a class="btn btn-swipe subhead upper" href="#offers" @click="predefineStylist">
          {{staticStrings.buttons.apply}}
        </a>
      </div>
    </div>
    <!-- <div class="artist-modal-body" v-html="stylist.main_text"> -->
    <div class="artist-modal-body" v-html="_stylistBody">
      <!-- <div class="body-block">
        <p class="body-m">Vestibulum sed arcu non odio euismod lacinia at quis risus. Hac habitasse platea dictumst vestibulum rhoncus. Malesuada fames ac turpis egestas. Rhoncus mattis rhoncus urna neque viverra justo nec ultrices dui.</p>
        <p class="body-m">Odio facilisis mauris sit amet massa vitae tortor. Eros in cursus turpis massa tincidunt dui proin fermentum apskatīt šeit.</p>
      </div>
      <div class="body-block video-block">
        <iframe width="100%" height="360" src="https://www.youtube.com/embed/grI7s9b_If8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="body-block">
        <p class="body-m">Non quam lacus suspendisse faucibus interdum. Vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor posuere.</p>
        <div class="number-list">
          <div class="list-item">
            <p class="body-m number">01.</p>
            <p class="body-m">Ullamcorper velit sed ullamcorper morbi tincidunt ornare</p>
          </div>
          <div class="list-item">
            <p class="body-m number">02.</p>
            <p class="body-m">Odio facilisis mauris sit amet massa vitae tortor</p>
          </div>
          <div class="list-item">
            <p class="body-m number">03.</p>
            <p class="body-m">Scelerisque in dictum non consectetur a erat nam at lectus</p>
          </div>
          <div class="list-item">
            <p class="body-m number">04.</p>
            <p class="body-m">Commodo ullamcorper a lacus vestibulum sed arcu</p>
          </div>
        </div> -->
    </div>
    <div v-if="stylist.video" class="body-block video-box">
      <video width="100%" height="auto" controls>
        <source :src="stylist.video.path" :type="stylist.video.content_type">
      </video>
    </div>
    <div v-if="images.length > 0 && 1 == 2" class="body-block carousel-wrapper">
      <div class="carousel-container">
      <div class="carousel-header body-m semi-bold">
        <p>Galerija</p>
        <p>{{carouselSlide+1}}/{{images.length}}</p>
      </div>
      <button class="prev" @click="prevSlide">
        <img src="/images/icons/arrow_left.svg" alt="">
      </button>
      <button class="next" @click="nextSlide">
        <img src="/images/icons/arrow_right.svg" alt="">
      </button>
      <b-carousel
      v-model="carouselSlide"
      ref="artistGallery"
      :arrow="false"
      :autoplay="false"
      :indicator-inside="false">
        <b-carousel-item v-for="(item, i) in images.length" :key="i">
          <b-image class="image" :src="images[i]"></b-image>
        </b-carousel-item>
        <template #indicators="props">
          <b-image class="al image" :src="images[props.i]" :title="props.i"></b-image>
        </template>
      </b-carousel>
      </div>
    </div>
    <!-- <div class="artist-modal-footer">
      <h3 class="humble-header">Stilista kontaktinformācija</h3>
      <div class="body-m" v-html="stylist.contacts">
      </div>
    </div> -->
  </div>
</template>
<script>
export default {
  props: {
    stylist: null,
    staticStrings: null
  },
  data() {
    return {
      carouselSlide: null,
      buttontext: 'Apskatīt video',
    }
  },
  methods: {
    closeModal() {
      this.$emit('closeModal')
    },
    predefineStylist() {
      this.$emit('predefineStylist',this.stylist)
    },
    prevSlide() {
      this.carouselSlide--;
    },
    nextSlide() {
      this.carouselSlide++;
    },
    setClosePosition() {
      let wrapper = this.$refs.wrapper
      let closeBtn = this.$refs.closeBtn
      let left = 0
      let top = 0
      if (wrapper) {
        left = wrapper.getBoundingClientRect().left
        left += wrapper.offsetWidth
        left -= 22 + 29
        top = wrapper.getBoundingClientRect().top
        top += 29 + 22 + 15
      }
      if (closeBtn) {
        this.$refs.closeBtn.style.left = left + 'px'
        this.$refs.closeBtn.style.top = top + 'px'
      }
    }
  },
  computed: {
    images() {
      let images = this.stylist.galerry_images.map((image) => {
        return image.path
      })
      return images
    },
    _stylistBody () {
      let fixedBody = this.stylist.main_text;
      try {
          let button_image = require("@/assets/img/play_button.svg")
          console.log(this.stylist.poster.path)
          fixedBody = this.stylist.main_text
            .replace('figure', 'video class=\"stylist-video\" id=\"stylist-video"\ poster=' + this.stylist.poster.path)
            .replaceAll('figure', 'video')
            .replace('data-video', 'src')
            .replace('<div class="video-button">', '<div class="video-button" id="video-button"><button><img src="'+ button_image +'">'+ this.buttontext +'</button>');
      } catch (error) {

      }

      return fixedBody;
    }
  },
  mounted() {
    this.setClosePosition()
    document.getElementById("video-button").addEventListener("click", clickFunction);
    document.getElementById('stylist-video').addEventListener("click", clickVideoFunction)
    function clickFunction() {
      const videoPlayer = document.getElementById('stylist-video');
      const button = document.getElementById('video-button');
      if (videoPlayer.paused) {
          videoPlayer.play();
          videoPlayer.setAttribute('controls', 'true')
          button.classList.add('hiden')
      } else {
          videoPlayer.pause();
      }
    }
    function clickVideoFunction() {
      const videoPlayer = document.getElementById('stylist-video');
      const button = document.getElementById('video-button');
      if (videoPlayer.paused) {
          button.classList.add('hiden')
      } else {
          videoPlayer.removeAttribute('controls')
          videoPlayer.pause();
          button.classList.remove('hiden')
      }
    }
  },
};
</script>

<style lang="scss" scoped>
  .video-div {
    position: relative;
    .video-button {
      position: absolute;
      top: -40px;
      left: 20px;
      display: flex;
      align-items: flex-end;
      justify-cotent: flex-start;
      width: 100%;
      height: 100%;
      button {
        border: 1px solid #fff;
      }
    }
  }
</style>
