<template>
	<div ref="wrapper" class="subscribe-modal-wrapper modal-wrapper">
    <div ref="closeBtn" class="modal-close-btn" @click.prevent="closeModal">
      <img src="/images/icons/close.svg" alt="">
    </div>

    <div class="subscribe-modal-body">
      <!-- <div class="left">
        <b-image
        ratio="1by1"
        src="/images/subscribe/img.jpg">
        </b-image>
      </div> -->
      <div class="right">
        <!-- <p class="humble-header subscribe-modal-header">Pieraksties un saņem visu aktuālo informāciju savā e-pastā</p>{{subscribeContent}} -->
        <div class="humble-header subscribe-modal-header" v-html="subscribeContent.boody">
        </div>
        <!-- <p class="body-m subscribe-modal-subhead">Pieraksties un saņem savam pirmajam apmēklējumam -20% atlaidi.</p> -->
        <p class="body-m subscribe-modal-subhead">{{subscribeContent.extra_text}}</p>
        <ValidationObserver class="form-container" v-slot="{ invalid, errors, passes }" ref="form">

          <ValidationProvider name="email" rules="email" v-slot="{ errors }">
            <div class="big-input-wrapper">
            <div v-if="errors[0]" class="error">{{staticStrings.errors[errors[0]]}}</div>
              <div class="big-input" :class="{'form-done' : formDone, 'form-error' : errors[0]}" >
                  <BigInput v-model="formData.email" :placeholder="staticStrings.subscribe.addEmail"></BigInput>
                <a class="btn btn-swipe no-bg subhead upper big-input-btn" @click="passes(onSubmit())">
                  <svg width="40" height="24" viewBox="0 0 40 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M32.172 10.9997L26.808 5.63568L28.222 4.22168L36 11.9997L28.222 19.7777L26.808 18.3637L32.172 12.9997H0V10.9997H32.172Z" fill="#EACEBF"/>
                  </svg>
                </a>
                <p class="body-m big-input-thanks">{{ staticStrings.subscribe.email }}</p>
              </div>
            </div>
          </ValidationProvider>

        </ValidationObserver>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    staticStrings: null,
    subscribeContent: null
  },
  data() {
    return {
      formData: {
        email: null,
        language: this.$i18n.locale
      },
      formDone: false
    }
  },
  methods: {
    closeModal() {
      this.$emit('closeSubscribeModal')
    },
    setClosePosition() {
      let wrapper = this.$refs.wrapper
      let closeBtn = this.$refs.closeBtn
      let left = 0
      let top = 0
      if (wrapper) {
        left = wrapper.getBoundingClientRect().left
        left += wrapper.offsetWidth
        left -= 22 + 29
        top = wrapper.getBoundingClientRect().top
        top += 29 + 22 + 15
      }
      if (closeBtn) {
        this.$refs.closeBtn.style.left = left + 'px'
        this.$refs.closeBtn.style.top = top + 'px'
      }
    },
    onSubmit() {
      let formObject = this.formData
      let self = this
      this.$refs.form.validate()
      .then(success => {
        if (success) {
          this.$axios.$post('/v1/style-room/subscribe', formObject, {})
          .then(function (response) {
            if (response.code == 200) {
              self.formDone = true
            }
          })
          .catch(function (error) {
          })
          .finally(() => {
          });
        } else {
        }
      })
    }
  },
  computed: {
  },
  mounted() {
    this.setClosePosition()
  }
};
</script>
