<template>
	<div ref="wrapper" class="thank-you-modal-wrapper modal-wrapper">
    <div class="modal-close-btn" ref="closeBtn" @click.prevent="closeModal">
      <img src="/images/icons/close_black.svg" alt="">
    </div>

    <div v-if="!giftCard" class="thank-you-modal-body thank-you-modal-step-product">
      <h2 class="humble-header thank-you-modal-header">{{staticStrings.applyModal.thankYou}} <span v-html="g_putInQuotes(product.name)"></span></h2>
      <p class="body-m thank-you-modal-subhead">{{staticStrings.applyModal.willContact}}</p>
      <button type="submit" class="btn-pay-now btn btn-swipe subhead upper" @click.prevent="closeModal">
        {{staticStrings.buttons.understood}}
      </button>
    </div>

    <div v-else class="thank-you-modal-body thank-you-modal-step-gift-card">
      <div class="humble-header gift-modal-header" v-html="staticStrings.giftModal.step05.header">
      </div>
      <!-- toDo: based on choice show different text -->
      <p v-if="recieveForm == 'electronic'" class="body-m thank-you-modal-subhead">{{staticStrings.giftModal.step05.eNow}}</p>
      <button type="submit" class="btn-pay-now btn btn-swipe subhead upper" @click.prevent="closeModal">
        {{staticStrings.buttons.understood}}
      </button>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    staticStrings: null,
    response: null
  },
  data() {
    return {
      // recieveForm:'physical',
      // giftCard: false,
      // product: {
      //   name: 'Stila SPA'
      // }
    }
  },
  methods: {
    closeModal() {
      this.$emit('closeModal')
    },
    setClosePosition() {
      let wrapper = this.$refs.wrapper
      let closeBtn = this.$refs.closeBtn
      let left = 0
      let top = 0
      if (wrapper) {
        left = wrapper.getBoundingClientRect().left
        left += wrapper.offsetWidth
        left -= 22 + 29
        top = wrapper.getBoundingClientRect().top
        top += 29 + 22 + 15
      }
      if (closeBtn) {
        this.$refs.closeBtn.style.left = left + 'px'
        this.$refs.closeBtn.style.top = top + 'px'
      }
    }
  },
  computed: {
    giftCard() {
      return this.product.type_id == 2 ? true : false
    },
    recieveForm() {
      return this.response.giftcardFormat
    },
    product() {
      return this.response.items[0].product
    }
  },
	mounted() {
    this.setClosePosition()
  },
};
</script>
