<template>
	<div  class="block block-02" >
    <div class="sticky-img-wrapper">
      <div class="img-wrapper size-to-left" ref="mainImg" :style="'background-image:url('+$imagekit(content.banner.path,1600)+')'">

      <!-- v-sticky sticky-side="top" :style="'background:url('+$imagekit(content.banner.path,1600)+')'" > -->
        <!-- <div class="img" :style="'background-image:url('+$imagekit(content.banner.path,1600)+')'">
        </div> -->
        <img v-if="content.banner"
          :src="$imagekit(content.banner.path,1600)">

        <!-- <img v-if="content.banner" alt=""
          :src="content.banner.path"> -->
      </div>
    </div>

    <div class="text-right">
      <div class="text-wrapper">
        <div class="text-box humble-header" v-html="content.intro_title"></div>
        <div class="text-box body-m" v-html="content.intro_text"></div>
        <div class="text-box humble-header" v-html="content.step_by_step_title"></div>
        <div class="text-box text-box-last body-m" v-html="content.step_by_step"></div>
        <div class="text-box">
          <a class="btn btn-swipe subhead upper" href="#offers">
            {{staticStrings.buttons.apply}}
          </a>
        </div>

      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    content: null,
    staticStrings: null
  },
  data() {
    return {
      stickyOptions: {
        top: 0,
        left: 0
      }
    }
  },
  methods: {
    prepBlockAnim() {
      this.$gsap.to('.size-to-left', {
        scrollTrigger: {
          trigger: '.size-to-left',
          toggleActions: 'play none reverse none',
          start: 'bottom 110%',
          end: 'top top',

          // toggleClass: 'yolo',
          // start: 'bottom 110%',
          // end: 'top top',
          // toggleClass: {targets: '.size-to-left', className: "is-active"},
          onEnter:() => document.querySelector('.sticky-img-wrapper').classList.add('anim-left'),
          // onLeave:() => document.querySelector('.size-to-left').classList.remove('enter'),
          // onEnterBack: () => document.querySelector('.size-to-left').classList.add('enter'),
          onLeaveBack: () => document.querySelector('.sticky-img-wrapper').classList.remove('anim-left'),

        },
        // maxWidth: '44%',
        // flex: '0 0 44%',
        // duration: 0.8,
        // ToDo: add class
        // ease: 'easeIn'
      })
      // this.$gsap.to('.text-right', {
      //   scrollTrigger: {
      //     trigger: '.size-to-left',
      //     toggleActions: 'play none reverse none',
      //     start: 'bottom 110%',
      //     end: 'top top',
      //   },
      //   maxWidth: '56%',
      //   flex: '0 0 56%',
      //   duration: 0.8,
      //   ease: 'easeIn'
      // })
    }
  },
  computed: {

  },
	mounted() {
    this.prepBlockAnim()
  },
};
</script>
