<template>
	<div class="block block-01">
    <div class="block-wrapper">

       <div v-if="$mq !== 'mobile'" class="bg">
            <div class="carousel-01">
              <div class="carousel-image">
                <div v-if="content.left_images" class="img-wrapper parallax-img parallax-intro-1" :style="'background:url('+content.left_images[0].path+')'">
                  <b-image
                    :src="content.left_images[0].path"
                    ratio="4by6">
                  </b-image>
                </div>
              </div>
              <!-- <div  class="carousel-image" v-for="(image,index) in content.left_images" :key="index" :class="{'--active' : index == sliderLeft}">
                <transition name="fade-slow">
                  <div v-show="index == sliderLeft">
                    <b-image
                      :src="image.path"
                      ratio="4by6"
                    ></b-image>
                  </div>
                </transition>
              </div> -->
            </div>

            <div class="carousel-02">
              <div class="carousel-image">
                <div v-if="content.right_images" class="img-wrapper parallax-img parallax-intro-2" :style="'background:url('+content.right_images[0].path+')'">
                  <b-image
                    :src="content.right_images[0].path"
                    ratio="4by6">
                  </b-image>
                </div>
              </div>
              <!-- <div class="carousel-image" v-for="(image,index) in content.right_images" :key="index" :class="{'--active' : index == sliderRight}">
                <transition name="fade-slow">
                  <div v-show="index == sliderRight">
                    <b-image
                      :src="image.path"
                      ratio="4by6"
                    ></b-image>
                  </div>
                </transition>
              </div> -->
            </div>
          </div>


      <div class="block-content">
        <div class="top">
          <!-- <div class="intro-header epic-header blend" v-html="content.title"></div> -->
          <div class="intro-header">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 589.96 102.74" style="enable-background:new 0 0 589.96 102.74;" xml:space="preserve">
              <g>
                <path class="st0" d="M49.97,79.22c-3.46,0-6.65-0.39-9.59-1.16c-2.94-0.77-5.62-1.93-8.05-3.48c-2.43-1.55-4.59-3.51-6.5-5.88
                  l5.42-6.81c2.99,3.56,5.97,6.09,8.94,7.58c2.97,1.5,6.36,2.24,10.17,2.24c2.37,0,4.6-0.32,6.69-0.97c2.09-0.64,3.79-1.57,5.11-2.79
                  c1.32-1.21,1.97-2.67,1.97-4.37c0-1.13-0.32-2.11-0.97-2.94c-0.65-0.82-1.5-1.53-2.55-2.13c-1.06-0.59-2.27-1.1-3.64-1.51
                  c-1.37-0.41-2.77-0.76-4.22-1.04c-1.44-0.28-2.86-0.53-4.26-0.73c-3.15-0.52-5.96-1.2-8.43-2.05s-4.58-1.93-6.31-3.25
                  c-1.73-1.32-3.03-2.86-3.91-4.64c-0.88-1.78-1.32-3.83-1.32-6.15c0-2.37,0.54-4.53,1.62-6.46c1.08-1.93,2.6-3.58,4.57-4.95
                  c1.96-1.37,4.26-2.41,6.89-3.13c2.63-0.72,5.49-1.08,8.59-1.08c3.25,0,6.22,0.36,8.9,1.08c2.68,0.72,5.08,1.79,7.2,3.21
                  c2.11,1.42,3.87,3.16,5.26,5.22l-5.73,5.96c-1.24-1.7-2.68-3.15-4.33-4.33c-1.65-1.19-3.44-2.09-5.38-2.71
                  c-1.93-0.62-3.98-0.93-6.15-0.93c-2.48,0-4.66,0.31-6.54,0.93c-1.88,0.62-3.38,1.48-4.49,2.59c-1.11,1.11-1.66,2.44-1.66,3.98
                  c0,1.24,0.32,2.33,0.97,3.29c0.64,0.96,1.56,1.77,2.75,2.44c1.19,0.67,2.66,1.24,4.41,1.7c1.75,0.46,3.77,0.88,6.04,1.24
                  c2.99,0.46,5.79,1.07,8.4,1.82c2.6,0.75,4.89,1.69,6.85,2.82c1.96,1.14,3.48,2.53,4.56,4.18c1.08,1.65,1.62,3.66,1.62,6.04
                  c0,3.46-0.94,6.47-2.82,9.05c-1.88,2.58-4.53,4.58-7.93,6C58.71,78.51,54.66,79.22,49.97,79.22z"/>
                <path class="st0" d="M96.09,78.45V32.33H77.82v-8.05h45.27v8.05h-18.65v46.12H96.09z"/>
                <path class="st0" d="M150.02,78.45V52.99l1.08,5.03l-25.92-33.74h10.91l19.19,25.84l-1.86-0.08l18.18-25.77h10.06l-23.99,32.96
                  l0.7-4.88v26.08H150.02z"/>
                <path class="st0" d="M188.7,78.45V24.29h8.36V70.4h31.42v8.05H188.7z"/>
                <path class="st0" d="M239.15,78.45V24.29h40.16v8.05h-31.8V70.4h31.8v8.05H239.15z M243.41,54.7v-8.05h31.65v8.05H243.41z"/>
                <path class="st0" d="M314.67,78.45V24.29h27.86c3.15,0,6.04,0.75,8.67,2.24c2.63,1.5,4.75,3.52,6.34,6.07
                  c1.6,2.55,2.4,5.43,2.4,8.63c0,3.1-0.84,5.95-2.51,8.55c-1.68,2.61-3.9,4.68-6.65,6.23c-2.76,1.55-5.79,2.32-9.09,2.32h-18.65
                  v20.12H314.67z M323.03,50.29h18.57c1.75,0,3.35-0.41,4.8-1.24c1.44-0.82,2.6-1.93,3.48-3.33c0.88-1.39,1.32-2.91,1.32-4.56
                  c0-1.7-0.48-3.21-1.43-4.53c-0.96-1.32-2.23-2.36-3.83-3.13c-1.6-0.77-3.38-1.16-5.34-1.16h-17.56V50.29z M352.35,78.45L335.95,54
                  l8.74-1.93l17.95,26.46L352.35,78.45z"/>
                <path class="st0" d="M399.32,79.22c-4.33,0-8.32-0.71-11.95-2.13c-3.64-1.42-6.81-3.39-9.52-5.92c-2.71-2.53-4.8-5.48-6.27-8.86
                  c-1.47-3.38-2.21-7.03-2.21-10.95c0-3.92,0.74-7.57,2.21-10.95c1.47-3.38,3.56-6.33,6.27-8.86c2.71-2.53,5.88-4.5,9.52-5.92
                  c3.64-1.42,7.62-2.13,11.95-2.13c4.38,0,8.4,0.7,12.03,2.09c3.64,1.39,6.81,3.37,9.52,5.92c2.71,2.55,4.8,5.52,6.27,8.9
                  c1.47,3.38,2.21,7.03,2.21,10.95c0,3.92-0.74,7.57-2.21,10.95c-1.47,3.38-3.56,6.34-6.27,8.9c-2.71,2.55-5.88,4.53-9.52,5.92
                  S403.71,79.22,399.32,79.22z M399.4,71.1c3.15,0,6.02-0.5,8.63-1.51c2.6-1.01,4.86-2.4,6.77-4.18c1.91-1.78,3.39-3.87,4.45-6.27
                  c1.06-2.4,1.59-4.99,1.59-7.78c0-2.79-0.53-5.38-1.59-7.78c-1.06-2.4-2.54-4.49-4.45-6.27c-1.91-1.78-4.18-3.17-6.81-4.18
                  c-2.63-1.01-5.49-1.51-8.59-1.51c-3.15,0-6.04,0.5-8.67,1.51c-2.63,1.01-4.91,2.39-6.85,4.14c-1.93,1.75-3.42,3.83-4.45,6.23
                  c-1.03,2.4-1.55,5.02-1.55,7.85c0,2.79,0.52,5.39,1.55,7.82c1.03,2.43,2.51,4.51,4.45,6.27c1.93,1.75,4.22,3.13,6.85,4.14
                  C393.36,70.6,396.25,71.1,399.4,71.1z"/>
                <path class="st0" d="M465.71,79.22c-4.33,0-8.32-0.71-11.95-2.13c-3.64-1.42-6.81-3.39-9.52-5.92c-2.71-2.53-4.8-5.48-6.27-8.86
                  c-1.47-3.38-2.21-7.03-2.21-10.95c0-3.92,0.73-7.57,2.21-10.95c1.47-3.38,3.56-6.33,6.27-8.86c2.71-2.53,5.88-4.5,9.52-5.92
                  c3.64-1.42,7.62-2.13,11.95-2.13c4.38,0,8.4,0.7,12.03,2.09c3.64,1.39,6.81,3.37,9.52,5.92c2.71,2.55,4.8,5.52,6.27,8.9
                  c1.47,3.38,2.21,7.03,2.21,10.95c0,3.92-0.74,7.57-2.21,10.95c-1.47,3.38-3.56,6.34-6.27,8.9c-2.71,2.55-5.88,4.53-9.52,5.92
                  S470.09,79.22,465.71,79.22z M465.79,71.1c3.15,0,6.02-0.5,8.63-1.51c2.6-1.01,4.86-2.4,6.77-4.18c1.91-1.78,3.39-3.87,4.45-6.27
                  c1.06-2.4,1.59-4.99,1.59-7.78c0-2.79-0.53-5.38-1.59-7.78c-1.06-2.4-2.54-4.49-4.45-6.27c-1.91-1.78-4.18-3.17-6.81-4.18
                  s-5.49-1.51-8.59-1.51c-3.15,0-6.04,0.5-8.67,1.51s-4.91,2.39-6.85,4.14c-1.93,1.75-3.42,3.83-4.45,6.23
                  c-1.03,2.4-1.55,5.02-1.55,7.85c0,2.79,0.52,5.39,1.55,7.82c1.03,2.43,2.51,4.51,4.45,6.27c1.93,1.75,4.22,3.13,6.85,4.14
                  C459.75,70.6,462.64,71.1,465.79,71.1z"/>
                <path class="st0" d="M506.18,78.45V24.29h8.2l22.52,31.26l-3.41-0.08l22.59-31.18h8.05v54.16h-8.36V55.78
                  c0-4.44,0.1-8.52,0.31-12.26c0.21-3.74,0.62-7.52,1.24-11.34l0.93,3.1L537.59,62.9h-5.11l-20.35-27.55l0.85-3.17
                  c0.62,3.71,1.03,7.43,1.24,11.14c0.21,3.71,0.31,7.87,0.31,12.46v22.67H506.18z"/>
              </g>
            </svg>
          </div>
          <div class="body-l info-text" v-html="content.description"></div>
            <div class="buttons">
              <a class="btn btn-swipe subhead upper" href="#offers">
                {{staticStrings.buttons.apply}}
              </a>
              <a class="btn btn-swipe no-bg subhead upper" href="#gift-cards">
                {{staticStrings.buttons.giftCards}}
              </a>
            </div>
          </div>



        <ScrollDownPrompt v-if="$mq !== 'mobile'"></ScrollDownPrompt>
      </div>
    </div>

    <div v-if="$mq == 'mobile'" class="block-wrapper">
      <Carousel v-if="$mq == 'mobile'" :slides="imagesCombined" :slidesFitInScreen="false" :slideWidth="268" :innerWidth="innerWidth">
        <div v-for="(image,index) in imagesCombined" :key="index" class="img-wrapper" style="width:268px;height:394px;">
          <img :src="image.path" alt="">
        </div>
      </Carousel>
    </div>

  </div>
</template>
<script>
export default {
  props: {
    innerWidth: null,
    content: null,
    staticStrings: null
  },
  data() {
    return {
      sliderLeft:0,
      sliderRight:0
    }
  },
  computed: {
    imagesCombined() {
      return this.content.left_images.concat(this.content.right_images)
    }
  },
  methods: {

    loopSliders() {
      const self = this
      const slidesleft = this.content.left_images
      const slidesRight = this.content.right_images
      setInterval(() => {
        self.sliderLeft++
        if (self.sliderLeft > slidesleft.length -1) {
          self.sliderLeft = 0
        }
      }, 2800);

      setTimeout(() => {
        setInterval(() => {
          self.sliderRight++
          if (self.sliderRight > slidesRight.length -1) {
            self.sliderRight = 0
          }
        }, 3100);
      }, 1600);
    },
    openApplyModal() {
      this.$emit('openApplyModal',1)
    },
    openGiftModal() {
      this.$emit('openGiftModal')
    },
    prepParallaxAnim() {
      this.$gsap.to('.parallax-intro-1', {
        scrollTrigger: {
          trigger: '.block-01',
          toggleActions: 'start none reverse none',
          start: 'top bottom',
          scrub: true,
          end: 'bottom top'
        },
        backgroundPosition: `center 100%`,
        ease: 'Power1.easeInOut',
        duration: 2
      })
      this.$gsap.to('.parallax-intro-2', {
        scrollTrigger: {
          trigger: '.block-01',
          toggleActions: 'start none reverse none',
          start: 'top bottom',
          scrub: true,
          end: 'bottom top'
        },
        backgroundPosition: `center 100%`,
        ease: 'Power1.easeInOut',
        duration: 2
      })
    }
  },
  mounted() {
    this.loopSliders()
    console.log(this.content)
    this.$mq != 'mobile' ? this.prepParallaxAnim() : ''
  }
};
</script>
