<template>
	<div class="block block-04">
    <div class="block-wrapper" :class="$mq">
      <div class="img-wrapper parallax-img parallax-04" style="background:url('/images/block-04/01.png')">
        <b-image
         src="/images/block-04/01.png"
         ratio="13by7">
        </b-image>
        <!-- <img src="/images/block-04/01.png" alt=""> -->
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
    }
  },
  methods: {
    prepParallaxAnim() {
      this.$gsap.to('.parallax-04', {
        scrollTrigger: {
          trigger: '.block-04',
          toggleActions: 'start none reverse none',
          start: 'top bottom',
          scrub: true,
          end: 'bottom top'
        },
        backgroundPosition: `center 100%`,
        ease: 'Power1.easeInOut',
        duration: 2
      })
    }
  },
  computed: {
  },
	mounted() {
    this.$mq != 'mobile' ? this.prepParallaxAnim() : ''
    // this.prepParallaxAnim()
  },
  watch: {
  }
};
</script>
