<template>
<div class="scroll-to-wrapper">
	<div class="block block-09" id="gift-cards">
    <div class="block-wrapper" :class="$mq">
      <div class="posts-left left">
        <div v-if="content" class="humble-header" v-html="content.gift_card_title"></div>
        <div class="parallax-img parallax-posts-pre" style="background:url('/images/block-09/01.jpg?v=1.1')">
          <b-image
            src="/images/block-09/01.jpg"
            ratio="68by34">
          </b-image>
        </div>
        <div class="bottom">
          <div v-if="content" class="body-m" v-html="content.gift_card_description"></div>
          <a class="btn btn-swipe subhead upper" href="#" @click.prevent="openGiftModal">
            {{staticStrings.buttons.buy}}
          </a>
        </div>
      </div>
      <div class="posts-right right carousel-counter">
        <!-- <div class="static-block">
          <b-image
            ratio="60by36">
          </b-image>
          <div class="bot">
            <h2 class="subhead upper service-name">{{posts[0].excerpt}}</h2>
          </div>
        </div> -->
        <VueSlickCarousel @afterChange="changeSlide"
        ref="slider" class="carousel"
        v-bind="carouselSettings">
          <div v-for="(slide,index) in posts" :key="index" class="slide-card">
            <div v-if="slide.image" class="slide-card-image parallax-img parallax-posts" :style="'background:url(' + slide.image.path + ')'">
              <b-image
                :src="slide.image.path"
                ratio="60by36">

              </b-image>
            </div>
            <div v-else class="slide-card-image slide-card-image-placeholder"></div>
            <div class="slide-card-content">
                <h2 class="subhead upper service-name">{{slide.excerpt}}</h2>
                <p class="humble-header service-title">{{slide.title}}</p>
                <div class="body-m service-text" v-html="slide.body">
                </div>
                <!-- <p class="body-m service-text">{{slide.body}}</p> -->
                <!-- <p class="body-m service-contact">{{slide.contact}}</p> -->
            </div>
          </div>
        </VueSlickCarousel>

        <div class="gallery-panel" v-if="posts.length > 1">
          <div class="block-wrapper">
            <div class="carousel-counter-numbers">
              <p class="subhead">{{g_getNumberWithZero(currentSlide)}}</p>
              <p class="subhead">/</p>
              <p class="subhead">{{g_getNumberWithZero(maxSlides)}}</p>
            </div>
            <div class="carousel-controls">
              <button class="prev" @click="prevSlide">
                <img src="/images/icons/arrow_left_skin.svg" alt="">
              </button>
              <button class="next" @click="nextSlide">
                <img src="/images/icons/arrow_right_skin.svg" alt="">
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</template>
<script>
export default {
  props: {
    content: null,
    staticStrings: null,
    posts: null
  },
  data() {
    return {
      currentSlide: 1,
      carouselSettings: {
        dots: false,
        arrows: false,
        dotsClass: "slick-dots custom-dot-class",
        edgeFriction: 0.35,
        infinite: true,
        speed: 500,
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: false,
        speed: 500,
        autoplaySpeed: 4000,
        cssEase: "ease-in-out"
      },

    }
  },
  methods: {
    changeSlide(slideIndex, nextSlide) {
      this.currentSlide = slideIndex + 1
    },
    prevSlide() {
      this.$refs.slider.prev()
    },
    nextSlide() {
      this.$refs.slider.next()
    },
    openGiftModal() {
      this.$emit('openGiftModal')
    },
    prepParallaxAnim() {
      this.$gsap.to('.parallax-posts-pre', {
        scrollTrigger: {
          trigger: '.posts-left',
          toggleActions: 'start none reverse none',
          start: 'top bottom',
          scrub: true,
          end: 'bottom top'
        },
        backgroundPosition: `center 100%`,
        ease: 'Power1.easeInOut',
        duration: 2
      })

      this.$gsap.to('.parallax-posts', {
        scrollTrigger: {
          trigger: '.posts-right',
          toggleActions: 'start none reverse none',
          start: 'top bottom',
          scrub: true,
          end: 'bottom top'
        },
        backgroundPosition: `center 100%`,
        ease: 'Power1.easeInOut',
        duration: 2
      })
    }
  },
  computed: {
    maxSlides() {
      return this.posts.length
    }
  },
  mounted() {
    this.$mq != 'mobile' ? this.prepParallaxAnim() : ''
    // this.prepParallaxAnim()
  }
};
</script>
