<template>
	<div class="block block-05">
    <div class="block-wrapper" :class="$mq">
      <div class="text-wrapper">
        <h3 class="grand-header">{{staticStrings.reviews.header}}</h3>
        <p v-if="reviews.length > 0" class="subhead upper">{{staticStrings.reviews.subhead}}</p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    reviews:null,
    staticStrings:null
  },
};
</script>
