<template>
<div class="scroll-to-wrapper block block-07-wrapper">

	<div class="block block-07" :class="$mq">

    <div class="block-wrapper lg" id="blockWrapper" ref="blockWrapper">
      <div v-if="!slidesFitInScreen" :class="$mq" id="offers">
        <p class="subhead upper block-header mb-m">{{staticStrings.headers.offers}}</p>
      </div>
      <Carousel v-if="slides.length > 0" :slides="slides" :slidesFitInScreen="slidesFitInScreen" :slideWidth="$mq == 'lg' ? 502 : 328" :innerWidth="innerWidth">
        <div v-if="slidesFitInScreen" class="block-wrapper" :class="$mq" id="offers">
          <p class="subhead upper block-header mb-m">{{staticStrings.headers.offers}}</p>
        </div>
        <ProductSlide v-for="(slide,index) in slides"
          :slide="slide"
          :staticStrings="staticStrings"
          :key="index"
          @openApplyModal="openApplyModal($event)">
        </ProductSlide>
      </Carousel>
    </div>

  </div>
</div>
</template>
<script>
export default {
  props: {
    innerWidth: null,
    products: null,
    staticStrings:null
  },
  data() {
    return {
      blockWrapper: null
    }
  },
  methods: {
    openApplyModal(id) {
      this.$emit('openApplyModal',id)
    }
  },
  computed: {
    slidesFitInScreen() {
      if (this.blockWrapper) {
        let width = this.slides.length * this.slideWidth
        let wrapperWidth = this.blockWrapper.clientWidth
        console.log('BLOCK - ' + width)
        console.log('WRAPPER - ' + wrapperWidth)
        console.log('sliceWidth - ' + this.slideWidth)
        console.log(this.$mq)
        if (width < wrapperWidth) {
          return true
        }
        return false
      }
      return false


    },
    slideWidth() {
      return 328;
      return this.$mq == 'lg' ? 328 : 328
    },
    slides() {
      return this.products.map((product) => {
        if (product.variations.length > 0 && product.default !== null) {
          let price = product.default !== null ? product.default.price.amount : '000'
          price = this.g_transformPrice(price)
          return {
            id:product.id,
            title:product.name,
            price:price,
            text:product.description,
            points:product.excerpt
          }
        }
      });
    }
  },
	mounted() {
    let me = this
    window.setTimeout(() => {
      me.blockWrapper = me.$refs.blockWrapper
    }, 100);
  },
  watch: {
  }
};
</script>
