<template>
	<div class="block block-06">
    <div class="block-wrapper lg" ref="blockWrapper">
      <Carousel :slides="reviews" :slideWidth="$mq !== 'mobile' ? 764 : 328" :innerWidth="innerWidth">
        <ReviewSlide v-for="(slide,index) in reviews" :slide="slide" :key="index"></ReviewSlide>
      </Carousel>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    innerWidth: null,
    reviews: null
  },
  data() {
    return {
    }
  },
  methods: {
  },
  computed: {
    slidesFitInScreen() {
      if (this.blockWrapper) {
        let width = this.slides.length * this.slideWidth
        let wrapperWidth = this.blockWrapper.clientWidth
        if (width < wrapperWidth) {
          return true
        }
        return false
      }
      return false


    },
    slideWidth() {
      return this.$mq == 'lg' ? 502 : 328
    },
    slides() {
      return this.reviews
    }
  },
	mounted() {
  },
  watch: {
  }
};
</script>
