<template>
<div class="scroll-to-wrapper">
	<div v-if="stylists !== null" class="block block-03">
    <div v-if="$mq !== 'mobile'" class="block-wrapper" :class="$mq">
      <div v-for="(stylist,stylistIndex) in stylistImgs" :key="stylistIndex" class="stylist-imgs" :class="{'active' : hoverStylist == stylistIndex}">
        <div v-for="(stylistImg,imgIndex) in stylist" :key="imgIndex" class="floating-img" :class="'img-'+(imgIndex+1)">
          <img :src="stylistImg" alt="">
           <!-- <transition name="fade-slow">
            <img v-if="hoverStylist == stylistIndex" :src="stylistImg" alt="">
          </transition> -->
        </div>
      </div>
      <!-- <div v-for="(block,blockIndex) in 4" :key="blockIndex" class="floating-img" :class="'img-'+(blockIndex+1) + ' stylist-'+hoverStylist">
        <div v-for="(sylist,imgIndex) in stylistImgs" :key="`imgIndex-${imgIndex}`" class="img-wrapper --parallax-img parallax-stylist" :class="'stylist-img-'+imgIndex">
          <img :src="(stylistImgs[imgIndex][blockIndex]) | statically(300)" >
        </div>
      </div> -->
      <p class="subhead upper block-header">{{staticStrings.headers.stylists}}</p>
      <div class="artists-list">
        <button v-for="(sylist,sylistIndex) in stylists" :key="`imgIndex-${sylistIndex}`"
        class="artist spacious-header" href="#"
        @click="openModal(sylist.id)" @mouseenter="hoverStylist = sylist.id"
        @mouseleave="hoverStylist = 0">
          <span class="subhead number">{{sylistIndex+1}}.</span>
          {{sylist.name}} {{sylist.surname}}
        </button>
      </div>
    </div>
    <div v-else class="block-wrapper">
      <p class="subhead upper block-header">stila istabas stilisti</p>
      <div v-for="(sylist,index) in stylists" :key="index" >
        <button
        class="artist spacious-header" href="#"
        @click="openModal(sylist.id)">
          <img src="/images/icons/link.svg" alt="">
          <span class="subhead number">{{index+1}}.</span>
          <span class="artist-name">{{sylist.name}} {{sylist.surname}}</span>
        </button>
        <Carousel :slidesFitInScreen="false" v-if="stylists[index]" :slides="stylists[index].main_images" :slideWidth="268" :innerWidth="innerWidth">
          <div @click="openModal(sylist.id)" v-for="(image,index) in stylists[index].main_images" :key="index" class="img-wrapper" style="width:268px;height:394px;">
            <img :src="image.path" alt="">
          </div>
        </Carousel>
      </div>
    </div>
  </div>
</div>
</template>
<script>
export default {
  props: {
    stylists: null,
    innerWidth: null,
    staticStrings: null
  },
  data() {
    return {
      popUpOpen: false,
      hoverStylist: 0,
      stylistImgs: null
    }
  },
  methods: {
    initStylistImgs() {
      let blocks = {}
      let profileImages = []
      let stylists = this.stylists
      stylists.forEach(stylist => {
        if (stylist.profile_image) {
          profileImages.push(stylist.profile_image.path)
        } else {
          profileImages.push(null)
        }
      })
      blocks[0] = profileImages
      stylists.forEach(stylist => {
        let images = stylist.main_images.map((image) => {
          if (image.path) {
            return image.path
          }
          return null
        })
        blocks[stylist.id] = images
      });
      return blocks
    },
    openModal(stylistIndex) {
      this.$emit('openStylistModal',stylistIndex);
    },
    prepParallaxAnim() {
      this.$gsap.to('.parallax-stylist', {
        scrollTrigger: {
          trigger: '.block-03',
          toggleActions: 'start none reverse none',
          start: 'top bottom',
          scrub: true,
          end: 'bottom top'
        },
        backgroundPosition: `center 100%`,
        ease: 'Power1.easeInOut',
        duration: 2
      })
    }
  },
  computed: {
    // stylistImgs() {
    //   let blocks = {}
    //   let profileImages = []
    //   let stylists = this.stylists
    //   stylists.forEach(stylist => {
    //     if (stylist.profile_image) {
    //       profileImages.push(stylist.profile_image.path)
    //     } else {
    //       profileImages.push(null)
    //     }
    //   })
    //   blocks[0] = profileImages
    //   stylists.forEach(stylist => {
    //     let images = stylist.main_images.map((image) => {
    //       if (image.path) {
    //         return image.path
    //       }
    //       return null
    //     })
    //     blocks[stylist.id] = images
    //   });
    //   return blocks
    // }
  },
	mounted() {
    // this.prepParallaxAnim()
    this.stylistImgs = this.initStylistImgs()
  },
  watch: {
    // hoverStylist(newVal,oldVal) {
    //   this.prepParallaxAnim()
    // }
  }
};
</script>
