<template>
	<div class="block block-08">
    <div class="block-wrapper" :class="$mq">
      <div v-if="content.image_left" class="img-left parallax-img" :style="'background:url('+content.image_left.path+')'">
        <b-image
          :src="content.image_left.path"
          ratio="63by66">
        </b-image>
      </div>
      <div class="text-body">
        <div class="humble-header text-body-header" v-html="content.title">
        </div>
        <div class="body-m text-body-main" v-html="content.text"></div>
        <a class="btn btn-swipe subhead upper" href="#" @click.prevent="openModal">
          {{staticStrings.buttons.view}}
        </a>
      </div>
      <div v-if="content.image_right" class="img-right parallax-img" :style="'background:url('+content.image_right.path+')'">
        <b-image
          :src="content.image_right.path"
          ratio="19by66">
        </b-image>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    content:null,
    staticStrings:null
  },
  data() {
    return {
    }
  },
  methods: {
    prepParallaxAnim() {
      let slowMo = this.$SlowMo
      this.$gsap.to('.parallax-img', {
        scrollTrigger: {
          trigger: '.block-08',
          toggleActions: 'none none none none',
          start: 'top bottom',
          scrub: true,
          end: 'bottom top'
        },
        backgroundPosition: `center 100%`,
        ease: 'Power1.easeInOut',
        duration: 6
      })
    },
    openModal() {
      this.$emit('openFaqModal')
    }
  },
  computed: {
  },
	mounted() {
    this.prepParallaxAnim()
  },
  watch: {
  }
};
</script>
